<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon/fav24.png" type="image/x-icon">
    <title>Bhadradri Kothagudem Police Department </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/style2.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

</head>

<body>
    <section>
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body">
                <div class="">                    
                    <a href="tel:100" >
                        <img class="dial100" src="/images/dial100Helpline.png" alt="Second slide" width="120px" height="76px">
                    </a>
                    <a href="tel:1930" >
                        <img class="cyberHelp" src="/images/cyberHelpline.png" alt="Second slide" width="120px" height="76px">
                    </a>
                </div>
            </div>
        </div>
        <header class="site-navbar js-sticky-header site-navbar-target " role="banner">
            <div class="d-flex site-nav-div">
                <a href="/" class="mainlogo">
                    <img src="/images/bk-logo.jpeg" alt="logo" width="400px" height="76px">
                </a>
                <div class="ml-auto helpLines mr-2">                    
                    <a href="tel:100" class="mr-3">
                        <img class="dial100" src="/images/dial100Helpline.png" alt="Second slide" width="200px" height="76px">
                    </a>
                    <a href="tel:1930" >
                        <img class="cyberHelp" src="/images/cyberHelpline.png" alt="Second slide" width="200px" height="76px">
                    </a>
                </div>
            </div>
            <div>
                <div class="row align-items-center position-relative nav-row">
                    <div class="col-12">
                        <nav class="site-navigation" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav justify-content-center mx-auto d-flex">
                                <li><a href="/" class="nav-link">HOME</a></li>
                                <li class="has-children">
                                    <a href="#" class="nav-link">ABOUT</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/previous-commissioners">Previous Commissioners</a></li>
                                        <li><a href="pdfs/martyrs new update.pdf" target="_blank">Martyrs</a></li>
                                        <li><a href="/vision-and-mission">Vision and Mission</a></li>
                                        <li><a href="pdfs/achrev-converted.pdf" target="_blank">Achievements and Rewards</a></li>
                                    </ul>
                                </li>
                                <li><a href="/organization-structure" class="nav-link">ORGANIZATION STRUCTURE</a></li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">CITIZEN SERVICES</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="https://www.tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank">Lodge a Petition</a></li>
                                        <li><a href="https://tspolice.gov.in/jsp/citizenServices?method=checkPetitionStatus" target="_blank">Check Petititon Status</a></li>
                                        <li><a href="https://www.tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank" class="nav-link">View/Print FIR</a></li>
                                        <li><a href="https://echallan.tspolice.gov.in" target="_blank" class="nav-link">e-Challan Status</a></li>
                                        <li><a href="https://passportindia.gov.in/AppOnlineProject/statusTracker/trackStatusInpNew" target="_blank" class="nav-link">Passport Verification Status</a></li>
                                        <li><a href="https://pvc.tspolice.gov.in/policeverificationandclearence" target="_blank" class="nav-link">PCC/PVC</a></li>
                                        <li><a href="https://indianfrro.gov.in/frro/" target="_blank" class="nav-link">Foreigner Online Registration</a></li>
                                        <li><a href="/frequently-asked-questions">Frequently Asked Questions</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#" class="nav-link">WINGS</a>
                                    <ul class="dropdown arrow-top">
                                    <li><a href="/wingsData?wing=AO DPO">AO DPO</a></li>
                                        <li><a href="/wingsData?wing=DSB">District Special Branch</a></li>
                                        <li><a href="/wingsData?wing=SB-2">SB-2</a></li>
                                        <li><a href="/wingsData?wing=DCRB">Cyber Crimes</a></li>
                                        <li><a href="/wingsData?wing=IT CELL">IT Cell</a></li>
                                        <li><a href="/wingsData?wing=She team">SHE Teams</a></li>
                                        <li><a href="/wingsData?wing=Bharosa">BHAROSA</a></li>
                                        <li><a href="/wingsData?wing=Clues Team">C/a></li>
                                        <li><a href="/wingsData?wing=AHTU">Anti Human Trafficking Unit</a></li>
                                        <li><a href="/wingsData?wing=Cyber cell">Cyber cell</a></li>
                                         <li><a href="/wingsData?wing=Bharosa">BHAROSA</a></li>
                                        <li><a href="/wingsData?wing=CCS">CCS</a></li>
                                        <li><a href="/wingsData?wing=RI Admin">RI Admin</a></li>
                                        <li><a href="/wingsData?wing=RI MTO">RI MTO</a></li>
                                        <li><a href="/wingsData?wing=RI Operations">RI Operations</a></li>
                                        <li><a href="/wingsData?wing=RI Welfare">RI Welfare</a></li>
                                        <li><a href="/wingsData?wing=RI Home Guards">RI Home Guards</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">OTHER SERVICES</a>
                                    <ul class="dropdown arrow-top">
                                        <li class="has-children">
                                            <a href="#">Cyber Crime Awareness</a>
                                            <ul class="dropdown">
                                                <li><a href="/online-banking-frauds">Online Banking Frauds</a></li>
                                                <li><a href="/ecommerce-frauds">e-Commerce Frauds</a></li>
                                                <li><a href="/identity-theft">Identity Theft</a></li>
                                                <li><a href="/lottery-fraud">Lottery Fraud</a></li>
                                                <li><a href="/tips-to-keep-you-safe">Tips to keep you safe</a></li>
                                                <li><a href="/online-loan-app-frauds">Online Loan App Frauds</a></li>
                                                <li><a href="/virus-attack-and-ransomware">Virus Attack & Ransomware</a></li>
                                                <li><a href="/social-media-frauds">Social Media Frauds</a></li>
                                                <li><a href="/job-frauds">Job Frauds</a></li>
                                                <li><a href="/cyber-hygiene-for-children">Cyber Hygiene for Children</a></li>
                                                <li><a href="/matrimonial-frauds">Matrimonial Frauds</a></li>
                                                <li><a href="/cyber-bullying">Cyber Bullying</a></li>
                                                <li><a href="/olx-frauds">OLX Frauds</a></li>
                                                <li><a href="/crypto-currency-fraud">Crypto Currency Fraud</a></li>
                                                <li><a href="/cyber-hygiene-for-women">Cyber Hygiene for Women</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Drugs Awareness</a>
                                            <ul class="dropdown">
                                                <li><a href="/drugs-overview-overview">Overview</a></li>
                                                <li><a href="/harmful-effects-of-drugs">Harmful effects of drugs</a></li>
                                                <li><a href="/relevant-sections-of-ndps">NDPS Act and Other Circuars</a></li>
                                                <li><a href="/overcoming-drug-addiction">Overcoming Drug Addiction</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/protection-of-sc-st">Protection of Weaker Sections</a></li>
                                        <li class="has-children">
                                            <a href="#">Road Safety</a>
                                            <ul class="dropdown">
                                                <li><a href="/road-safety-awareness">Overview</a></li>
                                                <li><a href="/NHs-and-SHs-in-Bhadradri Kothagudem">NHs & SHs in Bhadradri Kothagudem</a></li>
                                                <li><a href="pdfs/mvact.pdf" target="blank">MV Act</a></li>
                                                <li><a href="https://echallan.tspolice.gov.in" target="_blank">e-Challan</a></li>
                                                <li><a href="/road-safety-preventive-measures">Preventive Measures</a></li>
                                                <li><a href="/road-safety-precautions">Road Safety Precautions</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/safety-tips">Other Safety Tips</a></li>
                                        <li><a href="/abandonedVehicles" class="nav-link">Abandoned Vehicles List</a></li>
                                        <li><a href="/tourist-policing" class="nav-link">Tourist Policing</a></li>
                                        <li><a href="/sucide-prevention" class="nav-link">Suicide Prevention</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">WOMEN'S CORNER</a>
                                    <ul class="dropdown arrow-top multi-col">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/prevent-abuse-of-498A">Prevent Abuse of 498 A</a></li>
                                                    <li><a href="/affair-proof-of-your-relationship">Affair Proof of Your Relationship</a></li>
                                                    <li><a href="/building-healthy-relationship">Building Healthy Relationship</a></li>
                                                    <li><a href="/signs-of-cheating-husband">Signs of Cheating Husband</a></li>
                                                    <li><a href="/dowry-harassment">Dowry Harassment</a></li>
                                                    <li><a href="/domestic-violence">Domestic Violence</a></li>
                                                    <li><a href="/eve-teasing">Eve Teasing</a></li>
                                                    <li><a href="/how-to-save-your-marriage">How To Save Your Marriage</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/living-alone">Living Alone</a></li>
                                                    <li><a href="/marital-problems">Marital Problems - Stress</a></li>
                                                    <li><a href="/marrying-nri">Marrying NRI?</a></li>
                                                    <li><a href="/planning-to-marry">Planning To Marry</a></li>
                                                    <li><a href="/how-do-i-prevent-sucide">How Do I Prevent Suicide?</a></li>
                                                    <li><a href="/prevent-rape">Rape</a></li>
                                                    <li><a href="/reporting-dowry-harassment">Reporting Dowry Harassment</a></li>
                                                    <li><a href="/rights">Rights</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/sexual-harassment-at-work">Sexual Harassment at Work</a></li>
                                                    <li><a href="/shelter-homes">Shelter Homes</a></li>
                                                    <li><a href="/tips-for-healthy-marriage">Tips for Healthy Marriage Life</a></li>
                                                    <li><a href="/choosing-partner-from-matrimonial-sites">Choosing a Partner From Matrimonial Sites</a></li>
                                                    <li><a href="/coping-with-husband-alchoholism">Coping with Husband's Alchoholism</a></li>
                                                    <li><a href="/chairman-lok-adalat">Chairman Lok Adalat</a></li>
                                                    <li><a href="/women-protection-officers">Women Protection Officers</a></li>
                                                    <li><a href="/secretary-district-legal-services-authority">Secretary District Legal Services Authority</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="/notifications" class="nav-link">NOTIFICATIONS</a></li>
                                <li><a href="/contacts" class="nav-link">CONTACTS</a></li>
                            </ul>
                        </nav>

                    </div>

                    <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle js-menu-toggle text-black navIcon"><span class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>
    </section>

    @!section('content')

    <!-- Footer -->
    <section class="footer">
        <div class="container">
            <div class="copyright">
                <a href="https://instagram.com/cpwrlc" style="color: white" target="_blank">Follow us on Instagram <i class="fab fa-instagram"></i></a>
                <a class="ml-3" href="https://api.whatsapp.com/send/?phone=919491089257&text&app_absent=0" style="color: white" target="_blank">Whatsapp Complaints <i class="fab fa-whatsapp"></i></a><br><br>
                Address: Bhadradri, 1-1, Ramalayam Street, Babucamp, Kothagudem, Telangana 507101. <br>
                <p class="Bhadradri Kothagudemredirect"><b>To Reach "Department  Office", <a href=https://www.google.com/maps/place/Bhadradri Kothagudem+Police+Headquaters/@18.0095009,79.5573067,18z/data=!4m12!1m6!3m5!1s0x3a334f7deb34d6cf:0xcfc231835a4b1c25!2sPolice+Head+Quarters+Hanamkonda!8m2!3d18.0095876!4d79.5583152!3m4!1s0x3a334f7dc7288779:0xf340dc3e00659771!8m2!3d18.0092123!4d79.5585528.html" target= "_blank">click here for location</a></b></p> <br>
                Content on this website is published and managed by IT Cell, Bhadradri Kothagudem Police Department . <br>
                For any queries and suggestions regarding this website please <strong>Email to itcoreteam-wrlc[at]tspolice[dot]gov[dot]in</strong> <br><br>
                <strong>Designed, Developed and Powered by <a href="https://www.xlenz.us" target="_blank" class="text1">XLenz Inc USA</a></strong><br>
                 Last Updated: 27.06.2022
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/wow.js"></script>
</body>

</html>
