@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Abandoned Vehicles</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="aboutLinks">
    <div class="container">
        <div class="aboutLinksDiv">
        <div class="contentImg">
                <img src="images/abandonedvehicles.jpeg" alt="" class="img-fluid">
            </div>
            <a href=" Vehicles Details 1st Phase.pdf" target="_blank">Abandoned Vehicles List in year 2021, Please Click here.</a><br>
            <a href="Auction of Vehcles 2nd Phase.pdf" target="_blank">Abandoned Vehicles List in year 2021, Please Click here.</a><br>
            <a href="Vehicles Dtetails 3rd Phase.pdf" target="_blank">Abandoned Vehicles List in year 2021, Please Click here.</a><br>
            </div>
    </div>
</div>
@endsection