@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Bharosa</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="contactsData/bharosa1.jpg" alt="" class="img-fluid">
                <img src="contactsData/bharosa2.jpg" alt="" class="img-fluid">
                <img src="contactsData/bharosa3.jpg" alt="" class="img-fluid">
                <img src="contactsData/bharosa4.jpg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
            <h3>BHAROSA</h3>
            </div>
            <p>BHAROSA was established on 29.06.2020 in Bhadradri Kothagudem Police Department  for the protection of women and children with logistic help, funding and support from the Department of Women and Child Development, Telangana. The day-to-day operations of BHAROSA are handled by the Police Department, which supports its infrastructure and lends organizational strength. BHAROSA is aimed at providing integrated support to women and children who have been subjected to physical, sexual, financial or emotional abuses. Victims approaching BHAROSA have unhindered access to all the support services that they need to overcome their abusive and oppressive circumstances and lead a joyful life thereafter.</p>
            <br>
            <p>Anyone knocking on the doors of BHAROSA will have immediate access to specialized services. Assistance is provided in an integrated manner through a slew of Police, Medical, Legal and prosecution services apart from Psychotherapeutic Counseling. This multi-pronged assistance culminates in relief and rehabilitation as per the requirements. That is, BHAROSA support center works on a holistic convergence approach where a victim in distress will get all the help and support at one place away from police stations and hospitals. The objective of the centre is to reduce re-victimization of women and children affected by violence and sexual abuse.
Bharosa was setup under the registration of AP Societies Registrations Act 2001. The society has obtained tax exemption under Section 80-G and 12-A of Income Tax Act.
</p>
            <br>
            <p>Bharosa was setup under the registration of AP Societies Registrations Act 2001. The society has obtained tax exemption under Section 80-G and 12-A of Income Tax Act.</p>
            <br>
           </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>HOW IT WORKS</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Bharosa’s main mandate is to support victims of Rape and those cases registered under the POCSO Act.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> All victims of cases of Rape and under POCSO Act are sent to Bharosa Centre for carrying out the mandatory provisions of medical examination, recording of 161 Cr.P.C statement and 164 Cr.P.C statement.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> A lady police officer at Bharosa helps any client who requires police assistance in filing an FIR/DIR and follow up with the concerned police station. She also records the 161 Cr.P.C statement for all rape and POCSO Act cases.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> 164 Cr.P.C statement is recorded via video conferencing by the Magistrate.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Permissions to set up a medical facility has been obtained from the Health Department. Currently two Medical Officers have been deputed to conduct and collect medical evidence in the Medical facility in Bharosa.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> The onsite ANM provides immediate medical support to victims in emergencies and provides assistance to clients in the process of medical examinations and medical evidence collection.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> “BHAROSA” works on a holistic convergence approach where a victim in distress can also get all the help and support required for resolving domestic violence issues, redressal and rehabilitation at one place.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Every client is assigned to a well-trained counsellor who takes detailed notes of the client’s circumstances. After assessing the need of the client, the counsellor facilitates further process based on the need analysis.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> A legal counsellor is available to provide legal advice and support to facilitate legal process and take it to its logical end.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Clinical psychologists provide therapeutic counselling for victims of violence and in cases of domestic violence, counselling for the couple and the family as need be.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Wherever the client is in need of expert or specialized services, they are referred to an expert in the field from our panel members. We are working towards increasing our network to benefit our clients.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Each case is first registered in a systematic manner in specially developed dynamic software.</p> <br>
                <p><b>Address:</b> Bharosa Centre, Excise Colony, Subedari, Hanamkonda, Telangana 506001.</p>
            </div>
        </div>
        <!--Table -->
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>BHAROSA CENTRE ROLE BHADRADRI KOTHAGUDEM</h3>
            </div>
            <div class="aboutTable">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Phone Numbers</th>
                            <th scope="col">Gmail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>    
                          <td>1</td>
                          <td>MALLAIAH SWAMY</td>
                          <td>DySP</td>
                          <td>9440767199</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>NAGARAJU REDDY</td>
                          <td>IOP</td>
                          <td>8712682151</td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>RAMADEVI</td>
                            <td>SI</td>
                            <td>8341302507</td>
                            <td>rdrsi1995@gmail.com</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>VASAMPALLY RENUKA</td>
                            <td>COUNSELLOR CUM CO-ORDINATOR</td>                            
                            <td>7569717959</td>
                            <td>renukavasampally653@gmail.com</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>GADDADA SIREESHA</td>
                            <td>LEGAL SUPPORT PERSON</td>
                            <td>6303345994</td>
                            <td>sireeshagaddada78@gmail.com</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>EESAM AMBIKA</td>
                            <td>RURAL SUPPORT PERSON</td>
                            <td>9640321332</td>
                            <td>ambikaeesam027@gmail.com</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>ALLEM SANDHYA RANI</td>
                            <td>ANM</td>
                            <td>9618259201</td>
                            <td>sandhyaallem123@gmail.com</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>CHINTHA ANUSHA</td>
                            <td>RECPTIONIST/DATA ENTRY OPERATOR CUM ACCOUNTANT</td>
                            <td>9550133189</td>
                            <td>chinthaanusha208@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
        <p class="bharosaRedirect"><b>To Reach "Bharosa", <a href="https://www.google.com/maps/place/BHAROSA+CENTRE/@17.9990367,79.5456699,21z/data=!4m12!1m6!3m5!1s0x0:0x8c63c6a560239504!2sBHAROSA+CENTRE!8m2!3d17.9991203!4d79.5456868!3m4!1s0x0:0x8c63c6a560239504!8m2!3d17.9991203!4d79.5456868.html" target= "_blank">click here for location</a></b></p>
    </div>
</section>
@endsection