@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Signs of a Cheating Husband</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="contentSection">
        <div class="container">
            <div class="contentImg">
                <img src="images/womensCorner/signs of cheating husband.webp" alt="" class="img-fluid">
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentPara">
                    <p> One of the most common ways you can detect if your partner is cheating is by looking out for changes in his day-to-day routine and behaviour. If your partner is having an affair, it is quite likely that he will start acting differently. This is because we all settle into certain routines when things are regular and normal so it is only natural that if something changes in our lives then things get thrown off course and we start doing things differently. These changes in your husband's routine can be giveaway clues that he's seeing someone else but can be so easily missed.</p><br>
                    <p> <strong> Have you detected any of the following? </strong></p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he become short tempered with your children?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Does he want to be out more now whereas before he was happy to be at home with you?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Does he stay awake later a night? This may be so that he can call, SMS or email 'her' once you've gone to bed or simply in the hope that you'll be asleep before sleeps.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Suspicious cell phone behaviour - Has he become possessive of his cell phone? Does he keep it close and doesn't allow anyone to see? Men who cheat use their cell phone to communicate with the other women. Unless they are sometime they use their home phone number. Look for him erasing his call logs and messages constantly.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Does he insist on answering the phone and talks in coded mode if you are around or feels uncomfortable by your presence?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he become more possessive towards his wallet, pocket calendar or briefcase?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he started avoiding you in the home? Doesn’t look into your eyes straight?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Does he go out for longer and more frequent walks?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> No more arguing - Has he become docile when arguments arise? Men do not like confrontation when they are cheating, they will do whatever it takes to avoid any type of heated confrontation.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he lost interest in things he used to be passionate about, say a particular sport or a particular hobby?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> All of a sudden has he starts talking about getting together with old friends he hasn't seen in years and about whom he has never spoken of to you?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Have you noticed him suddenly being more knowledgeable about women's clothing, perfume or jewellery? If so, he could be buying gifts for another woman.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he started to take an interest in something that you know he was never previously bothered about?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he stopped lying clothes around and started doing his own washing, maybe because there are revealing smells or marks on them?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he started encouraging you to go alone to visit parents or friends now a day?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Has he started attending extended seminars/official/business trips or going on tours frequently which he never used to?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> He started keeping things in the bag in his car or office, apparently for a workout in the things night itself.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Does he make a point of keeping the car/bike free of things belonging to you or the kids?</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Did he remember things he had forgotten to do at the office and wants to leave immediately at odd hours?</p>
                    </div>
            </div>
        </div>
    </section>
@endsection