@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Contacts</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container-fluid">
        
        <div class="contentSectionHeading">
                <h3 class="mb-0"></h3>
            </div>
            <div class="PSTable mb-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">SI.No</th>
                            
                            <th scope="col">Name of the Officer and Rank</th>
                            
                            <th scope="col">Designation</th>
                            
                            <th scope="col">Office Phone Number</th>
                            
                            <th scope="col">Mobile No</th>
                            
                            <th scope="col">Email ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>1</td>
                            
                            <td>B Rohith Raju IPS
Superintendet of Police </td>
                            
                            <td>SP</td>
                            
                            <td>8712682014</td>
                            
                            <td>8712682000</td>
                            
                            <td>sp-bkgm@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>2</td>
                            
                            <td>Parithosh Pankaj IPS</td>
                            
                            <td>Addl.SP(Optns)</td>
                            
                            <td>8712682149</td>
                            
                            <td>8712682002</td>
                            
                            <td>addlsp-opns-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        
        <div class="contentSection">
            <div class="contentSectionHeading">
                <h3 class="mb-0">Kothagudem Division</h3>
            </div>
            <div class="PSTable mb-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sl.No</th>
                            
                            <th scope="col">PS/DIVISION</th>
                            
                            <th scope="col">Name of the Officer and Rank</th>
                            
                            <th scope="col">Office Phone Number</th>
                            
                            <th scope="col">Mobile No</th>
                            
                            <th scope="col">Email ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>1</td>
                            
                            <td>SDPO Kothagudem</td>
                            
                            <td>SK.Abdul Rahaman</td>
                            
                            <td>8712682016</td>
                            
                            <td>8712682005</td>
                            
                            <td>sdpo-kgm-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>2</td>
                            
                            <td>CI Chunchupally</td>
                            
                            <td>R Venkateswarlu</td>
                            
                            <td>8712682032</td>
                            
                            <td>8712682031</td>
                            
                            <td>ci-ccpl-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>3</td>
                            
                            <td>CI Kothagudem Rural</td>
                            
                            <td>N. Indrasena Reddy</td>
                            
                            <td>8712682040</td>
                            
                            <td>8712682039</td>
                            
                            <td> ci-jpd-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>4</td>
                            
                            <td>Kothagudem I Town PS</td>
                            
                            <td>T.Karunakar</td>
                            
                            <td>8712682018</td>
                            
                            <td>8712682017</td>
                            
                            <td>sho-kgm1t-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>5</td>
                            
                            <td>Kothagudem II Town PS</td>
                            
                            <td>T.Ramesh Kumar</td>
                            
                            <td>8712682022</td>
                            
                            <td>8712682021</td>
                            
                            <td>sho-kgm2t-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>6</td>
                            
                            <td>Kothagudem III Town PS</td>
                            
                            <td>Shiva Prasad</td>
                            
                            <td>8712682026</td>
                            
                            <td>8712682025</td>
                            
                            <td>sho-kgm3t-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>7</td>
                            
                            <td>Chandrugonda PS</td>
                            
                            <td>Machineni Ravi</td>
                            
                            <td>8712682044</td>
                            
                            <td>8712682043</td>
                            
                            <td>sho-chgd-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>8</td>
                            
                            <td>Julurpad PS</td>
                            
                            <td>I. Jeevan Raju</td>
                            
                            <td>8712682042</td>
                            
                            <td>8712682041</td>
                            
                            <td>sho-jpd-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>9</td>
                            
                            <td>Annapureddipalli PS</td>
                            
                            <td>S.Chandrasekhar</td>
                            
                            <td>8712682046</td>
                            
                            <td>8712682045</td>
                            
                            <td>sho-anpl-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>10</td>
                            
                            <td>Sujathanagar PS</td>
                            
                            <td>Sk. Jubeda begum</td>
                            
                            <td>8712682038</td>
                            
                            <td>8712682037</td>
                            
                            <td>sho-sjnr-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>11</td>
                            
                            <td>Laxmidevipalli PS</td>
                            
                            <td>G. Ramana Reddy</td>
                            
                            <td>8712682036</td>
                            
                            <td>8712682035</td>
                            
                            <td>sho-ldpl-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>12</td>
                            
                            <td>Chunchupalli PS</td>
                            
                            <td>G. Praveen Kumar</td>
                            
                            <td>8712682034</td>
                            
                            <td>8712682033</td>
                            
                            <td>sho-ccpl-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>13</td>
                            
                            <td>Kothagudem Traffic PS</td>
                            
                            <td>K.Naresh</td>
                            
                            <td>8712682030</td>
                            
                            <td>8712682029</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="contentSection">
            <div class="contentSectionHeading">
                <h3 class="mb-0">Polaoncha  Division</h3>
            </div>
            <div class="PSTable mb-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sl.No</th>
                            
                            <th scope="col">PS/DIVISION</th>
                            
                            <th scope="col">Name of the Officer and Rank</th>
                            
                            <th scope="col">Office Phone Number</th>
                            
                            <th scope="col">Mobile No</th>
                            
                            <th scope="col">Email ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>1</td>
                            
                            <td>SDPO Paloncha </td>
                            
                            <td> R. Sathish Kumar </td>
                            
                            <td>8712682047</td>
                            
                            <td>8712682008</td>
                            
                            <td>sdpo-pvc-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>2</td>
                            
                            <td>CI  Paloncha </td>
                            
                            <td>V.Vinay Kumar</td>
                            
                            <td>8712682049</td>
                            
                            <td>8712682048</td>
                            
                            <td>ci-pvc-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>3</td>
                            
                            <td>CI ASWRAOPETA</td>
                            
                            <td>nan</td>
                            
                            <td>8712682061</td>
                            
                            <td>8712682060</td>
                            
                            <td>ci-aspet-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>4</td>
                            
                            <td>Paloncha Town PS</td>
                            
                            <td>Banala Ramu</td>
                            
                            <td>8712682051</td>
                            
                            <td>8712682050</td>
                            
                            <td>sho-pvct-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>5</td>
                            
                            <td>Paloncha Rural PS</td>
                            
                            <td>B. Sreenu </td>
                            
                            <td>8712682054</td>
                            
                            <td>8712682053</td>
                            
                            <td>sho-pvcr-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>6</td>
                            
                            <td>Burgamphad PS</td>
                            
                            <td>E Raj kumar</td>
                            
                            <td>8712682056</td>
                            
                            <td>8712682055</td>
                            
                            <td>sho-bpd-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>7</td>
                            
                            <td>Mulkalapalli PS</td>
                            
                            <td>K.Rajasekhar</td>
                            
                            <td>8712682059</td>
                            
                            <td>8712682058</td>
                            
                            <td>sho-mlkp-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>8</td>
                            
                            <td>Aswaraopet PS</td>
                            
                            <td>P.Shiva Rama Krishna </td>
                            
                            <td>8712682063</td>
                            
                            <td>8712682062</td>
                            
                            <td>sho-aspet-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>9</td>
                            
                            <td>Dammapet PS</td>
                            
                            <td> B. Sai Kishore Reddy</td>
                            
                            <td>8712682066</td>
                            
                            <td>8712682065</td>
                            
                            <td>sho-dpet-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="contentSection">
            <div class="contentSectionHeading">
                <h3 class="mb-0">Manuguru Division</h3>
            </div>
            <div class="PSTable mb-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sl No.</th>
                            
                            <th scope="col">PS/CIRCLE/DIVISION</th>
                            
                            <th scope="col">Name of the Officer and Rank</th>
                            
                            <th scope="col">Office Phone Number</th>
                            
                            <th scope="col">Mobile No</th>
                            
                            <th scope="col">Email ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>1</td>
                            
                            <td>SDPO Manuguru</td>
                            
                            <td>V.Ravinder Reddy</td>
                            
                            <td>8712682088</td>
                            
                            <td>8712682006</td>
                            
                            <td> sdpo-mngr-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>2</td>
                            
                            <td>CI Edulla Bayyaram</td>
                            
                            <td>T. Karunakar</td>
                            
                            <td>8712682098</td>
                            
                            <td>8712682097</td>
                            
                            <td>ci-ebym-bdk@tspolice.gov.in </td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>3</td>
                            
                            <td>Manuguru PS</td>
                            
                            <td>Soma Sathish</td>
                            
                            <td>8712682090</td>
                            
                            <td>8712682089</td>
                            
                            <td>sho-mngr-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>4</td>
                            
                            <td>Aswapuram PS</td>
                            
                            <td>G. Ashok </td>
                            
                            <td>8712682094</td>
                            
                            <td>8712682093</td>
                            
                            <td>sho-aspm-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>5</td>
                            
                            <td>Edulla Bayyaram PS</td>
                            
                            <td>E.Raj Kumar</td>
                            
                            <td>87126</td>
                            
                            <td>8712682099</td>
                            
                            <td>sho-ebym-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>6</td>
                            
                            <td>Karakagudem PS</td>
                            
                            <td>A. Rajender</td>
                            
                            <td>8712682103</td>
                            
                            <td>8712682102</td>
                            
                            <td>sho-kgudem-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="contentSection">
            <div class="contentSectionHeading">
                <h3 class="mb-0">YellanduDivision</h3>
            </div>
            <div class="PSTable mb-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sl.No</th>
                            
                            <th scope="col">PS/CIRCLE/DIVISION</th>
                            
                            <th scope="col">Name of the Officer and Rank</th>
                            
                            <th scope="col">Office Phone Number</th>
                            
                            <th scope="col">Mobile No</th>
                            
                            <th scope="col">Email ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>1</td>
                            
                            <td>SDPO Yellandu</td>
                            
                            <td>nan</td>
                            
                            <td>8712682068</td>
                            
                            <td>8712682007</td>
                            
                            <td>sdpo-yld-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>2</td>
                            
                            <td>CI Tekulapally</td>
                            
                            <td>Thatipamula Suresh </td>
                            
                            <td>8712682074</td>
                            
                            <td>8712682073</td>
                            
                            <td>ci-tkp-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>3</td>
                            
                            <td>CI Gundala</td>
                            
                            <td>nan</td>
                            
                            <td>8712682083</td>
                            
                            <td>8712682082</td>
                            
                            <td>ci-gdl-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>4</td>
                            
                            <td>Yellandu PS</td>
                            
                            <td>B. Satyanarayana</td>
                            
                            <td>8712682070</td>
                            
                            <td>8712682069</td>
                            
                            <td>sho-yld-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>5</td>
                            
                            <td>Tekulapalli PS</td>
                            
                            <td>nan</td>
                            
                            <td>8712682076</td>
                            
                            <td>8712682075</td>
                            
                            <td>sho-tkp-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>6</td>
                            
                            <td>Bodu PS</td>
                            
                            <td>P.Srikanth</td>
                            
                            <td>8712682078</td>
                            
                            <td>8712682077</td>
                            
                            <td>sho-bodu-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>7</td>
                            
                            <td>Allapally PS</td>
                            
                            <td>E. Rathish</td>
                            
                            <td>8712682080</td>
                            
                            <td>8712682079</td>
                            
                            <td>sho-allp-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>8</td>
                            
                            <td>Gundala PS</td>
                            
                            <td>Ch.Rajamouli</td>
                            
                            <td>8712682085</td>
                            
                            <td>8712682085</td>
                            
                            <td>sho-gdl-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>9</td>
                            
                            <td>Komararam PS</td>
                            
                            <td>M.Someswar</td>
                            
                            <td>8712682087</td>
                            
                            <td>8712682086</td>
                            
                            <td>sho-kmrm-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="contentSection">
            <div class="contentSectionHeading">
                <h3 class="mb-0">Bhadrachalam Division</h3>
            </div>
            <div class="PSTable mb-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sl.No</th>
                            
                            <th scope="col">PS/CIRCLE/DIVISION</th>
                            
                            <th scope="col">Name of the Officer and Rank</th>
                            
                            <th scope="col">Office Phone Number</th>
                            
                            <th scope="col">Mobile No</th>
                            
                            <th scope="col">Email ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>1</td>
                            
                            <td>SDPO BHADRACHALAM</td>
                            
                            <td>Ankhit Kumar Sankwar IPS</td>
                            
                            <td>8712682104</td>
                            
                            <td>8712682004</td>
                            
                            <td>sdpo-bcm_tsp@telangana.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>2</td>
                            
                            <td>Bhadrachalam Town PS </td>
                            
                            <td>Sanjive Kumar</td>
                            
                            <td>8712682106</td>
                            
                            <td>8712682105</td>
                            
                            <td>sho-bcmt-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>3</td>
                            
                            <td>Cherla PS</td>
                            
                            <td>Alem Raju Verma</td>
                            
                            <td>8712682112</td>
                            
                            <td>8712682111</td>
                            
                            <td>sho-cherla-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>4</td>
                            
                            <td>Dummugudem PS</td>
                            
                            <td>E.Venkatappaiah</td>
                            
                            <td>8712682116</td>
                            
                            <td>8712682115</td>
                            
                            <td>sho-dgm-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>5</td>
                            
                            <td>Bhadrachalam Traffic PS </td>
                            
                            <td>S Madhu Prasad</td>
                            
                            <td>8712682110</td>
                            
                            <td>8712682109</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="contentSection">
            <div class="contentSectionHeading">
                <h3 class="mb-0">OTHER WINGS</h3>
            </div>
            <div class="PSTable mb-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sl.No</th>
                            
                            <th scope="col">Name of the Officer and Rank</th>
                            
                            <th scope="col">Office/Unit</th>
                            
                            <th scope="col">Office Phone Number</th>
                            
                            <th scope="col">Mobile No</th>
                            
                            <th scope="col">Email ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>1</td>
                            
                            <td>G Jaya Raju 
(ADMINISTRATIVE OFFICER)</td>
                            
                            <td>AO DPO</td>
                            
                            <td>nan</td>
                            
                            <td>8712682011</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>2</td>
                            
                            <td>M Nagaraju</td>
                            
                            <td>District Special Branch</td>
                            
                            <td>8712682122</td>
                            
                            <td>8712682012</td>
                            
                            <td>inspr-dsb-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>3</td>
                            
                            <td>Ch. Srinivas</td>
                            
                            <td>SB-2</td>
                            
                            <td>8712682013</td>
                            
                            <td>8712682013</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>4</td>
                            
                            <td>M Srinivas</td>
                            
                            <td>DCRB</td>
                            
                            <td>8712682124</td>
                            
                            <td>8712682123</td>
                            
                            <td>ci-dcrb-bdk@tspolice.gov.in </td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>5</td>
                            
                            <td>P Nagaraju Reddy</td>
                            
                            <td>IT Cell</td>
                            
                            <td>8712682151</td>
                            
                            <td>8712682151</td>
                            
                            <td>itcoreteam-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>6</td>
                            
                            <td>P ASHOK KUMAR</td>
                            
                            <td>Clues Team</td>
                            
                            <td>8712682141</td>
                            
                            <td>8712682141</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>7</td>
                            
                            <td>Sk. Lal Babu</td>
                            
                            <td>RI Admin</td>
                            
                            <td>8712682142</td>
                            
                            <td>8712682142</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>8</td>
                            
                            <td>O.Sudhakar</td>
                            
                            <td>RI MTO</td>
                            
                            <td>8712682143</td>
                            
                            <td>8712682143</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>9</td>
                            
                            <td>Ch. Krishna Rao</td>
                            
                            <td>RI Welfare</td>
                            
                            <td>8712682144</td>
                            
                            <td>8712682144</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>10</td>
                            
                            <td>G.Narasimha Rao</td>
                            
                            <td>RI Home Guards</td>
                            
                            <td>8712682146</td>
                            
                            <td>8712682146</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>11</td>
                            
                            <td>B.Ravi</td>
                            
                            <td>RI Operations</td>
                            
                            <td>8712682145</td>
                            
                            <td>8712682145</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>12</td>
                            
                            <td>M. Ramesh</td>
                            
                            <td>Police Control Room</td>
                            
                            <td>8712682127</td>
                            
                            <td>8712682127</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>13</td>
                            
                            <td>Bellam Satyanaryana</td>
                            
                            <td>CCS</td>
                            
                            <td>8712682134</td>
                            
                            <td>8712682133</td>
                            
                            <td>inspr-ccs-bdk@tspolice.gov.in</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>14</td>
                            
                            <td>T. Jithender</td>
                            
                            <td>Cyber cell</td>
                            
                            <td>8712566732</td>
                            
                            <td>8712566732</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>15</td>
                            
                            <td>M. Ramadevi</td>
                            
                            <td>She team</td>
                            
                            <td>8712682131</td>
                            
                            <td>8341302507</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>16</td>
                            
                            <td>V Srinivas Rao</td>
                            
                            <td>AHTU</td>
                            
                            <td>nan</td>
                            
                            <td>9177190574</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>17</td>
                            
                            <td>M. Ramadevi</td>
                            
                            <td>Bharosa </td>
                            
                            <td>nan</td>
                            
                            <td>8341302507</td>
                            
                            <td>nan</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
</section>
@endsection
