@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">eCommerce Frauds</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/eCommerceFraud.png" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>What Is e-commerce Fraud?</h3>
                <p>e-Commerce Fraud is an illegal transaction performed on an e-Commerce platform by a criminal or fraudster by using stolen payment information for online transactions without the account holder’s knowledge. It is also known as purchase fraud. It can be done by using a false identity, stolen credit card, fake cards, and false personal and card information, etc.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Fake Shopping Website Frauds</h4>
                <p>This is a relatively new Modus Operandi that has been adopted by cyber fraudsters to dupe people online. There are several variants of this cyber fraud. In one, the fraudsters create a genuine looking website of some known brand or even some mobile phone company such as Mi, etc. and offer cheap products. They induce the unsuspecting customer to pay online and once the payment is done, the customer never gets the ordered product.</p>
                <p>In another variant, the fake website has a policy in which, if the customer buys any product that costs more than a certain amount, he/she becomes eligible for an expensive gift. As soon as the customer buys that product, he/she gets a call from the “customer service” of the fake website telling him that he needs to pay a certain refundable amount towards handling, maintenance, GST, etc. of the free gift that he/she is eligible for. The fraudsters, thus, induce the unsuspecting online buyer to deposit thousands of rupees in to various bank accounts.</p>
                <p>In yet another variant, the customer makes purchases online and pays for the same online too but the product that he/she gets is usually something else or mostly a used version of the product that they have ordered.</p>
            </div>
            <div class="contentSectionHeading">
                <h4> Merchant Fraud</h4>
                <p>Merchant Fraud is another method where goods are offered at cheap prices, but are never shipped. This method of fraud also exists in wholesale. This happens in cases of no-chargeback payment methods.</p>
            </div>
            <div class="contentSectionHeading">
                <h4> Refund Fraud</h4>
                <p>Sometimes the user may place an order for some goods on e-commerce websites. Later they don’t want the product and request for refund. So, they search the customer care number of the e-Commerce Website concerned. But the fraudsters upload their phone numbers as customer care and phish the customers trying to cancel their orders or request for refund.</p>
                <p>Fraudsters collect personal/banking information in the name of refund processing and steal the user's money.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Safety Precautions:</h4>
                <ul class="contentList">
                    <li>Don’t fall prey to hefty discounts, especially on attractive products such as mobile phones, costly shoes, leather accessories, electronic gadgets, etc. </li>
                    <li>Search on the Internet about the credentials of the shopping portal. If there are a large number of reviews about the site pertaining to non-delivery of products, then the site is probably fake.</li>
                    <li>If the site is offering Cash-on-Delivery, prefer that instead of affront payment, especially for new, untested shopping portals.</li>
                    <li>A fraud shopping site not only cheats you through non-delivery of promised products, but it also captures your debit/credit card credentials and may sell it on dark web. Hence, do not make payment using credit/debit card on untested e-commerce sites unless the payment link is taking you to a verified, secure payment gateway.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                    <li>Take a clearly visible screenshot of the evidence.</li>
                    <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                    <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                    <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection