@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>FAQs</h3>
            </div>
            <div class="contentPara">
                <p><b>1) Are there any particular opening and closing hours for police stations?</b></p>
                <p><b>Ans.</b> Police stations are open for 24 hours a day for hearing your voice.</p><br>
                <p><b>2) How do I get a crime case registered?</b></p>
                <p><b>Ans.</b> Please go to the nearest police station and inform the police orally. police officer will reduce it in writing or give written complaint about the occurrence of a crime.</p><br>
                <p><b>3) Can the police refuse to register a crime case?</b></p>
                <p><b>Ans.</b> The police cannot refuse to register an FIR if a cognizable offence is made out in your complaint. This is so even if the offence falls under a different jurisdiction. The police will have to register an FIR and transfer it to the respective police station.</p><br>
                <p><b>4) Whether the complainant has to sign the FIR and Petition?</b></p>
                <p><b>Ans.</b> Yes, the person giving information relating to the commission of a cognizable offence has to sign the Petition and FIR.</p><br>
                <p><b>5) Whether a copy of the FIR, registered on my complaint be provided to me?</b></p>
                <p><b>Ans.</b> Yes, a copy of the FIR shall be provided to the informant free of cost. Alternatively, one can download the FIR copy from Warangal police Commissionerate or Telangana State Police website by using the View/Print FIR option.</p><br>
                <p><b>6) Can I give a compliant over phone?</b></p>
                <p><b>Ans.</b> Telephonic complaints by Dail 100 in matters of emergency are taken up for action by police to ensure safety and security of persons and their belongings. However, a telephonic complaint cannot be usually reduced to Petition as it has to be signed by the complainant/ informant, which becomes the basis for the FIR. Telephonic communication suffers from lack of authentic information regarding the complainant/ informant. An anonymous or pseudonymous caller may want to lodge vexatious complaints without any accountability. Hence, it is always encouraged to file a formal complaint before the Police after the emergency situation is over.</p><br>
                <p><b>7) Whether it is an offence to lodge a false report to the police?</b></p>
                <p><b>Ans.</b> Lodging a false Petition with the police is made punishable under section 182 IPC which is punishable with Simple imprisonment for 6 Months of fine of 1000 rupees.</p><br>
                <p><b>8) Whether a police officer can arrest a person without warrant?</b> </p>
                <p><b>Ans.</b> Yes, a police officer can arrest a person without warrant if he has been involved in any cognizable offence.</p><br>
                <p><b>9) Whether a police officer can search a person / place without a search warrant?</b> </p>
                <p><b>Ans.</b> Yes, a police officer can search for the person / place without search warrant under certain conditions.</p><br>
                <p><b>10) How to inform regarding the wanted/missing person?</b> </p>
                <p><b>Ans.</b> If you see a wanted criminal or a missing person, inform the local police or dial 100.</p><br>    
                <p><b>11) Why are police rude and unreliable for the public?</b></p>
                <p><b>Ans.</b> It is entirely a pre-conceived notion. The public is prejudiced in its view towards the police but the reality is that Warangal Police are always People friendly Police.</p><br>
                <p><b>12) How can I join police department?</b> </p>
                <p><b>Ans.</b> If you wish to join the police department, you can enter at four stages if you passed Higher Secondary (Intermediate), you can apply for the post of constable. If you are a graduate, you can apply for the post of sub inspector through TSLPRB, Dy. S.P. through Group -I and IPS through UPSC exam.</p><br>
            </div>
        </div>
    </div>
</section>
@endsection