@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">First Responder Command Center</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>First Responder Command Centre</h3>
                <h4>First Responder Command Centre in Bhadradri Kothagudem</h4>
                <p>The Government of Telangana State as a part of “FIRST” Project (First Incidence Response System of Telangana State) sanctioned Rs. 350 crore to purchase 1600 Innova vehicles and 2000 Motor cycles to put in place a world class patrolling and Gulli Gasti system in order to provide safe and secure living for the citizens of Telangana State with specific focus on Hyderabad and other Urban Areas like Bhadradri Kothagudem city of Telangana with a concept of “Smart City”. As a part of the above programme, FRCC (First Responder Command Centre) has been started in Bhadradri Kothagudem Police Department  to monitor Patrolling and Gulli Gasti. Innova cars and Motor bikes are allotted to the Bhadradri Kothagudem Department . Each Police Station in the Urban and Town area will have two patrol cars, Blue colt vehicles (motor bikes) to all sectors and Interceptors. One patrocar in each Rural Police Station and also patrocars are covering National and State highways.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>FRCC :</h4>
                <p>FRCC Bhadradri Kothagudem is functioning from Bhadradri Kothagudem Police Department  under the supervision of an Inspector of Police. He will monitor the Policemonitor Police Control Room, Interceptors, Patrol cars and Blue colts round the clock.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>Strength :</h4>
                <ul class="contentList">
                    <li> Interceptor will have one driver + one Guide PC + two armed PCs in each shift will work in three shifts round the clock.                    </li>
                    <li>Patrol cars will have one driver + one Civil HC/PC in each shift will work in three shifts round the clock                    </li>
                    <li>Blue colt will have one Civil PC + HG in each shift and willshift will work in three shifts round the clock.                    </li>
                    <li>Main PCR will have One Inspector, 2SIs, 8ASIs, 12HC’s and 11PC’s.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>Aims and Objectives:</h4>
                <ul class="contentList"></ul>
                <li>Quick response to SOS calls within 10 minutes reaching time.</li>
                <li>Prevention of crime.</li>
                <li>Visible policing.</li>
                <li> Accountability.</li>
                <li>People Friendly Policing.</li>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>Role of FRCC:</h4>
                <ul class="contentList">
                    <li>To prepare Job charts in consultation with Concerned SHOs, ACsP and for monitoring.</li>
                    <li>To organize training to the (Patrol cars, interceptors and blue colts).</li>
                    <li>To monitor the work of the Patrol Cars, Interceptors and blue colts.</li>
                    <li>To organize surprise physical checking by Night Round Officers to ensure implementation of Job charts and to gather feedback.</li>
                    <li>To organize the decoy operations to study the ground level response time.</li>
                    <li>To monitor no response reports.</li>
                    <li> To evaluate the performance of the Control and patrolling staff.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>Vehicle Tracking System:</h4>
                <p>At present all vehicles have been equipped with GPS tracking System. There are 72 BCOs, 65 PVs, 07 Rakshak vehicles, 03 Highway mobiles and 10 intercepting vehicles i.e interceptors are functioning in the Bhadradri Kothagudem Department .</p>
                <ul class="contentList">
                    <li>Live tracking of Patrol vehicles</li>
                    <li>Job chart display</li>
                    <li>SOS</li>
                    <li>Reports
                        <ul class="contentList">
                            <li>Ideal Report</li>
                            <li>Stoppage Report</li>
                            <li> Speed Report</li>
                            <li>Violations (Alerts)</li>
                            <li>SOS Report</li>
                            <li>Fuel Consumption Report</li>
                            <li>Travel Report</li>
                            <li>Distance data</li>
                            <li>Administration</li>
                        </ul>
                    </li>
                    <li> It can also be integrated with Dial 100 in future.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection