@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Drugs Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Harmful Effects of Drugs</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Harmful Effects of Drugs</h3>
                <h4>Drug use can also result in long-term health outcomes that include:</h4>
                <ul class="contentList">
                    <li>Harmful to organs and systems in your body, such as your throat, stomach, lungs, liver, pancreas, heart, brain, nervous system.</li>
                    <li>Cancer (such as lung cancer from inhaling drugs).</li>
                    <li>Infectious disease, from sharing the injecting equipment and increased incidence of risk-taking behaviours.</li>
                    <li>Harmful to your baby, if you are pregnant.</li>
                    <li>Acne or skin lesions, if the drug you are taking causes you to pick or scratch at your skin.</li>
                    <li>Needle marks and collapsed veins, if you inject regularly.</li>
                    <li>Male pattern hair growth in women, such as facial hair.</li>
                    <li>Jaw and teeth issue due to clenching and grinding your teeth, teeth cavities and gum disease.</li>
                    <li>Mood swings and erratic behavior.</li>
                    <li>Addiction</li>
                    <li>Psychosis (losing touch with reality).</li>
                    <li>Accidental overdose.</li>
                    <li>Higher risk of mental illness, depression, suicide and death.</li>
                </ul>
            </div>
            <div class="contentSectionHeading">
                <h4>Drug use can lead to risky or out of character behavior, when affected by drugs:</h4>
                <ul class="contentList">
                    <li>You are more likely to have an accident (at home, in a car, or wherever you are).</li>
                    <li>You may be vulnerable to sexual assault or you may engage in unprotected sex. Either of these could lead to pregnancy and sexually transmitted infection.</li>
                    <li>You could commit a sexual assault or other violent act.</li>
                    <li>You may find it hard to sleep, think, remember and solve problems.</li>
                </ul>
            </div>
            <div class="contentSectionHeading">
                <h4>Risk factors for drug-related harm</h4>
                <ul class="contentList">
                    <li>How the drug was made - Substances manufactured in home labs may contain bacteria, dangerous chemicals and other unsafe substances. Even one dose may cause an overdose that leads to brain damage or death.</li>
                    <li>Your physical characteristics including height, weight, age, body fat and metabolism may also get affected.</li>
                    <li>How you ingest the drug (by inhalation, by injection or orally)? Compared with swallowing a drug, inhalation and injection are more likely to lead to overdose and dependence. If you are injecting drugs, sharing injecting equipment will increase the risk of contracting serious diseases such as hepatitis and HIV. It will also increase your risk of serious infection.</li>
                    <li>Your mental health, mood and environment (that is, whether you are in a secure, happy place or an unsafe place) can affect the experience you have when taking drugs. If you have a mental health condition, drugs may exacerbate or complicate the symptoms of that condition.</li>
                    <li>Whether you mix drugs with alcohol, may lead to high-risk behaviour (such as drink driving) which can result in the serious injury or death of yourself or others.</li>
                    <li>Drug use can affect short-term and long-term health outcomes. Some of these health outcomes can be serious, and possibly irreversible.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection