@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Hawk Eye</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv" align= "justify">
            <div class="contentSectionHeading">
                <h3>{{title}}</h3>
            </div>
            <div class="row contentSectionDiv" align= "justify">
                <div class="col-md-3 text-center mb-2">
                    <img src="/images/hawkEye1.png" class="img-fluid">
                </div>
                <div class="col-md-3 text-center mb-2">
                    <img src="/images/hawkEye2.png" class="img-fluid">
                </div>
                <div class="col-md-3 text-center mb-2">
                    <img src="/images/hawkEye3.png" class="img-fluid">
                </div>
                <div class="col-md-3 text-center mb-2">
                    <img src="/images/hawkEye4.png" class="img-fluid">
                </div>
            </div>  
            <p>As a part of citizen-friendly and responsive policing, Bhadradri Kothagudem Police takes another step forward by launching a Mobile APP "HAWK EYE" to empower common man to become Citizen Police. This citizen friendly Mobile APP lets the responsible citizen to be in touch with Bhadradri Kothagudem Police always.</p>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>FEATURES</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> SOS button for accessing help in Emergencies.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Women travel made safe.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Register details of Servant/Worker/Tenant with Police</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Enrollment for Community Policing</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Status Report on Information furnished.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Report to us on<br>
                    <div class="ml-5">
                        <p> Traffic violations</p>
                        <p> Happening Crimes, Criminal information</p>
                        <p> Crime against women</p>
                        <p> Violations by Police</p>
                        <p> Suggestions for Improved Policing</p>
                        <p> Report Good Work done by the Police</p>
                    </div>
                </p>
            </div>
        </div>                                   
        <div class="contentSectionDiv downloadLink">
            <div class="contentSectionHeading mb-0.5">
                <h3>Download Mobile App <a href="https://apps.apple.com/us/app/hawk-eye-hyderabad-police/id960279465"><i class="fab fa-apple"></i></a>   <a href="https://play.google.com/store/apps/details?id=com.rivton.hawkeye"><i class="fab fa-google-play"></i></a></h3>
            </div>           
        </div>
    </div>
</section>
@endsection