<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon/fav24.png" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style1.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-zoom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.css">
    {{--  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">  --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-thumbnail.css">

    <title>Bhadradri Kothagudem Police 
</title>
</head>

<body>
<marquee><h1>This Site is Under Maintainence</h1></marquee>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0" nonce="Lak08EeV"></script>
    <section>
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span><br>                    
                </div>
            </div>
            <div class="site-mobile-menu-body">
                <div class="">                    
                    <a href="tel:100" >
                        <img class="dial100" src="/images/dial100Helpline.png" alt="Second slide" width="120px" height="76px">
                    </a>
                    <a href="tel:1930" >
                        <img class="cyberHelp" src="/images/cyberHelpline.png" alt="Second slide" width="120px" height="76px">
                    </a>                    
                </div>
            </div>
        </div>
        <header class="site-navbar js-sticky-header site-navbar-target " role="banner">
            <div class="d-flex site-nav-div">
                <a href="/" class="mainlogo">
                    <img src="/images/mainlogo.jpeg" alt="Second slide" width="50px" height="100px">
                    
                </a>
                <div class="ml-auto helpLines mr-2">                    
                    <a href="tel:100" class="mr-3">
                        <img class="dial100" src="/images/dial100Helpline.png" alt="Second slide" width="200px" height="76px">
                    </a>
                    <a href="tel:1930" >
                        <img class="cyberHelp" src="/images/cyberHelpline.png" alt="Second slide" width="200px" height="76px">
                    </a>                    
                </div>
            </div>
            <div>
                <div class="row align-items-center position-relative nav-row">
                    <div class="col-12">
                        <nav class="site-navigation" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav justify-content-center mx-auto d-flex">
                                <li><a href="/" class="nav-link">HOME</a></li>
                                <li class="has-children">
                                    <a href="#" class="nav-link">ABOUT</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/Previous Superintendent Of Police">Previous Superintendent Of Police</a></li>
                                        <li><a href="pdfs/BKGM Martyrs (Amaravirulu).pdf" target="_blank">Martyrs</a></li>
                                        <li><a href="/vision-and-mission">Vision and Mission</a></li>
                                        <li><a href="pdfs/achrev-converted.pdf" target="_blank">Achievements and Rewards</a></li>
                                    </ul>
                                </li>
                                <li><a href="/organization-structure" class="nav-link">ORGANIZATION STRUCTURE</a></li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">CITIZEN SERVICES</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="https://www.tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">Lodge a Petition</a></li>
                                        <li><a href="https://tspolice.gov.in/jsp/citizenServices?method=checkPetitionStatus" target="_blank" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">Check Petititon Status</a></li>
                                        <li><a href="https://www.tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank" class="nav-link" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">View/Print FIR</a></li>
                                        <li><a href="https://echallan.tspolice.gov.in" target="_blank" class="nav-link" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">e-Challan Status</a></li>
                                        <li><a href="https://passportindia.gov.in/AppOnlineProject/statusTracker/trackStatusInpNew" target="_blank" class="nav-link" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">Passport Verification Status</a></li>
                                        <li><a href="https://pvc.tspolice.gov.in/policeverificationandclearence" target="_blank" class="nav-link" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">PCC/PVC</a></li>
                                        <li><a href="https://indianfrro.gov.in/frro/" target="_blank" class="nav-link" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">Foreigner Online Registration</a></li>
                                        <li><a href="/frequently-asked-questions">Frequently Asked Questions</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#" class="nav-link">WINGS</a>
                                    <ul class="dropdown arrow-top">

                                        <li><a href="/wingsData?wing=DSB">District Special Branch(DSB)</a></li>
                                        <li><a href="/wingsData?wing=DSB-2">DSB-2</a></li>
                                        <li><a href="/wingsData?wing=DCRB">DCRB</a></li>
                                        <li><a href="/wingsData?wing=DSP DCRB">DSP DCRB</a></li>
                                        <li><a href="/wingsData?wing=IT Cell">IT Cell</a></li>
                                        <li><a href="/wingsData?wing=She team">SHE Teams</a></li>
                                        <li><a href="/wingsData?wing=Bharosa">BHAROSA</a></li>
                                        <li><a href="/wingsData?wing=Clues Team">Clues Team</a></li>
                                        <li><a href="/wingsData?wing=Cyber cell">Cyber cell</a></li>
                                         <li><a href="/wingsData?wing=Bharosa">BHAROSA</a></li>
                                        <li><a href="/wingsData?wing=CCS">CCS</a></li>
                                        <li><a href="/wingsData?wing=RI Admin">RI Admin</a></li>
                                        <li><a href="/wingsData?wing=RI MTO">RI MTO</a></li>
                                        <li><a href="/wingsData?wing=RI Welfare">RI Welfare</a></li>
                                        <li><a href="/wingsData?wing=RI Home Guards">RI Home Guards</a></li>
                                        <li><a href="/wingsData?wing=RI Operations">RI Operations</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">OTHER SERVICES</a>
                                    <ul class="dropdown arrow-top">
                                        <li class="has-children">
                                            <a href="#">Cyber Crime Awareness</a>
                                            <ul class="dropdown">
                                                <li><a href="/online-banking-frauds">Online Banking Frauds</a></li>
                                                <li><a href="/ecommerce-frauds">e-Commerce Frauds</a></li>
                                                <li><a href="/identity-theft">Identity Theft</a></li>
                                                <li><a href="/lottery-fraud">Lottery Fraud</a></li>
                                                <li><a href="/tips-to-keep-you-safe">Tips to keep you safe</a></li>
                                                <li><a href="/online-loan-app-frauds">Online Loan App Frauds</a></li>
                                                <li><a href="/virus-attack-and-ransomware">Virus Attack & Ransomware</a></li>
                                                <li><a href="/social-media-frauds">Social Media Frauds</a></li>
                                                <li><a href="/job-frauds">Job Frauds</a></li>
                                                <li><a href="/cyber-hygiene-for-children">Cyber Hygiene for Children</a></li>
                                                <li><a href="/matrimonial-frauds">Matrimonial Frauds</a></li>
                                                <li><a href="/cyber-bullying">Cyber Bullying</a></li>
                                                <li><a href="/olx-frauds">OLX Frauds</a></li>
                                                <li><a href="/crypto-currency-fraud">Crypto Currency Fraud</a></li>
                                                <li><a href="/cyber-hygiene-for-women">Cyber Hygiene for Women</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Drugs Awareness</a>
                                            <ul class="dropdown">
                                                <li><a href="/drugs-overview-overview">Overview</a></li>
                                                <li><a href="/harmful-effects-of-drugs">Harmful effects of drugs</a></li>
                                                <li><a href="/relevant-sections-of-ndps">NDPS Act and Other Circuars</a></li>
                                                <li><a href="/overcoming-drug-addiction">Overcoming Drug Addiction</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/protection-of-sc-st">Protection of Weaker Sections</a></li>
                                        <li class="has-children">
                                            <a href="#">Road Safety</a>
                                            <ul class="dropdown">
                                                <li><a href="/road-safety-awareness">Overview</a></li>
                                                <li><a href="/NH.pdf">NHs in Bhadradri Kothagudem</a></li>
                                                <li><a href="/NHSh.pdf">SHs in Bhadradri Kothagudem</a></li>
                                                <li><a href="pdfs/mvact.pdf" target="blank">MV Act</a></li>
                                                <li><a href="https://echallan.tspolice.gov.in" target="_blank" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">e-Challan</a></li>
                                                <li><a href="/road-safety-preventive-measures">Preventive Measures</a></li>
                                                <li><a href="/road-safety-precautions">Road Safety Precautions</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/safety-tips">Other Safety Tips</a></li>
                                        <li><a href="/abandonedVehicles" class="nav-link">Abandoned Vehicles List</a></li>
                                        <li><a href="/tourist-policing" class="nav-link">Tourist Policing</a></li>
                                        <li><a href="/sucide-prevention" class="nav-link">Suicide Prevention</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">WOMEN'S CORNER</a>
                                    <ul class="dropdown arrow-top multi-col">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/prevent-abuse-of-498A">Prevent Abuse of 498 A</a></li>
                                                    <li><a href="/affair-proof-of-your-relationship">Affair Proof of Your Relationship</a></li>
                                                    <li><a href="/building-healthy-relationship">Building Healthy Relationship</a></li>
                                                    <li><a href="/signs-of-cheating-husband">Signs of Cheating Husband</a></li>
                                                    <li><a href="/dowry-harassment">Dowry Harassment</a></li>
                                                    <li><a href="/domestic-violence">Domestic Violence</a></li>
                                                    <li><a href="/eve-teasing">Eve Teasing</a></li>
                                                    <li><a href="/how-to-save-your-marriage">How To Save Your Marriage</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/living-alone">Living Alone</a></li>
                                                    <li><a href="/marital-problems">Marital Problems - Stress</a></li>
                                                    <li><a href="/marrying-nri">Marrying NRI?</a></li>
                                                    <li><a href="/planning-to-marry">Planning To Marry</a></li>
                                                    <li><a href="/how-do-i-prevent-sucide">How Do I Prevent Suicide?</a></li>
                                                    <li><a href="/prevent-rape">Rape</a></li>
                                                    <li><a href="/reporting-dowry-harassment">Reporting Dowry Harassment</a></li>
                                                    <li><a href="/rights">Rights</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/sexual-harassment-at-work">Sexual Harassment at Work</a></li>
                                                    <li><a href="/shelter-homes">Shelter Homes</a></li>
                                                    <li><a href="/tips-for-healthy-marriage">Tips for Healthy Marriage Life</a></li>
                                                    <li><a href="/choosing-partner-from-matrimonial-sites">Choosing a Partner From Matrimonial Sites</a></li>
                                                    <li><a href="/coping-with-husband-alchoholism">Coping with Husband's Alchoholism</a></li>
                                                    <li><a href="/chairman-lok-adalat">Chairman Lok Adalat</a></li>
                                                    <li><a href="/women-protection-officers">Women Protection Officers</a></li>
                                                    <li><a href="/secretary-district-legal-services-authority">Secretary District Legal Services Authority</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="/notifications" class="nav-link">NOTIFICATIONS</a></li>
                                <li><a href="/contacts" class="nav-link">CONTACTS</a></li>
                            </ul>
                        </nav>

                    </div>

                    <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle js-menu-toggle text-black navIcon"><span class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>

        <div id="carouselExampleControls" class="carousel slide header-carousel" data-ride="carousel">
            <div class="carousel-inner header-carousel-inner">
                <div class="carousel-item header-carousel-item active">
                    <div class="image-container">
                        <img class="d-block w-100" src="contactsData/spofc.jpg" alt="First slide">
                    </div>
                    <div class="text-box">
                        <h2 class="wow fadeInDown" data-wow-duration="2s">Bhadradri Kothagudem
</h2>
                        <p class="wow fadeInUp" data-wow-duration="2s">Bhadradri Kothagudem
</p>
                    </div>
                </div>
                <div class="carousel-item header-carousel-item">
                    <div class="image-container">
                        <img class="d-block w-100" src="images/slide-3.jpg" alt="Second slide">
                    </div>
                </div>
                <!--<div class="carousel-item header-carousel-item">
                    <div class="image-container">
                    <img class="d-block w-100" src="images/CCTV_CP_SIR_SLIDE.jpeg" alt="Second slide">
                    </div>
                </div>
                
                <div class="carousel-item header-carousel-item">
                    <div class="image-container">
                        <img class="d-block w-100" src="images/Itcell_CC_CC.jpg" alt="Third slide">
                    </div>
                </div>
                <div class="carousel-item header-carousel-item">
                    <div class="image-container">
                        <img class="d-block w-100" src="images/future PS photo.png" alt="Fourth slide">
                    </div>
                </div>-->
                <div class="carousel-item header-carousel-item">
                    <div class="image-container">
                        <img class="d-block w-100" src="/images/NoDrugsforCars.png" alt="Fifth slide">
                    </div>
                </div>
                
                
            </div>
            <a class="carousel-control-prev Previousbuttoncircle" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="icon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next Nextbuttoncircle" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="icon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>



    <!--section class="cp-section">
            <div class="section-heading">
                <h2>Superintendent of Police</h2>
                <hr class="border">
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 cp-img wow fadeInLeft" data-wow-duration="1s">
                    <img src="images/IGP_PIC.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="cp-title wow fadeInUp" data-wow-duration="2s">
                        <h4>B.Rohit Raju, IPS</h4>
                        <p> Superintendent of Police, Badradri Kothagudem</p>
                    </div>
                    <div class="cp-text">
                        <p><i>It gives me immense pleasure to interact with our communities through this dynamic and interactive website of Badradri Kothagudem Police Superintendent. This website is one of the many initiatives to connect with public and empower citizens.</i>

                        <p><i>The core challenges before Police Superintendent remain maintenance of law and order, prevention and detection of crime, especially organised crime, traffic management, keeping intact the communal harmony in the society and VIP security. Superintendent Police is committed to give its best to live up to public expectations in all areas of Policing.</i></p>

                        <p><i>True to our Motto,<strong> ‘Badradri Kothagudem Police - Ever Victorious’</strong>, while dealing with criminals with iron hand, we believe in Community Policing through a citizen-centric approach. The Superintendent Police accords highest priority to the security concerns of Senior Citizens, Women & Children and Vulnerable Groups. We shall be at your service 24 x 7.</i> </p>
                    </div>
                </div>
                <div class="cp-text1">
                    <p style="text-indent: 50px;"><i>The mission of the Badradri Kothagudem City Police is to enhance the quality of life of the people by working in partnership with the community to enforce the law, preserve peace, reduce fear, and maintain order. We are committed to accomplishing our vision to protect the lives and property of all citizens by treating every citizen with courtesy, professionalism, and respect, to enforce the laws impartially, and fighting crime both through deterrence and the relentless pursuit of criminals.</i></p>

                    <p style="text-indent: 50px;"><i>We will aspire for the progress of the Police force as a team, protecting our integrity and morality, ensuring rapid and fair response, enriching our professionalskills, and bringing transparency in our operations. Our historical legacy will inspire us to sustain our excellence. Our new phrase <strong>‘Uniformity of Service for all Citizens at all times’ </strong>is consistent with our goal and time.</i> </p>

                    <p style="text-indent: 50px;"><i>We are at a pivotal moment in our City’s history, and we must work together. We have the need and the opportunity to make Badradri Kothagudem safe and fair for everyone, everywhere. I appeal to citizens of Badradri Kothagudem to share with us their security concerns, actionable information and valuable feedback so that we can act upon them to make the City more safe, secure and beautiful.</i></p></p>
                </div>
            </div>
    </section-->

    <section class="cp-section">
        <div class="container-fluid">
            <div class="section-heading">
                <h2>Superintendent of Police</h2>
                <hr class="border">
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 cp-img wow fadeInLeft" data-wow-duration="1s">
                    <img src="images/bk-police.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="cp-title wow fadeInUp" data-wow-duration="2s">
                        <h4>Sri B.Rohit Raju, IPS.</h4>
                        <p>Superintendent of Police, Badradri Kothagudem</p>
                    </div>
                    <div class="cp-text">
                        <p style="text-indent: 100px;">It gives me immense pleasure to interact with our communities through this dynamic and interactive website of Badradri Kothagudem Police Superintendent. This website is one of the many initiatives to connect with public and empower citizens.</p>
                        <p style="text-indent: 100px;">   The core challenges before Police Superintendent remain maintenance of law and order, prevention and detection of crime, especially organised crime, traffic management, keeping intact the communal harmony in the society and VIP security. Superintendent Police is committed to give its best to live up to public expectations in all areas of Policing.</p>
                        <p style="text-indent: 100px;">True to our Motto, <b>‘Badradri Kothagudem Police - Ever Victorious’,</b> while dealing with criminals with iron hand, we believe in Community Policing through a citizen-centric approach. The Superintendent Police accords highest priority to the security concerns of Senior Citizens, Women & Children and Vulnerable Groups. We shall be at your service 24 x 7. </p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 cpText1Div">
                <div class="cp-text1">
                    <p style="text-indent: 100px;">The mission of the Badradri Kothagudem City Police is to enhance the quality of life of the people by working in partnership with the community to enforce the law, preserve peace, reduce fear, and maintain order. We are committed to accomplishing our vision to protect the lives and property of all citizens by treating every citizen with courtesy, professionalism, and respect, to enforce the laws impartially, and fighting crime both through deterrence and the relentless pursuit of criminals.</p>
                    <p style="text-indent: 100px;">We will aspire for the progress of the Police force as a team, protecting our integrity and morality, ensuring rapid and fair response, enriching our professionalskills, and bringing transparency in our operations. Our historical legacy will inspire us to sustain our excellence. Our new phrase <b>‘Uniformity of Service for all Citizens at all times’</b> is consistent with our goal and time. </p>
                    <p style="text-indent: 100px;"> We are at a pivotal moment in our City’s history, and we must work together. We have the need and the opportunity to make Badradri Kothagudem safe and fair for everyone, everywhere. I appeal to citizens of Badradri Kothagudem to share with us their security concerns, actionable information and valuable feedback so that we can act upon them to make the City more safe, secure and beautiful.</p>
                </div>
            </div>
        </div>
    </section>




    {{--  Icon section  --}}
    <section class="iconsSection">
        <div class="container">
            <div class="section-heading">
                <h2>Services</h2>
                <hr class="border">
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.1s">
                       <a href="/know-your-police-station"> <img src="images/icons/kyps.png" class="iconsImg" alt="Know Your Police Station"></a>
                        <a href="/know-your-police-station" class="iconsLink">Know Your Police Station</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.2s">
                       <a href="https://tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')"> <img src="images/icons/lodgeAPetition.png" class="iconsImg" alt="Lodge a Petition"></a>
                        <a href="https://tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank" class="iconsLink" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">Lodge a Petition</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.4s">
                        <a href="https://www.tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">  <img src="images/icons/fir.png" class="iconsImg" alt="View or Print FIR"></a>
                        <a href="https://www.tspolice.gov.in/jsp/citizenLogin?method=viewLoginForm" target="_blank" class="iconsLink" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">View/Print FIR</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.3s">
                       <a href="https://cybercrime.gov.in/Webform/crmcondi.aspx" target="_blank" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')"> <img src="images/icons/cyberCrime.png" class="iconsImg" alt="Report a Cyber Crime"></a>
                        <a href="https://cybercrime.gov.in/Webform/crmcondi.aspx" target="_blank" class="iconsLink" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">Report a Cyber Crime</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.5s">
                       <a href="/bharosa"> <img src="images/icons/bharosa.png" class="iconsImg1" alt="Bharosa"></a>
                        <a href="/bharosa" class="iconsLink">Bharosa</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.6s">
                        <a href="/she-teams"><img src="images/icons/sheTeams.png" class="" width="60px" height="80px" alt="She Teams"></a>
                        <a href="/she-teams" class="iconsLink">She Teams</a>
                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.5s">
                       <a href="/hawk-eye"> <img src="images/icons/hawkEye.png" class="iconsImg1" height="80px" alt="Hawk Eye"></a>
                        <a href="/hawk-eye" class="iconsLink">Hawk Eye</a>
                    </div>
                </div>-->
                <div class="col-lg-3 col-md-4 col-sm-6 iconsCol">
                    <div class="iconsDiv wow fadeInLeft" data-wow-delay="0.6s">
                       <a href="https://pvc.tspolice.gov.in/policeverificationandclearence" target="_blank" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')"> <img src="images/icons/policeVerification.png" class="iconsImg" alt="Police Verification"></a>
                        <a href="https://pvc.tspolice.gov.in/policeverificationandclearence" target="_blank" class="iconsLink" onclick="return confirm('You are being redirected to an external page / website outside this website.  For any query regarding the contents of the linked page,  please contact the webmaster of the concerned website, Do you want to continue?')">Police Verification</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{--  Gallery Section  --}}
    <section class="gallerySection">
        <div class="container-fluid">
            <div class="section-heading">
                <h2>Gallery</h2>
                <hr class="border">
            </div>
            <!--div class="row">
               <div class="col col-md-12">
                  <div class="gallery-container" id="animated-thumbnails-gallery">
                  
                     <a data-lg-size="400-600-375" class="gallery-item" 
                        data-src="/images/gallery/1.jpeg" 
                      >
                        <img alt="image1"  class="img-fluid"
                            src="/images/gallery/1.jpeg" />
                     </a>
                     <a data-lg-size="400-600-375" class="gallery-item" 
                        data-src="/images/gallery/2.jpeg" 
                      >
                        <img alt="image2"  class="img-fluid"
                            src="/images/gallery/2.jpeg" />
                     </a>
                     <a data-lg-size="400-600-375" class="gallery-item" 
                        data-src="/images/gallery/3.jpeg" 
                      >
                        <img alt="image3"  class="img-fluid"
                            src="/images/gallery/3.jpeg" />
                     </a>
                     <a data-lg-size="400-600-375" class="gallery-item" 
                        data-src="/images/gallery/4.jpeg" 
                      >
                        <img alt="image4"  class="img-fluid"
                            src="/images/gallery/4.jpeg" />
                     </a>
                     <a data-lg-size="400-600-375" class="gallery-item" 
                        data-src="/images/gallery/5.jpeg" 
                      >
                        <img alt="image5"  class="img-fluid"
                            src="/images/gallery/5.jpeg" />
                     </a>
                     <a data-lg-size="400-600-375" class="gallery-item" 
                        data-src="/images/gallery/7.jpeg" 
                      >
                        <img alt="image6"  class="img-fluid"
                            src="/images/gallery/7.jpeg" />
                     </a>
                  </div>
               </div>
            </div-->
            <div class="row largeScreen">
                <div class="col-md-12  mx-auto">
                    <div id="myCarousel" class="carousel slide galleryCarousel" data-ride="carousel" data-interval="0">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                            <li data-target="#myCarousel" data-slide-to="7"></li>
                            <li data-target="#myCarousel" data-slide-to="8"></li>
                            <li data-target="#myCarousel" data-slide-to="9"></li>
                            <li data-target="#myCarousel" data-slide-to="10"></li>
                            <li data-target="#myCarousel" data-slide-to="11"></li>
                            <li data-target="#myCarousel" data-slide-to="12"></li>
                            <li data-target="#myCarousel" data-slide-to="13"></li>
                            <li data-target="#myCarousel" data-slide-to="14"></li>
                            <li data-target="#myCarousel" data-slide-to="15"></li>
                            <li data-target="#myCarousel" data-slide-to="16"></li>
                            <li data-target="#myCarousel" data-slide-to="17"></li>
                            <li data-target="#myCarousel" data-slide-to="18"></li>
                            <li data-target="#myCarousel" data-slide-to="19"></li>
                            <li data-target="#myCarousel" data-slide-to="20"></li>
                
                        </ol>   
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                        <div class="row">
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img1.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img2.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img3.jpg" class="img-fluid" alt=""></div></div>
                                </div>
                            </div>
                        <div class="carousel-item">
                        <div class="row">
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img4.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img5.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img6.jpg" class="img-fluid" alt=""></div></div>
                                </div>
                            </div>
                        <div class="carousel-item">
                        <div class="row">
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img7.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img8.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img9.jpg" class="img-fluid" alt=""></div></div>
                                </div>
                            </div>
                        <div class="carousel-item">
                        <div class="row">
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img10.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img11.jpg" class="img-fluid" alt=""></div></div>
                                    <div class="col-sm-4"><div class="img-box"><img src="images/gallery/img12.jpg" class="img-fluid" alt=""></div></div>
                                </div>
                            </div>
                        
                        
                          
                        </div>
                       <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row smallScreen">
                <div class="col-md-12  mx-auto">
                    <div id="myCarousel1" class="carousel slide galleryCarousel" data-ride="carousel" data-interval="0">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel1" data-slide-to="1"></li>
                            <li data-target="#myCarousel1" data-slide-to="2"></li>
                            <li data-target="#myCarousel1" data-slide-to="3"></li>
                            <li data-target="#myCarousel1" data-slide-to="4"></li>
                            <li data-target="#myCarousel1" data-slide-to="5"></li>
                            <li data-target="#myCarousel1" data-slide-to="6"></li>
                            <li data-target="#myCarousel1" data-slide-to="7"></li>
                            <li data-target="#myCarousel1" data-slide-to="8"></li>
                            <li data-target="#myCarousel1" data-slide-to="9"></li>
                            <li data-target="#myCarousel1" data-slide-to="10"></li>
                            <li data-target="#myCarousel1" data-slide-to="11"></li>
                            <li data-target="#myCarousel1" data-slide-to="12"></li>
                            <li data-target="#myCarousel1" data-slide-to="13"></li>
                            <li data-target="#myCarousel1" data-slide-to="14"></li>
                            <li data-target="#myCarousel1" data-slide-to="15"></li>
                            <li data-target="#myCarousel1" data-slide-to="16"></li>
                            <li data-target="#myCarousel1" data-slide-to="17"></li>
                            <li data-target="#myCarousel1" data-slide-to="18"></li>
                            <li data-target="#myCarousel1" data-slide-to="19"></li>
                            <li data-target="#myCarousel1" data-slide-to="20"></li>
                            <li data-target="#myCarousel1" data-slide-to="21"></li>
                            <li data-target="#myCarousel1" data-slide-to="22"></li>
                            <li data-target="#myCarousel1" data-slide-to="23"></li>
                            <li data-target="#myCarousel1" data-slide-to="24"></li>
                            <li data-target="#myCarousel1" data-slide-to="25"></li>
                            <li data-target="#myCarousel1" data-slide-to="26"></li>
                            <li data-target="#myCarousel1" data-slide-to="27"></li>
                            <li data-target="#myCarousel1" data-slide-to="28"></li>
                            <li data-target="#myCarousel1" data-slide-to="29"></li>
                            <li data-target="#myCarousel1" data-slide-to="30"></li>
                            <li data-target="#myCarousel1" data-slide-to="31"></li>
                            <li data-target="#myCarousel1" data-slide-to="32"></li>
                            <li data-target="#myCarousel1" data-slide-to="33"></li>
                            <li data-target="#myCarousel1" data-slide-to="34"></li>
                            <li data-target="#myCarousel1" data-slide-to="35"></li>
                            <li data-target="#myCarousel1" data-slide-to="36"></li>
                            <li data-target="#myCarousel1" data-slide-to="37"></li>
                            <li data-target="#myCarousel1" data-slide-to="38"></li>
                            <li data-target="#myCarousel1" data-slide-to="39"></li>
                            <li data-target="#myCarousel1" data-slide-to="40"></li>
                            <li data-target="#myCarousel1" data-slide-to="41"></li>
                            <li data-target="#myCarousel1" data-slide-to="42"></li>
                            <li data-target="#myCarousel1" data-slide-to="43"></li>
                            <li data-target="#myCarousel1" data-slide-to="44"></li>
                            <li data-target="#myCarousel1" data-slide-to="45"></li>
                            <li data-target="#myCarousel1" data-slide-to="46"></li>
                            <li data-target="#myCarousel1" data-slide-to="47"></li>
                            <li data-target="#myCarousel1" data-slide-to="48"></li>
                            <li data-target="#myCarousel1" data-slide-to="49"></li>
                            <li data-target="#myCarousel1" data-slide-to="50"></li>
                            <li data-target="#myCarousel1" data-slide-to="51"></li>
                            <li data-target="#myCarousel1" data-slide-to="52"></li>
                            <li data-target="#myCarousel1" data-slide-to="53"></li>
                            <li data-target="#myCarousel1" data-slide-to="54"></li>
                            <li data-target="#myCarousel1" data-slide-to="55"></li>
                            <li data-target="#myCarousel1" data-slide-to="56"></li>
                            <li data-target="#myCarousel1" data-slide-to="57"></li>
                            <li data-target="#myCarousel1" data-slide-to="58"></li>
                            <li data-target="#myCarousel1" data-slide-to="59"></li>
                            <li data-target="#myCarousel1" data-slide-to="60"></li>
                            <li data-target="#myCarousel1" data-slide-to="61"></li>
                            <li data-target="#myCarousel1" data-slide-to="62"></li>
                            <li data-target="#myCarousel1" data-slide-to="63"></li>
                            <li data-target="#myCarousel1" data-slide-to="64"></li>
                            <li data-target="#myCarousel1" data-slide-to="65"></li>
                            <li data-target="#myCarousel1" data-slide-to="66"></li>
                            <li data-target="#myCarousel1" data-slide-to="67"></li>
                            <li data-target="#myCarousel1" data-slide-to="68"></li>
                            <li data-target="#myCarousel1" data-slide-to="69"></li>
                         
                            <li data-target="#myCarousel1" data-slide-to="77"></li>
                            <li data-target="#myCarousel1" data-slide-to="78"></li>
                            <li data-target="#myCarousel1" data-slide-to="79"></li>
                            <li data-target="#myCarousel1" data-slide-to="80"></li>
                            <li data-target="#myCarousel1" data-slide-to="81"></li>
                            <li data-target="#myCarousel1" data-slide-to="82"></li>
                            <li data-target="#myCarousel1" data-slide-to="83"></li>
                            <li data-target="#myCarousel1" data-slide-to="84"></li>
                            <li data-target="#myCarousel1" data-slide-to="85"></li>
                            <li data-target="#myCarousel1" data-slide-to="86"></li>
                            <li data-target="#myCarousel1" data-slide-to="87"></li>
                            <li data-target="#myCarousel1" data-slide-to="88"></li>
                            <li data-target="#myCarousel1" data-slide-to="89"></li>
                            <li data-target="#myCarousel1" data-slide-to="90"></li>
                            <li data-target="#myCarousel1" data-slide-to="91"></li>
                            <li data-target="#myCarousel1" data-slide-to="92"></li>
                            <li data-target="#myCarousel1" data-slide-to="93"></li>
                            <li data-target="#myCarousel1" data-slide-to="94"></li>
                            <li data-target="#myCarousel1" data-slide-to="95"></li>
                            <li data-target="#myCarousel1" data-slide-to="96"></li>
                        </ol>   
                        <!-- Wrapper for carousel items -->
                        
    </section>

    <section class="gallerySection">
        <div class="container-fluid">
            <div class="section-heading">
                <h2>Videos</h2>
                <hr class="border">
            </div>
            <div class="row largeScreen">
                <div class="col-md-12  mx-auto">
                    <div id="myVideoCarousel" class="carousel slide galleryCarousel" data-ride="carousel" data-interval="0">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myVideoCarousel" data-slide-to="0" class="active"></li>
                            
                        </ol>   
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-4"><div class="video-thumbnail" style="background-image:url(/images/videos/videothb1.png)"><a class="popup-youtube video-btn " href="/videos/video1.mp4"><i class="fa fa-play"></i></a></div></div>
                                    <div class="col-sm-4"><div class="video-thumbnail" style="background-image:url(/images/videos/videothb2.png)"><a class="popup-youtube video-btn " href="/videos/video2.mp4"><i class="fa fa-play"></i></a></div></div>
                                    <div class="col-sm-4"><div class="video-thumbnail" style="background-image:url(/images/videos/videothb1.png)"><a class="popup-youtube video-btn " href="/videos/video3.mp4"><i class="fa fa-play"></i></a></div></div>
                                </div>    
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-4"><div class="video-thumbnail" style="background-image:url(/images/videos/videothb1.png)"><a class="popup-youtube video-btn " href="/videos/video1.mp4"><i class="fa fa-play"></i></a></div></div>
                                    <div class="col-sm-4"><div class="video-thumbnail" style="background-image:url(/images/videos/videothb2.png)"><a class="popup-youtube video-btn " href="/videos/video2.mp4"><i class="fa fa-play"></i></a></div></div>
                                    <div class="col-sm-4"><div class="video-thumbnail" style="background-image:url(/images/videos/videothb1.png)"><a class="popup-youtube video-btn " href="/videos/video1.mp4"><i class="fa fa-play"></i></a></div></div>
                                </div>    
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#myVideoCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#myVideoCarousel" data-slide="next">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{--  Notifications - press release section  --}}
    <section class="infoSection">
        <div class="container">
            <div class="section-heading">
                <h2>Social Media Feeds & Press Release</h2>
                <hr class="border">
            </div>
            <div class="feedDiv">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInLeft mb-3" data-wow-delay="0.1s">
                        <div class="fb">

                           
                            <div class="fb-page" data-href="https://www.facebook.com/SPBKothagudem/" data-tabs="timeline" data-width="" data-height="400" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/SPBKothagudem/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SPBKothagudem/">Badradri Kothagudem Police Commissionerate</a></blockquote></div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInLeft mb-3" data-wow-delay="0.2s">
                        <div class="twitter">
                            <a class="twitter-timeline" data-height="400" data-dnt="true" data-chrome="nofooter" href="https://twitter.com/SpKothagudem?ref_src=twsrc%5Etfw">Tweets by SpKothagudem</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInLeft mb-3" data-wow-delay="0.3s">
                        <!--<div class="">
                            <marquee class="feed-scroll" direction="up" scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();">
                                <ul>
                                    <li class="d-flex"><span class="mr-2">09/03/2022</span><a href="pdfs/Press Release Dt 09.03.2022.pdf" target="blank">Ganja Smugglers Arrested</a></li>
                                    <li class="d-flex"><span class="mr-2">13/01/2022</span><a href="pdfs/fakeracket.pdf" target="blank">Busted Fake Certificates Racket</a></li>
                                    <li class="d-flex"><span class="mr-2">09/01/2022</span><a href="pdfs/PR13012022.pdf" target="blank">Press release regarding murder case of Millscolony PS </a></li>
                                </ul>
                            </marquee>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contactsSection1">
        <div class="container">
            <div class="section-heading">
                <h2>Other Social Media Contacts</h2>
                <hr class="border">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-6 mb-3 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.1s">
                    <div class="contactInfo1">
                        <i class="fab fa-instagram"></i>
                        <h3>Instagram</h3>
                        <a href="" target="_blank">@</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-3 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.2s">
                    <div class="contactInfo1">
                        <i class="fab fa-whatsapp"></i>
                        <h3>WhatsApp</h3>
                        <a class="" href="" target="_blank"> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="copyright">
                Address: Bhadradri, 1-1, Ramalayam Street, Babucamp, Kothagudem, Telangana 507101 <br><br>
                <p class="Badradri Kothagudem redirect"><b>To Reach "Superintendent Office", <a href=https://www.google.com/maps/place/Badradri Kothagudem+Police+Headquaters/@18.0095009,79.5573067,18z/data=!4m12!1m6!3m5!1s0x3a334f7deb34d6cf:0xcfc231835a4b1c25!2sPolice+Head+Quarters+Hanamkonda!8m2!3d18.0095876!4d79.5583152!3m4!1s0x3a334f7dc7288779:0xf340dc3e00659771!8m2!3d18.0092123!4d79.5585528.html" target= "_blank">click here for location</a></b></p> <br>
                Content on this website is published and managed by IT Cell, Badradri Kothagudem Police Superintendent. <br>
                For any queries and suggestions regarding this website please <strong>Email to itcoreteam-wrlc[at]tspolice[dot]gov[dot]in</strong><br><br>
                <strong>Designed, Developed and Powered by <a href="https://www.xlenz.us" target="_blank" class="text1">XLenz Inc USA</a></strong><br>
                Last Updated: 27.06.2022
            </div>
        </div>
    </section>

    <div class="modal openingModal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <button type="button modalCloseBtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body text-center">
                    <img src="/images/dgpsir1.jpg" alt="" class="modalImg">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.js"></script>


    {{--  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  --}}
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/lightgallery.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/zoom/lg-zoom.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/thumbnail/lg-thumbnail.umd.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script>
    jQuery("#animated-thumbnails-gallery")
    .justifiedGallery({
        captions: false,
        lastRow: 'justify',
        rowHeight: 180,
        margins: 5
    })
    .on("jg.complete", function () {
        window.lightGallery(
        document.getElementById("animated-thumbnails-gallery"),
        {
            autoplayFirstVideo: false,
            pager: false,
            galleryId: "nature",
            plugins: [lgZoom, lgThumbnail],
            mobileSettings: {
            controls: false,
            showCloseIcon: false,
            download: false,
            rotate: false
            }
        }
        );
    });

    </script>
    <!--script type="text/javascript">
        $(window).on('load', function() {
            $('#myModal').modal('show');
        });
    </script-->

    

    <script>
        $(document).ready(function() {
            $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: false
            });
        });
    </script>

</body>


</html>
