@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Coping With Husband's Alcoholism</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentImg">
            <img src="images/womensCorner/alchoholic husband.jpg" alt="" class="" height="300px">
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>Alcoholism is a universal phenomenon. Down the centuries, A number of women across the globe have been coping with husbands who come home drunk, bash their wives and children and make everyone's life miserable. However surprisingly most women timidly adjust to their husband's ways rather than raising their voice in protest. Maybe they have their own difficulties and ways of dealing with the problem but if your alcoholic husband is abusing you then it is time that you put an end to this evil and fight courageously against this addiction and save you and your family.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Guidelines for Helping Your Alcoholic Husband:</h3>
            </div>
            <div class="contentPara">
                
                <p><i class="fas fa-arrow-right mr-2"></i> Alcoholism is an addiction to an Intoxicated drink. Therefore, willpower is not enough; proper therapies are needed and consult a proper rehabilitation centre or counselor.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Confront your husband with the fact of the disease, and offer a possible solution. Alcoholics never get well unless given it by a chance</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  Make your alcoholic husband responsible for his actions. Every time you make excuses for him or shield him, you have just paid for the next drink.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Use all the alcoholism resources available. It is a complex illness; it needs a network of people to treat it. Take into confidence some of your husband's closest friends (non -drinkers) and ask them to persuade your husband to relinquish the bottle. Most men brush aside the appeal of their wife but pay heed to their friends' advice.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never give up hope; never be discouraged. Even if your alcoholic husband does not recover at this time, the seed has to be planted. It may bear a fruit sometime in the future.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  Do not leave him alone. Always keep supervision on him. Accompany your husband to all parties and gatherings to keep a vigilant eye on him. If he is under supervision, he will not exceed the limits.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Try to avoid the parties where your husband will be forced to drink by his friends.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Try to find the root cause of the problem. Try to have a heart-to-heart talk with him in order to gauge the root cause of his addiction.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Once the cause is discovered, ways and means could be devised to solve the related problems.</p>
                
            </div>
        </div>
    </div>
</section>
@endsection