@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Job Frauds</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/jobFrauds.png" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
            <h3>What is Job Fraud? </h3>
            <ul class="contentList">
              <li>A job scam occurs when a scammer poses as an employer or recruiter, and offers attractive employment opportunities, which require the job seeker to pay some money in advance. This is usually under the guise of work visas, travel expenses or credit cheques that are required for the job. Once the money has been paid, the scammer disappears and the job seeker is left with no job and no refund.</li>
            </ul>
            </div>
            <div class="contentSectionHeading">
            <h4>How to protect yourself from Job Fraud?</h4>
            <ul class="contentList">
                <li>Never part with your money. The golden rule is, any job offer that requires you to pay a fee in advance, is probably a scam. Most reputable companies will absorb these costs themselves.</li>
                <li>Legitimate job-related emails will come from corporate email accounts. Any recruiter or company that corresponds from a free email account such as Yahoo, Live, Hotmail or Gmail is very likely a scammer.</li>
                <li>Another warning sign is that if the recruiter offers to train you for the job, in return for money, don't believe such offers. No legitimate company or recruiter will ask for money upfront.</li>
                <li>Don't hand out personal information.</li>
                <li>Do not forward, transfer, or "wire" money to an employer.</li>
                <li>Scammers often use fake URLs to mask themselves as large well-known corporations. Double check the URL or the web address of the company.</li>
            </ul>
            </div>
        </div>
        <div class="contentSectionDiv"align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                    <li>Take a clearly visible screenshot of the evidence.</li>
                    <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                    <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                    <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number  
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
        </div>
    </div>
    </div>
</section>
@endsection