@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Know Your Police Station</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container knowYourPSContainer">
        <div class="contentSectionDiv">
            <div class="">
                <!-- Department  Officers Table -->
                

                <!--Central Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/policeData?pslocation=SDPO Kothagudem">Kothagudem Division</a></th>                                    
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th class="text-primary" scope="row"><a href="/policeData?pslocation=Circle Office Chunchupally">Circle Office Chunchupally</a></th>
                                  <th class="text-primary" scope="row"><a href="/policeData?pslocation=Circle Office Kothagudem Rural">Circle Office Kothagudem Rural</a></th>
                                   <td><a href="/policeData?pslocation=Kothagudem I Town PS">Kothagudem I Town PS</a></td>
                                </tr>
                                <tr>  
                                    <td><a href="/policeData?pslocation=Sujathanagar PS">Sujathanagar PS</a></td>                                
                                    <td><a href="/policeData?pslocation=Chandrugonda PS">Chandrugonda PS</a></td> 
                                    <td><a href="/policeData?pslocation=Kothagudem II Town PS">Kothagudem II Town PS</a></td>
                                </tr>
                                <tr>  
                                    <td><a href="/policeData?pslocation=Laxmidevipalli PS">Laxmidevipalli PS</a></td>
                                    <td><a href="/policeData?pslocation=Julurpad PS">Julurpad PS</a></td>
                                    <td><a href="/policeData?pslocation=Kothagudem III Town PS">Kothagudem III Town PS</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/policeData?pslocation=Chunchupally PS">Chunchupally PS</a></td>                             
                                    <td><a href="/policeData?pslocation=Annapureddipalli PS">Annapureddipalli PS</a></td>                                                               
                                    <td><a href="/policeData?pslocation=Kothagudem Traffic PS">Kothagudem Traffic PS</a></td>
                                </tr>
                                
                              
                            </tbody>
                        </table>
                </div>

                <!--East Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                             <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/policeData?pslocation=SDPO Paloncha ">Polaoncha Division</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/policeData?pslocation=Circle Office Polaoncha">Circle Office Polaoncha</a></th>
                              <th class="text-primary" scope="row"><a href="/policeData?pslocation=Circle Office Aswaraopeta">Circle Office Aswaraopeta</a></th>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?pslocation=Paloncha Town PS">Paloncha Town PS</a></td>                                
                                <td><a href="/policeData?pslocation=Mulkalapalli PS">Mulkalapalli PS</a></td> 
                            </tr>
                            <tr>  
                                <td><a href="/policeData?pslocation=Aswaraopeta PS">Aswaraopeta PS</a></td>
                                <td><a href="/policeData?pslocation=Paloncha Rural PS">Paloncha Rural PS</a></td>
                                                                                               
                            </tr>      
                            <tr>                    
                                <td><a href="/policeData?pslocation=Burgamphad PS">Burgamphad PS</a></td> 
                                <td><a href="/policeData?pslocation=Dammapeta PS">Dammapeta PS</a></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>

                <!--West Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
        
                            <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/policeData?pslocation=SDPO Manuguru">Manuguru Division</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/police-data?pslocation=Circle office Edulla Bayyaram">Circle office Edulla Bayyaram</a></th>
                              <td><a href="/policeData?pslocation=Manguru PS">Manguru PS</a></td>                                                         
                            </tr>

                            <tr>  
                                <td><a href="/policeData?pslocation=Edulla Bayyaram PS">Edulla Bayyaram PS</a></td>                                
                                <td><a href="/policeData?pslocation=Aswapuram PS">Aswapuram PS</a></td> 
                            </tr>
                            <tr>  
                                <td><a href="/policeData?pslocation=Karakagudem PS">Karakagudem PS</a></td>
                            </tr>
                                                        
                        </tbody>
                    </table>
                </div>

                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                
                            <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/police-data?pslocation=SDPO Yellandu">Yellandu Division</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/police-data?pslocation=Circle office Tekulapally">Circle office Tekulapally</a></th>
                              <th class="text-primary" scope="row"><a href="/police-data?pslocation=Circle office Gundala">Circle office Gundala</a></th>
                              <td><a href="/policeData?pslocation=Yellandu PS">Yellandu PS</a></td>
                              
                               
                            </tr>
                            <tr>  
                                <td><a href="/policeData?pslocation=Tekulapalli PS">Tekulapalli PS</a></td>                                
                                <td><a href="/policeData?pslocation=Komararam PS">Komararam PS</a></td>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?pslocation=Allapally PS">Allapally PS</a></td> 
                                <td><a href="/policeData?pslocation=Gundala PS">Gundala PS</a></td>                                                              
                            </tr>
                                                        
                        </tbody>
                    </table>
                </div>

                 <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
    
                            <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/police-data?pslocation=SDPO BHADRACHALAM">Bhadrachalam Division</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td><a href="/policeData?pslocation=Bhadrachalam Town PS">Bhadrachalam Town PS</a></td>
                            </tr>
                            <tr>
                            
                                <td><a href="/policeData?pslocation=Cherla PS">Cherla PS</a></td>                                
                            </tr>
                            <tr>

                                <td><a href="/policeData?pslocation=Dummugudem PS">Dummugudem PS</a></td>
                            </tr>  
                            <tr>

                                <td><a href="/policeData?pslocation=Bhadrachalam PS">Bhadrachalam Traffic PS</a></td>
                            </tr>                     
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
    </div>
</section>
@endsection