@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Know Your Police Station</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container knowYourPSContainer">
        <div class="contentSectionDiv">
            <div class="">
                <!-- Department  Officers Table -->
                

                <!--Central Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                  <th scope="col" colspan="3">Kothagudem Division</th>
                                </tr>
                                <tr>
                                                                      
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=Central&ps=Bhadradri Kothagudem">Circle Office Chunchupally</a></th>
                                  <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=Central&ps=Hanumakonda">Circle Office Kothagudem Rural</a></th>
                                   <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=Central&ps=Hanumakonda">Kothagudem I Town PS</a></th>
                                </tr>
                                <tr>  
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=AJ Mills Colony">Sujathanagar PS</a></td>                                
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Hanumakonda">Laxmidevipalli PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Kazipet">Chunchupally PS</a></td>                             
                                </tr>
                                <tr>  
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Matwada">Chandrugonda PS</a></td> 
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Subedari">Julurpad PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Madikonda">Annapureddipalli PS</a></td>                                                               
                                </tr>
                                <tr>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Kakatiya University">KKothagudem II Town PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Dharmasagar">Kothagudem III Town PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Dharmasagar">Kothagudem Traffic PS</a></td>
                                </tr>
                               <!-- <tr>
                                    <td></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Above Subedari Police Station">WPS Rural</a></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Velair">Velair PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Bhadradri Kothagudem">WPS Urban</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Hasanparthy">Hasanparthy PS</a></td> 
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Kamalapur">Kamalapur PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=CI&zone=Central&pslocation=Elkaturthy Circle"><strong>Elkaturthy Circle</strong></a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Elakthurthy">Elkaturthy PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Mulkanoor">Mulkanoor PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Vangara">Vangara PS</a></td>
                                </tr>-->
                            </tbody>
                        </table>
                </div>

                <!--East Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col" colspan="3">Polaoncha Division</th>
                            </tr>
                            <tr>
                                <!--<th class="thead-dark-1" scope="col" colspan="3"><a href="/organization-data?role=DCP&zone=East&ps=CPO Hanumakonda">DCP EAST ZONE</a></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=East&ps=Narsampet">Circle Office Polaoncha</a></th>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=East&ps=Parkal">Circle Office Aswaraopeta</a></th>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Narsampet">Paloncha Town PS</a></td>                                
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Parkal">Paloncha Rural PS</a></td>
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Mamnoor">Burgamphad PS</a></td>                             
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=CI&zone=East&pslocation=Duggondi Circle">Mulkalapalli PS</a></td> 
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Athmakur">Aswaraopeta PS</a></td>
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Geesugonda">Dammapeta PS</a></td>                                                               
                            </tr>                          
                        </tbody>
                    </table>
                </div>

                <!--West Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col" colspan="3"></th>
                            </tr>
                            <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/organization-data?role=DCP&zone=West&ps=Jangaon">Manuguru Division</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Jangaon">Circle office Edulla Bayyaram</a></th>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Jangaon">Manuguru PS</a></th>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Jangaon">Edulla Bayyaram PS</a></td>                                
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Ghanpur">Karakagudem PS</a></td>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Narmetta Circle">Aswapuram PS</a></td> 
                            </tr>
                                                        
                        </tbody>
                    </table>
                </div>

                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col" colspan="3"></th>
                            </tr>
                            <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/organization-data?role=DCP&zone=West&ps=Jangaon">Yellandu Division</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Jangaon">Circle office Tekulapally</a></th>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Jangaon">Circle office Gundala</a></th>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Jangaon">Yellandu Division</a></th>
                               
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Jangaon">Tekulapalli PS</a></td>                                
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Ghanpur">Bodu PS</a></td>
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Wardhannapet Circle">Komararam PS</a></td>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Narmetta Circle">Allapally PS</a></td> 
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Raghunathpally Circle">Gundala PS</a></td>                                                              
                            </tr>
                                                        
                        </tbody>
                    </table>
                </div>

                 <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col" colspan="3"></th>
                            </tr>
                            <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/organization-data?role=DCP&zone=West&ps=Jangaon">Bhadrachalam Division</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Jangaon">Bhadrachalam Town PS</a></th>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Jangaon">Cherla PS</a></td>                                
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Ghanpur">Dummugudem PS</a></td>
                            </tr>                     
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
    </div>
</section>
@endsection