@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Know Your Police Station</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container knowYourPSContainer">
        <div class="contentSectionDiv">
            <div class="">
                <!-- Department  Officers Table -->
                

                <!--Central Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                  <th scope="col" colspan="3">Kothagudem Division</th>
                                </tr>
                                <tr>
                                                                      
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=Central&ps=Bhadradri Kothagudem">Circle Office Chunchupally</a></th>
                                  <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=Central&ps=Hanumakonda">Circle Office Kothagudem Rural</a></th>
                                </tr>
                                <tr>  
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=AJ Mills Colony">Sujathanagar PS</a></td>                                
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Hanumakonda">Laxmidevipalli PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Kazipet">Chunchupally PS</a></td>                             
                                </tr>
                                <tr>  
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Matwada">Chandrugonda PS</a></td> 
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Subedari">Julurpad PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Madikonda">Annapureddipalli PS</a></td>                                                               
                                </tr>
                                <tr>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Inthezargunj">Kothagudem I Town PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Kakatiya University">KKothagudem II Town PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Dharmasagar">Kothagudem III Town PS</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Dharmasagar">Kothagudem Traffic PS</a></td>
                                </tr>
                               <!-- <tr>
                                    <td></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Above Subedari Police Station">WPS Rural</a></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Velair">Velair PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Bhadradri Kothagudem">WPS Urban</a></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Hasanparthy">Hasanparthy PS</a></td> 
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=INS&zone=Central&pslocation=Kamalapur">Kamalapur PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=CI&zone=Central&pslocation=Elkaturthy Circle"><strong>Elkaturthy Circle</strong></a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Elakthurthy">Elkaturthy PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Mulkanoor">Mulkanoor PS</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="/policeData?role=SI&zone=Central&pslocation=Vangara">Vangara PS</a></td>
                                </tr>-->
                            </tbody>
                        </table>
                </div>

                <!--East Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col" colspan="3">Polaoncha Division</th>
                            </tr>
                            <tr>
                                <!--<th class="thead-dark-1" scope="col" colspan="3"><a href="/organization-data?role=DCP&zone=East&ps=CPO Hanumakonda">DCP EAST ZONE</a></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=East&ps=Narsampet">Circle Office Polaoncha</a></th>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=East&ps=Parkal">Circle Office Aswaraopeta</a></th>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Narsampet">Paloncha Town PS</a></td>                                
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Parkal">Paloncha Rural PS</a></td>
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Mamnoor">Burgamphad PS</a></td>                             
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=CI&zone=East&pslocation=Duggondi Circle">Mulkalapalli PS</a></td> 
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Athmakur">Aswaraopeta PS</a></td>
                                <td><a href="/policeData?role=INS&zone=East&pslocation=Geesugonda">Dammapeta PS</a></td>                                                               
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Duggondi">Duggondi PS</a></td>
                                <td><a href="/policeData?role=CI&zone=East&pslocation=Shayampet Circle"><strong>Shayampet Circle</strong></a></td>
                                <td><a href="/policeData?role=CI&zone=East&pslocation=Parwathagiri Circle"><strong>Parwathagiri Circle</strong></a></td>                                
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Khanapur">Khanapur PS</a></td>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Shayampet">Shayampet PS</a></td>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Parwatagiri">Parwatagiri PS</a></td>
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Nallabelli">Nallabelli PS</a></td>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Damera">Damera PS</a></td>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Sangem">Sangem PS</a></td> 
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=CI&zone=East&pslocation=Neckonda Circle"><strong>Neckonda Circle</strong></a></td>
                                <td></td>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Inavole">Inavole PS</a></td>
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Neckonda">Neckonda PS</a></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=East&pslocation=Chennaraopet">Chennaraopet PS</a></td>
                                <td></td>
                                <td></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>

                <!--West Zone Table-->
                <div class="know PSTable mx-auto col-md-8 mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col" colspan="3">WEST ZONE</th>
                            </tr>
                            <tr >
                                <th class="thead-dark-1" scope="col" colspan="3"><a href="/organization-data?role=DCP&zone=West&ps=Jangaon">DCP WEST ZONE</a></th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Jangaon">ACP JANGAON</a></th>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Ghanpur">ACP GHANPUR</a></th>
                              <th class="text-primary" scope="row"><a href="/organization-data?role=ACP&zone=West&ps=Wardhannapet">ACP WARDHANNAPET</a></th>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Jangaon">Jangaon PS</a></td>                                
                                <td><a href="/policeData?role=INS&zone=West&pslocation=Ghanpur">Ghanpur PS</a></td>
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Wardhannapet Circle"><strong>Wardhannapet Circle</strong></a></td>
                            </tr>
                            <tr>  
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Narmetta Circle"><strong>Narmetta Circle</strong></a></td> 
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Raghunathpally Circle"><strong>Raghunathpally Circle</strong></a></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Wardhannapet">Wardhannapet PS</a></td>                                                               
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Narmetta">Narmetta PS</a></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Chilpur">Chilpur PS</a></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Rayaparthy">Rayaparthy PS</a></td>                                
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Tharigoppula">Tharigoppula PS</a></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Raghunathpally">Raghunathpally PS</a></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Zaffergadh">Zaffergadh PS</a></td>
                            </tr>
                            <tr>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Bachannapet">Bachannapet PS</a></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Lingala Ghanpur">Lingala Ghanpur PS</a></td>
                                <td><a href="/policeData?role=CI&zone=West&pslocation=Palakurthy Circle"><strong>Palakurthy Circle</strong></a></td> 
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Gundala"></a></td>                                <td><a href="/policeData?role=SI&zone=West&pslocation=Palakurthy">Palakurthy PS</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Kodakandla">Kodakandla PS</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><a href="/policeData?role=SI&zone=West&pslocation=Devaruppala">Devaruppala PS</a></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
    </div>
</section>
@endsection