@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Living Alone</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="contentSection">
        <div class="container">
            <div class="contentImg">
                <img src="images/womensCorner/living alone.jpg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>If You are a Single Woman in a Locality / Area @ Work</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> India's new worldly women, the country's younger generation is shedding submissive attitudes, aiming for higher education, career, and longing for freedom and want to live independently. A number of sociological studies show that young Indian women now prize financial independence, freedom to decide when to marry and have children, and have glamorous career. The boom in software industry especially BPO’s has given employment for not so qualified girls also.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Single women still an oddity in India. But young, single Indian women face different challenges than their male peers. Renting an apartment is the major difficulty for them as the owners tend to think that she will bring plethora of male friends home. Hence, we thought we should guide all those who prefer to live alone.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Some precautions for the single women</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Always take an apartment/house after recommended by known people and take their opinion about security and safety in that locality.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Bring in your family members/ relatives/friends and introduce them to your landlord/neighbours. Give them signals that you have strong / connections.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Be friendly with your neighbours and share about your work life with them. They can be supportive.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Be vigilant about men hanging near your apartment/house for many days together and if necessary confront them along with your friends.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Try to keep a helper/maid at home. It lessens the tension of being alone all the time.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Get new locks or have the tumblers reset when you move into a used occupied dwelling.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Don’t hide a key outside the door, under mats, flowerpots or under rocks. If you want extra keys nearby, leave one with a trusted neighbour.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Make sure you have good, safe locks on all doors. Lock all doors when you go out, even if it’s for just a minute.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Be cautious when strangers enter your home. Use a peephole or look through a window to check. If you must talk to a stranger, never open the door wide.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Report broken streetlights in your neighbourhood. Well-lit areas discourage burglars and teasers.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Don’t give information to strangers over the telephone. Report frequently wrong calls.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Don’t give your password or other pertinent information to others.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If possible, use metal grillwork on entrance doors.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Report any strangers loitering in your neighbourhood or people asking vague questions about your neighbours.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Use lights effectively, leave several on in different areas of the house when you go out.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> A safe inexpensive window lock can also be made.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Leave a radio playing quietly when you go out to give the impression that someone is at home</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Shred all papers that contain pertinent information about you and members of your family.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i>Check references of maids, cleaning women or anyone else who may have to work inside your apartment while you are away from it.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Better safe than sorry</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Always take the elevator instead of the stairs. Stairwells are horrible places to be alone.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Do not get into an elevator if there is someone, with whom you are not comfortable.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Do not stand in the corners of the elevator, be near the front by the doors, ready to get off.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Continuous eve-teasing by local should be notified to the police.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If stalked, walk to the local police station. Change direction of walking and never enter a lonely area.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Always keep your distance when walking past a stranger on the street or in dark areas.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If you are walking alone in the dark or in a lonely area, and you find someone stalking you, scream and then run!</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Offending phone calls and mails from anyone whom you don’t like should be clearly avoided. Be polite and firm. If he doesn’t stop, report it to the police.</p>
                </div>
            </div>
        </div>
    </section>
@endsection
                