@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Matrimonial Frauds</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/matri2.jpg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>Matrimonial Frauds</h3>
                <p>After posting an impressive online profile on a matrimonial site, posing as prospective bridegrooms, fraudsters befriend women. They use voice-changing apps to pose as the parents of the bridegroom when talking to the women they are trying to con. Once they gain confidence, the fraudsters ask women to transfer money into their bank accounts stating an emergency. They disappear without a trace as soon as the money is transferred and the cycle continues.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>How do we mitigate it?</h4>
                <ul class="contentList">
                    <li>Create profiles only on a registered matrimonial site.</li>
                    <li>Verify educational qualification and job description by calling up the educational institutes or employer.</li>
                    <li>If you are getting married, instead of taking decisions on your own, it’s better to involve family members.</li>
                    <li>Visit the person’s house and meet his/her parents & relatives not once but a number of times. Invite them to your house as well.</li>
                    <li>Do a lot of background verification about the person interested in.</li>
                </ul>
            </div>
            <div class="contentSectionHeading">
                <h4>Never reveal your bank account information</h4>
                <p>Keep your username and password safe. Remember, no one from any trusted service will ever ask you for the same. For your safety, it’s recommended that you change the password regularly.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Check before logging in</h4>
                <p>To access a trusted service, always type in the correct URL of the trusted service into your browser window. Do not click on unsafe links. This keeps your credentials safe and secure. Unsafe links may lead you to a phishing page which captures all your credentials.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Background Checks</h4>
                <p>Please commit to marriage only after face-to-face meetings, especially after meeting prospective groom or bride’s parents/relatives.</p>
                <ul class="contentList">
                    <li>Visit their place of work. Do a thorough personal reference check.</li>
                    <li>You may also want to look at their social media profiles.</li>
                    <li>If the person is reluctant to share workplace or job details or meet in person along with parents, you should be cautious.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                    <li>Take a clearly visible screenshot of the evidence.</li>
                    <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                    <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                    <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
        </div>
    </div>
    </div>
</section>
@endsection