@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">OLX Frauds</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/olxFraud.jpg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>What Is OLX Fraud?</h3>
                <ul class="contentList">
                    <li>A fraudster posts a non-existent vehicle for sale to a website, typically a bike, household items or car, advertised for well below its market value.</li>
                    <li>The details of the vehicle, including photos and description, are typically lifted from social media and sites such as olx.com, quikr.com etc.</li>
                    <li>An interested buyer, hopeful for a bargain, calls and texts the fraudster, who responds saying the product is still available but is located at a nearby army base or, the scammer will say that he is out of State but the product is army shipping service.</li>
                    <li>The scam artist then instructs the victim to send a deposit or full payment via internet banking or UPI to initiate the “shipping” process.</li>
                    <li>The unaware victims transfer the funds and subsequently discover they have been scammed.</li>
                </ul>
                <p>In response, Olx websites often post warnings to buyers, for example, those on websites which warn not to pay an amount before you verify the product physically.</p>
            </div>
            </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                    <li>Take a clearly visible screenshot of the evidence.</li>
                    <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                    <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                    <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
            </div>
         </div>
    </div>
</section>
@endsection