@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Organization Data</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>{{title}}</h3>

                <div class="card mb-5 wingBody">                
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-3 mb-3 wingImg text-center">
                                <img src="{{data.dp}}" alt="Card image cap">
                            </div>
                            <div class="col-9">
                                @if(data.zone == 'Central' || data.zone == 'East' || data.zone == 'West')
                                    <h5 class="card-title">{{data.roleName}}</h5>
                                @else 
                                    <h5 class="card-title">{{data.roleName}}</h5>
                                @endif
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title">Name</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title normalField">
                                            @if(data.name === '')
                                            Vacancy
                                            @else
                                            {{data.name}}
                                            @endif
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title">Rank</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title normalField">{{data.roleName}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title">Cell No.</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title normalField">{{data.cellno}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title">Office No.</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title normalField">{{data.officeno}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title">Jurisdiction</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title normalField">{{data.jurisdiction}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title">Location</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title normalField">{{data.location}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@endsection