@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Organization Structure</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container-fluid">
        <div class="contentSectionDiv">
            <div class="orgImg">
                <img src="contactsData/BKGM_ORG[1]_page-0001.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
@endsection