@layout('layouts.main')
@section('content')
<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Add Contact to Org Unit</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">Add Contact to Org Unit Form</h5>
                    <form action="/searchContact" method="post">
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label class="form-label">Name</label>
                                @if(name)
                                <input type="text" class="form-control" placeholder="Name" name="name" value="{{name}}">
                                @else
                                <input type="text" class="form-control" placeholder="Name" name="name">
                                @endif
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Role</label>
                                @if(role)
                                <select class="form-select mb-3" name="role">
                                    <option value="">Select...</option>
                                    @if(role === "CP")
                                      <option value="CP" selected>Commissioner of Police</option>
                                      <option value="DCP">Dy. Commissioner of Police</option>
                                      <option value="ADLDCP">Addl. Dy. Commissioner of Police</option>
                                      <option value="ACP">Asst. Commissioner of Police</option>
                                      <option value="INS">Inspector of Police</option>
                                      <option value="SI">Sub-Inspector of Police</option>
                                      <option value="CI">Circle-Inspector of Police</option>
                                    @elseif(role === "DCP")
                                      <option value="CP">Commissioner of Police</option>
                                      <option value="DCP" selected>Dy. Commissioner of Police</option>
                                      <option value="ADLDCP">Addl. Dy. Commissioner of Police</option>
                                      <option value="ACP">Asst. Commissioner of Police</option>
                                      <option value="INS">Inspector of Police</option>
                                      <option value="SI">Sub-Inspector of Police</option>
                                      <option value="CI">Circle-Inspector of Police</option>
                                    @elseif(role === "ADLDCP")
                                      <option value="CP">Commissioner of Police</option>
                                      <option value="DCP">Dy. Commissioner of Police</option>
                                      <option value="ADLDCP" selected>Addl. Dy. Commissioner of Police</option>
                                      <option value="ACP">Asst. Commissioner of Police</option>
                                      <option value="INS">Inspector of Police</option>
                                      <option value="SI">Sub-Inspector of Police</option>
                                      <option value="CI">Circle-Inspector of Police</option>
                                    @elseif(role === "ACP")
                                      <option value="CP">Commissioner of Police</option>
                                      <option value="DCP">Dy. Commissioner of Police</option>
                                      <option value="ADLDCP">Addl. Dy. Commissioner of Police</option>
                                      <option value="ACP" selected>Asst. Commissioner of Police</option>
                                      <option value="INS">Inspector of Police</option>
                                      <option value="SI">Sub-Inspector of Police</option>
                                      <option value="CI">Circle-Inspector of Police</option>
                                    @elseif(role === "INS")
                                      <option value="CP">Commissioner of Police</option>
                                      <option value="DCP">Dy. Commissioner of Police</option>
                                      <option value="ADLDCP">Addl. Dy. Commissioner of Police</option>
                                      <option value="ACP">Asst. Commissioner of Police</option>
                                      <option value="INS" selected>Inspector of Police</option>
                                      <option value="SI">Sub-Inspector of Police</option>
                                      <option value="CI">Circle-Inspector of Police</option>
                                    @elseif(role === "SI")
                                      <option value="CP">Commissioner of Police</option>
                                      <option value="DCP">Dy. Commissioner of Police</option>
                                      <option value="ADLDCP">Addl. Dy. Commissioner of Police</option>
                                      <option value="ACP">Asst. Commissioner of Police</option>
                                      <option value="INS">Inspector of Police</option>
                                      <option value="SI" selected>Sub-Inspector of Police</option>
                                      <option value="CI">Circle-Inspector of Police</option>
                                    @elseif(role === "CI")
                                      <option value="CP">Commissioner of Police</option>
                                      <option value="DCP">Dy. Commissioner of Police</option>
                                      <option value="ADLDCP">Addl. Dy. Commissioner of Police</option>
                                      <option value="ACP">Asst. Commissioner of Police</option>
                                      <option value="INS">Inspector of Police</option>
                                      <option value="SI">Sub-Inspector of Police</option>
                                      <option value="CI" selected>Circle-Inspector of Police</option>
                                    @endif
                                </select>
                                @else
                                <select class="form-select mb-3" name="role">
                                  <option value="">Select...</option>
                                  <option value="CP">Commissioner of Police</option>
                                  <option value="DCP">Dy. Commissioner of Police</option>
                                  <option value="ADLDCP">Addl. Dy. Commissioner of Police</option>
                                  <option value="ACP">Asst. Commissioner of Police</option>
                                  <option value="INS">Inspector of Police</option>
                                  <option value="SI">Sub-Inspector of Police</option>
                                  <option value="CI">Circle-Inspector of Police</option>
                              </select>
                              @endif
                            </div>        
                            <input type="text" class="d-none" value="{{orgid}}" name="orgid">                
                        </div>    
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>

                    @if(!data)
                    <p>No results found</p>
                    @else
                    <form action="/addContactToOrgUnit" method="post">
                      <div class="contactTable mt-3">
                        <table class="table">
                          <thead class="thead-dark">
                            <th>Profile Picture</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Actions</th>
                          </thead>
                          <tbody>
                            <tr>
                              <td><img src="{{data.dp}}" alt="{{data.fnm}}" width="80px" height="80px"></td>
                              <td>
                                {{data.name}}
                                <input type="text" value="{{data._id}}" class="d-none" name="cid">
                              </td>
                              <td>
                                {{data.role}}
                                <input type="text" value="{{orgid}}" class="d-none" name="orgid">
                              </td>
                              <td>
                                <button type="submit" class="btn btn-primary">Add Contact</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </form>
                @endif
            </div>
        </div>
    </div>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
        // "order": [['0', 'dsc']],
        "columnDefs": [
          { orderable: false, targets: [0, 1, 2, 3] }
        ],
    });
} );
</script>
<script src="js/idleTimer.js"></script>
@endsection