@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Planning To Marry</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentImg">
            <img src="images/womensCorner/planning to marry.jpg" alt="" class="img-fluid" height="300px" width="500px">
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>What are you looking for?</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>The first thing to keep in mind is to make a list (at least mentally) of attributes you would want in your life partner, so you can focus better on your search. Depending upon your preferences, some factors that might be taken into consideration (not necessarily in this order) are job, salary, educational qualifications, appearance (looks, height, weight, etc.), caste, horoscope, values (traditional, liberal or moderate), habits (drinking, smoking, etc.), location, family background, social standing etc.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Inform your parents</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> It's best to spell out any preferences beforehand, so your parents can search accordingly and the list can be narrowed down. This way, you will save your parents' time as well.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Meeting your 'could-be'</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Deciding to marry someone is one of the most important decisions of your life. If you are confused, unsure or awkward, don't fret. Just a few things you can keep in mind when you meet your could-be is significant than other.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>DO's</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Wear something that is both flattering and comfortable. Try meeting when away from relatives. Choose a neutral venue like a café, shopping mall etc.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Don'ts</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Don't meet with the mindset that you have to marry this person. Don't think you'll be sure to hate him either.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Before, During, and After</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>  Before meeting, try getting in touch with the person over the phone or through e-mail to prepare yourself, to some extent, for what to expect. During the meeting, keep an open mindset. Relax and just be yourself. Don't hesitate to discuss important issues. Afterwards, think calmly and give yourself time to assess. Although this meeting may not indicate if he is 'the' person you should marry, it can certainly tell you whether you want to get to know the person better and take a step forward.
                    If, at any time during the meeting, you realize it won't work, keep your cool, be polite, and try to keep it as short as possible. Trusting your gut feeling is the most important -- if you feel something is not right, it's probably not.
                    </p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Ask away!</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>It's perfectly okay to ask any questions you have in mind. But remember, timing is the key. For example, it can be outright insulting and offensive if the very first question is 'How much do you earn, both net and gross?'
                    Sometimes, information is not offered voluntarily and one hesitates to ask. But, if the answer to a question is important in taking matters further, there is no harm in asking. Maybe the person you ask will feel offended. But, when you are taking such an important decision, you have to take that risk. It is better that they feel bad now, rather than you feeling worse later?
                    </p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Important questions that to be asked once you get familiar</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Are you ready for marriage?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How do you like to spend your free time?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How do you feel about smoking and/or drinking?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> What are you looking for in a spouse?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> What are your preferences, in terms of food (non-vegetarian or vegetarian)?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How do you feel about pets?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> What is your family like?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> What do they feel about dowry?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> What are your likes and dislikes?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How do you act when you get upset?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How often will we visit our extended family (if staying apart from parents)?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do you believe in sharing housework?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How do you handle the money?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How about having children, naming them, their religion.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Appropriate questions on the profession front.</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> What are your future plannings?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> How much time do you spend at work?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Are you looking for a working wife, housewife, or is it immaterial to you?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> What would we do in the situation that I get transferred?</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Before You say YES, Follow the checklist given below.</h3>
            </div>
            <div class="contentPara">
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Background research: Although researching the boy's background might seem painstaking, but it is very important. </h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>The difficulty of researching goes up a notch when the boy is abroad, especially if you don't have any friends/relatives to help you out there. This was the case with one girl, who married an NRI in the US only to discover, when she got there, he had a live-in relationship with an American.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Make discreet inquiries outside with the help of relatives and friends, with respect to his job, family background, age, education, habits, financial condition, medical history, lifestyle, etc.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> You can get an employer verification to find out if he is working there or not.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Definitely check the visa status</p>
                <p><i class="fas fa-arrow-right mr-2"></i> You may also ask for a proof of employment letter.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> You can hire a detective to do a background check (this is expensive, however).</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If you have friends and family abroad, ask them to meet him and find out more.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Additionally, communicate regularly through email, phone, chat, etc. to get a better idea about the person</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Previous Relationships</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> These days, it is not a problem at all to have had relationship. It depends on many factors like the type of relationship, duration, feelings, etc. As long as it is a thing of the past and if he is committed, one should not mind.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> However, finding out about a potential partner's previous sexual history is next to impossible. Asking such personal questions will seem too embarrassing. Indian marriages involve the whole family and private information coming out in the open could have severe repercussions, so some may not openly disclose this aspect.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>A medical check-up?</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Both partners getting a blood test especially for HIV are absolutely a MUST. If the boy's side feels offended, help by telling them that you are convinced about getting it done yourself too. One should also check up for a history of hereditary disease in his/her family? Does he/she suffer from an illness that requires constant medical attention? Actually, it is difficult for the girl or the girl's side to ask this, but it is better to be safe than sorry.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> There are cases where, out of hesitation, marriages have taken place without such insistence, based solely on the goodwill of the family. The boys have been discovered to be HIV-positive later.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Is he the one?</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Finally, there should be mutual consent and understanding from both sides; only then can a marriage be sustained. It is important that you like your prospective partner enough to marry him. Good arranged marriages occur when the parents support and help their children find life partners.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>SAY NO</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> If he hesitates to reveal all the essential personal information to you, in spite of your enquiry.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If he is showing inexplicable hurry and a kind of now or never type of attitude.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If he demands dowry.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If he / his parents want your share of inherited property to be transferred in his name immediately.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If he keeps questioning you about family or friends?</p>
            </div>
        </div>
    </div>
</section>
@endsection 

