@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Previous Commissioners</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv">
            <div class="contentPara">
                <div class="card mb-5 prevCommiss mx-auto">                
                    <div class="card-body pb-0">
                            <div class=" mb-3 wingImg text-center">
                                <img src="../images/prevCommissioner1.jpg" alt="Card image cap"> 
                            </div>                               
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h5 class="card-title">Sri. Amber Kishore Jha , IPS</h5>
                                        <h5 class="card-title">116-10-2016 TO  11-09-2018</h5>
                                    </div>
                                </div>                                                                                            
                    </div>
                </div>
                <div class="card mb-5 prevCommiss mx-auto">                
                    <div class="card-body pb-0">
                            <div class=" mb-3 wingImg text-center">
                                <img src="../images/prevCommissioner2.png" alt="Card image cap"> 
                            </div>                               
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h5 class="card-title">Sri. Sunil Dutt IPS </h5>
                                        <h5 class="card-title">12-09-2018 TO 04-07-2022</h5>
                                    </div>
                                </div>                                                                                            
                    </div>
                </div>
                <div class="card mb-5 prevCommiss mx-auto">                
                    <div class="card-body pb-0">
                            <div class=" mb-3 wingImg text-center">
                                <img src="../images/prevCommissioner3.jpg" alt="Card image cap" > 
                            </div>                               
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h5 class="card-title">Sri. Dr.Vineeth G IPS </h5>
                                        <h5 class="card-title">05-07-2022 TO 06-01-2024</h5>
                                    </div>
                                </div>                                                                                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@endsection