@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Prevent Abuse of 498 A</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="contentSection">
        <div class="container">
            <div class="contentImg">
                <img src="images/womensCorner/498A abuse.jpg" alt="" class="img-fluid" height="300px" width="500px">
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Always remember! Counselling is better than the couple and their kids quarelling it out among themselves.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> To err is human! Mistakes can take place from both the sides. One should not misuse the law to cover their own mistake.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Do not exaggerate about yourself. You should be clear, frank and specific about the issue.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Never include the persons who are NOT involved in the harassment. Be honest.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Always remember! Section 498 ‘A’ IPC is not a law to take revenge, but to punish those severely so that others learn from them.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> There are many vested interests around to take undue advantage of your helplessness. They might misguide you by exaggerating the facts, adding innocents who are unconnected with the harassment to the list of accused, exaggerating the amount of bribe.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If you need help in expressing your woes, please take the help of reputed voluntary organizations or help lines only. Avoid the unscrupulous persons who always promise you to get your amount back and extort money from the accused side and dilute your case.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Ensure your presence while someone drafts the complaint for you and ask him to read it out before you lodge it in the P.S</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Some victims are misguided to exaggerate the contents of the complaint in order to make it a STRONG case. The truth is entire strength of the case hinges on quality of evidence that is provided by the victim. If the contents of the complaint are not supported by the facts on the ground, cases become very weak and genuine victims suffer.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If any policeman or the officer concerned demands money for investigating the case or to arrest the accused, do not give in. Bring it to the notice of his/her superiors.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Never forget that both the daughter and daughter-in-law deserve similar affection and care.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Remember! 498A is not a tool to force the other party for divorce. There are so many other legal procedures to find solutions to the incompatibilities in the marriage.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> 498A is also not a tool to get the custody of children. There are other alternate legal methods for this.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Never force the police to arrest the accused on the same day of lodging the complaint as gathering credible evidence takes time. However, you can help the police expedite the investigation by providing the known evidence at the time of lodging the complaint.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If you have the information that the accused are planning to leave the country, you can always bring it to the notice of the concerned investigating officer without delay. Police can alert all the international airports or sea ports for their detention, if needed.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If you are a parent, lodge a complaint only after you ascertain the facts in detail from your daughter. Her statement is vital for the investigation.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Conviction rate in 498A cases is very poor in the country as a whole. There are many reasons for this. You can help us improve this by NOT retracting during trial but also from what you have said during investigation.</p>
                </div>
            </div>
        </div>
    </section>
@endsection