@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Road safety</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Preventive Measures</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Identified Accident Prone Areas/Black Spot Areas</h3>
                <p>There are total (81) Black Spot areas in the Warangal Police Commissionerate, of which (10) are major accident-prone areas. They are</p>
                <ul class="contentList">
                    <li>Vangapalli X Road of Kamalapur PS</li>
                    <br><li>CSR Garden, Hunter road of Subedari PS</li>
                    <br><li>Ramaram of KUC PS.</li>
                    <br><li>SRSP Canal – Chinthagattu of KUC PS.</li>
                    <br><li>Hunter Road at New Shayampet of Subedari PS</li>
                    <br><li>Venkatrama Junction to Labour Colony of Mills Colony PS.</li>
                    <br><li>Mamnoor tank to Bollikunta X road of Mamnoor PS.</li>
                    <br><li>Between SRSP Canal and  Arepally of Hasanparthy PS.</li>
                    <br><li>Alankar Junction of Hanamkonda PS.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading" align="justify">
                <h3>Precautionary Measures taken by the Warangal Police Commissionerate for reducing road accidents</h3>
                <ul class="contentList">
                    <li>Placed Signboards, Thermoplastic Rumble Strips, Caution boards and Cones at Black Spot areas to reduce the accidents.</li>
                    <br><li>Special Task Force Teams formed to clear footpaths, junction areas from encroachment for free flow of traffic.</li>
                    <br><li><strong>Awareness Programmes conducted in Commissionerate</strong>: As a part of road safety awareness “Mee Kshemam'' programme was started for the drivers of transport/non-transport vehicles with a special focus on truck drivers. It is aimed at educating drivers plying their vehicles on National Highways regarding the repercussions of drunk driving, using mobile while driving and sleepless driving during long journeys by truck drivers. Above 1000 drivers were attended the said awareness program from Mamnoor, athmakur and Hasanparthy PSs in their respective area. </li>
                    <br><li><strong>Mee Kshemam</strong> programme was organised in Mamnoor Police Station limits which is on NH - 563</li>
                    <br><li><strong>Conducted health check-ups </strong>to heavy vehicle drivers and were given medical kits.</li>
                    <br><li><strong> Conducted awareness programme</strong> on helmets at Rani Rudramadevi Hall, CPO with the families of the deceased in fatal road accidents.</li>
                    
                    
                    <br><li><strong>Road Safety Weeks:</strong> Organized road safety weeks on the initiative of the DGP Telangana State. During Road Safety Week schools, colleges, youth clubs, community campaigners, employers, sports clubs, Fire officers, RTA, KUDA, GWMC Officials, local authorities were involved road safety awareness programs and promoted life-saving messages with interesting and innovate slogans for various segments of road users.</li>
                    <br><li><strong>Bus Bay:</strong>  Established Bus Bays at important places with the help of the GWMC and provided seating facilities to passengers and prevented passengers from trying to board or alight in hazardous situations. This helped in reducing road blocking and traffic jams, safe picking and dropping of passengers and free flow of traffic.</li>
                    <br><li><strong>Traffic and Enforcement work :</strong>There has been a phenomenal increase in enforcement work for curbing the increase of accidents and traffic violations.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection