@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Road safety</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Overview</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
        <div class="contentImg">
                <img src="images/roadsafety.jpeg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>Road Safety Overview</h3>
                <h4>Combined length of roads across India</h4>
                <ul class="contentList">
                    <li>The Indian Road network was the second largest in the world with a total length of over five million kilometres in 2019.</li>
                    <li>Increased industrial activities and increasing number of vehicles have supported road transport growth across the Country.</li>
                </ul>
            </div>
            <div class="contentSectionHeading">
                <h4>Number of vehicles in operation across India</h4>
                <ul class="contentList">
                    <li>The total number of vehicles in fiscal year 2019 stood at about 295.8 million.</li>
                    <li>Road travel seemed to be the preferred choice in India with over 60 percent of the population who used personal or shared vehicles for commuting.</li>
                    <li>Not only public commute, the industrial movement of goods through roads had also been on the rise with well over two billion metric tons of freight transported through roads.</li>
                    <li>In the southern cities of the country,Hyderabad, Chennai and bengaluru, personal two-wheelers were vehicles of choice for the young generation.</li>
                    <li>This affection towards the easily-navigable two-wheelers was reflected in the sales volume, with an approximate 17 million two-wheelers sold in the country in the financial year 2020.</li>
                </ul>
            </div>
            <div class="contentSectionHeading">
                <h4>Number of road accidents in India</h4>
                <ul class="contentList">
                    <li>Road transport remains the most favoured mode of transport for both freight and passenger movement in India. The fast-growing population, exceptional rate of motorization coupled with the ever-growing urbanization has made people vulnerable to frequent road accidents resulting in fatalities, injuries/disabilities.</li>
                    <li>Road accidents in India kill almost 1.5 lakh people annually. Accordingly, India accounts for almost 11% of the accident-related deaths in the world.</li>
                    
                    
                </ul>
                
            </div>
            <div class="contentSectionHeading">
                <h4>Number of road accidents in Bhadradri Kothagudem  Police Department  </h4>
                <ul class="contentList">
                    <li>Road Accidents cases are gradually decreasing in Bhadradri Kothagudem  Police Department  due to efforts of Police and contribution of stakeholders i.e Municipal, Panchayati Raj, NHAI and R&B authorities.</li>
                    <li>Regularly conducting vehicle checking, imposing fines to violators and booking drunk & drive cases to ensure the road safety. Violators who are booked under drunk & drive cases are being summoned to Traffic Training Institute, Bhadradri Kothagudem  for counselling along with their family members.</li>
                    <li>Apart from the above, a special drive has taken up and conducted vehicle checking to realise the fine amount by the violators at the spot as the violators are not paying even after sufficient time is given to them to pay fine.</li>
                </ul>
            </div>
            <div class="contentSectionHeading">
                <h4> Road Accidents Data of Bhadradri Kothagudem  Police Department :</h4>
            </div>
            <!--<div class="row">
                <div class="col wow fadeInUp" data-wow-duration="1s">
                    <div class="aboutTable">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan=2">Year</th>
                                    <th colspan=4">Accidents</th>
                                    <th colspan="2" class="persons-header">Persons</th>
                                </tr>
                                <tr>
                                    <th>Fatal</th>
                                    <th>Non Fatal</th>
                                    <th>Non Injury</th>
                                    <th>Total</th>
                                    <th>Deceased</th>
                                    <th>Injured</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr align="center">
                                    <th scope="row">2018</th>
                                    <td>227</td>
                                    <td>310</td>
                                    <td>32</td>
                                    <td>569</td>
                                    <td>249</td>
                                    <td>666</td>
                                </tr>
                                <tr align="center">
                                    <th scope="row">2019</th>
                                    <td>202</td>
                                    <td>246</td>
                                    <td>38</td>
                                    <td>486</td>
                                    <td>225</td>
                                    <td>466</td>
                                </tr>
                                <tr align="center">
                                    <th scope="row">2020</th>
                                    <td>180</td>
                                    <td>241</td>
                                    <td>34</td>
                                    <td>455</td>
                                    <td>194</td>
                                    <td>446</td>
                                </tr>
                                <tr align="center">
                                    <th scope="row">2021</th>
                                    <td>222</td>
                                    <td>190</td>
                                    <td>47</td>
                                    <td>459</td>
                                    <td>234</td>
                                    <td>406</td>
                                </tr>
                                <tr align="center">
                                    <th scope="row">2022</th>
                                    <td>215</td>
                                    <td>231</td>
                                    <td>69</td>
                                    <td>515</td>
                                    <td>232</td>
                                    <td>526</td>
                                </tr>
                                <tr align="center">
                                    <th scope="row">2023</th>
                                    <td>223</td>
                                    <td>237</td>
                                    <td>55</td>
                                    <td>515</td>
                                    <td>245</td>
                                    <td>549</td>
                                </tr>
                                <tr align="center">
                                    <th scope="row">2024</th>
                                    <td>127</td>
                                    <td>115</td>
                                    <td>24</td>
                                    <td>266</td>
                                    <td>137</td>
                                    <td>234</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accidents and Persons Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        .persons-header {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th rowspan="2">Year</th>
                <th colspan="4">Accidents</th>
                <th colspan="2" class="persons-header">Persons</th>
            </tr>
            <tr>
                <th>Fatal</th>
                <th>Non Fatal</th>
                <th>Non Injury</th>
                <th>Total</th>
                <th>Deceased</th>
                <th>Injured</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2023</td>
                <td>10</td>
                <td>20</td>
                <td>5</td>
                <td>35</td>
                <td>15</td>
                <td>25</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>12</td>
                <td>18</td>
                <td>8</td>
                <td>38</td>
                <td>10</td>
                <td>30</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</body>
</html>

        </div>
    </div>
</section>
@endsection