@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Sexual Harassment at Work</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentImg">
            <img src="images/womensCorner/sexual harassment.png" alt="" class="img-fluid" height="300px" width="500px">
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>Sexual Harassment affects all women in some form or the other. Lewd remarks, touching, wolf-whistles, “looks” are part of any woman’s life, so much so that it is dismissed as normal.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Working women are no exception. In fact, working women most commonly face the backlash, to women taking new roles, which belong to male domains especially in the organized sector. In the unorganized sector also it is widely prevalent. Studies have shown that sexual harassment is still endemic, often hidden and present in all kinds of organisations.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>The problem</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-star mr-2"></i> <i>Revathi worked as Secretary to Ramanatham, the chairman of an export promotion council. He asked her to accompany him to the business centre of a five star hotel. At the business centre, he tried to sit too close to X and touch her and did not give up even after she protested. He also tried to molest her in the elevator. </i></p>
                <p><i class="fas fa-star mr-2"></i> <i>Janaki did not reciprocate to Vijay’s love and avoided him. She began to receive crank calls from him and later from his friends/co-workers. She started feeling very uncomfortable in the presence of Vijay and her colleagues and her participation in official/non official gathering gradually reduced. Her lack of participation is being noticed by her senior and her performance was getting affected.</i></p>
                <p><i class="fas fa-star mr-2"></i> <i>Rithika working in an MNC avoids sexual advances from her manager. As a result she is given disproportionate amounts of work and is ultimately bypassed by her junior male colleague for promotion. When she protests, the boss blatantly and tells her that “everything is in his hands only”</i></p>
                <p><i class="fas fa-arrow-right mr-2"></i> Subjects another person to an unwelcome the act of physical intimacy, like grabbing, brushing, touching, pinching etc.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Makes an unwelcoming demand or request (whether directly or by implication) for sexual favours from another person, and further makes it a condition for employment/payment of wages/increment/promotion etc.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Shows a person any sexually explicit visual material, in the form of pictures/cartoons/pin-ups/calendars/screen savers on computers/any offensive written material/pornographic e-mails/sms etc.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> It is sexual harassment if a supervisor requests sexual favours from a junior in return for promotion or other benefits or threatens to sack for non-cooperation. It is also sexual harassment for a boss to make intrusive inquiries into the private life of employees, or persistently ask them out.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> It is sexual harassment for a group of workers to joke and snigger amongst themselves about sexual conduct in an attempt to humiliate or embarrass another person.</p>
                
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>What an employer can/need to do</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> First and foremost, acknowledge that it is your legal responsibility to provide safe working environment for women free from sexual harassment and discrimination.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Know that sexual harassment can have a devastating effect upon the health, confidence, morale and performance of those affected by it. The anxiety and stress produced by sexual harassment commonly leads to those subjected to it taking time off work due to sickness, being less efficient at work, or leaving their job to seek work elsewhere</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Understand the reasons why women remain silent about sexual harassment. An absence of complaints about sexual harassment does not necessarily mean an absence of sexual harassment. It may mean that the recipients of sexual harassment think that there is no point in complaining because:</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Nothing will be done about it.</p>
                
                <p><i class="fas fa-arrow-right mr-2"></i> The complainant will be subjected to ridicule.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Negative exposure and publicity.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Embarrassing depositions.</p>
                
                <p><i class="fas fa-arrow-right mr-2"></i> Lowered employee morale</p>
                <p><i class="fas fa-arrow-right mr-2"></i> The best way to prevent sexual harassment is to adopt a comprehensive sexual harassment prevention policy. The aim is to ensure that sexual harassment does not occur and, where it does occur, to ensure that adequate procedures are readily available to deal with the problem and prevent its recurrence.</p>
                <p><div class="contentSectionHeading">
                <h3>What Steps Can women Employees Take To Prevent Sexual Harassment?</h3> </div>
                <p><i class="fas fa-arrow-right mr-2"></i> Identify/Recognise Harassment</p>
                <p> <b>Ask yourself the following:</b></p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do I agree to the behaviour?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Does the behaviour make me uncomfortable?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Does it violate my right to work in dignity in a safe working environment?</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not blame yourself. Don't ignore sexual harassment in the hope that it will go away.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do the unexpected: Name the behaviour. Whatever he's just done, say it, and be specific. Hold the harasser accountable for his actions. Don't make excuses for him; don't pretend it hasn't really happened. Take charge of the encounter and let people know what he has done. Privacy protects harassers, but visibility undermines them.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Make honest and direct statements. Speak the truth (no threats, no insults, no obscenities, no appeasing verbal fluff and padding). Be serious, straight forward and blunt.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Demand so that the harassments stop.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Make it clear that all women have the right to be free from sexual harassment. Don't respond to the harasser's excuses or diversionary tactics.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> His behaviour is the issue. Say what you have to say, and repeat it if he persists. Reinforce your statements with strong, self-respecting body language.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> End the interaction on your own terms, with a strong closing statement: 'You heard me. Stop harassing women'.</p>
                 <br>
        
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>If you decides to file a Complaint</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Keep records: Keep track of what happens in a journal or diary and keep any letters or notes or other documents you receive. Write down the dates, times, places, and an account of what happened. Write down the names of any witnesses.If the harassment is made through mobile phone i.e., SMS, Calls, & WhatsApp chat etc, keep a record of it for evidence along with the complaint.</p>
               
                <p><i class="fas fa-arrow-right mr-2"></i> Set your own boundaries: Say "NO" emphatically and clearly when you are asked to go places, do things, and respond to questions, or engage in situations that make you uncomfortable. Do not worry about offending the other person or hurting his or her ego. Take care of yourself first.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Be aware of situations and people who may harm you:Don't ignore others warnings about particular people or social settings. Acknowledge their concern for you and for themselves.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Take a colleague or sympathetic senior into confidence so that you have a reliable witness to stand up for you when it comes down to your word against him.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Finally, submit a complaint to the competent authority along with evidence for taking necessary actions.</p>
         </div>       <p><i class="fas fa-arrow-right mr-2"></i>If those in authority, act swiftly and firmly against him, then absolve them of blame and move on. </p>
    </div>
</section>
@endsection