@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Other Services</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Suicide Prevention</h3>
                <p>While the link between suicide and mental disorders (in particular, depression and alcohol use disorders) is well established, many suicides happen impulsively in moments of crisis. Risk factors include experience of loss, loneliness, discrimination, a relationship break-up, financial problems, chronic pain and illness, violence, abuse, and conflict or other humanitarian emergencies. The strongest risk factor for suicide is a previous suicide attempt.</p>
                <p>Suicide is an emerging and serious public health issue in India. However, it is preventable with timely, evidence-based and often low-cost interventions. The most vulnerable are the 15–29-year old, the elderly and persons with special needs.</p>
                <p><strong>The Mental Healthcare Act, 2017 </strong>decriminalizes suicide, assuring adequate medical relief to those attempting it. This is a landmark development ensuring dignity and a humane perspective to the issue. The National Mental Health Programme and Wellness Centres under the Ayushman Bharat Program are efforts to provide quality care at the primary health care level. Deaddiction centres and rehabilitation services are also available.</p>
                <p>In India, pesticides, firearms, self-hanging, jumping off bridges and in front of trains are the major means by which suicide is attempted. Policies limiting access to pesticides, firearms and putting barriers on bridges and railway platforms could be some of the preventive options. In addition, counselling services and creating platforms for awareness could be considered.</p>
                
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>Signs and Symptoms</h4>
                <strong><p>The behaviours listed below may be signs that someone is thinking about suicide.</p> </strong>
                <ul class="contentList">
                    <li>Talking about wanting to die or wanting to kill themselves.</li>
                    <br><li>Talking about feeling empty, hopeless, or having no reason to live.</li>
                    <br><li>Making a plan or looking for a way to kill themselves, such as searching for lethal methods online, stockpiling pills, or buying a gun.</li>
                    <br><li>Talking about great guilt or shame.</li>
                    <br><li>Talking about feeling trapped or feeling that there are no solutions.</li>
                    <br><li>Feeling unbearable pain (emotional pain or physical pain).</li>
                    <br><li>Talking about being a burden to others.</li>
                    <br><li>Using alcohol or drugs more often.</li>
                    <br><li>Acting anxious or agitated.</li>
                    <br><li>Withdrawing from family and friends.</li>
                    <br><li>Changing eating and/or sleeping habits.</li>
                    <br><li>Showing rage or talking about seeking revenge.</li>
                    <br><li>Taking great risks that could lead to death, such as driving extremely fast.</li>
                   
                    <li>Displaying extreme mood swings, suddenly changing from very sad to very calm or happy</li>
                    <br><li>Giving away important possessions</li>
                    <br><li>Saying goodbye to friends and family</li>
                </ul>
                <p>If these warning signs apply to you or someone you know, get help as soon as possible, particularly if the behaviour is new or has surfaced recently.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h4>Risk Factors</h4>
                <p>Suicide does not discriminate. People of all genders, ages, and ethnicities can be at risk. Suicidal behaviour is complex, and there is no single cause. Many different factors contribute to someone making a suicide attempt. But people most at risk tend to share specific characteristics. The main risk factors for suicide are:</p>
                <ul class="contentList">
                    <li>Depression, other mental disorders, or substance abuse disorder.</li>
                    <br><li>Certain medical conditions.</li>
                    <br><li>Chronic pain.</li>
                    <br><li>A prior suicide attempts.</li>
                    <br><li>Family history of a mental disorder or substance abuse.</li>
                    <br><li>Family history of suicide.</li>
                    <br><li>Family violence, including physical or sexual abuse.</li>
                    
                    <li>Having recently been released from prison or jail.</li>
                    <br><li>Being exposed to others' suicidal behaviour, such as that of family members, peers, or celebrities</li>
                </ul>
                <p>Many people have some of these risk factors but do not attempt suicide. It is important to note that suicide is not a normal response to stress.Suicidal thoughts or actions are a sign of extreme distress, not a harmless bid for attention, and should not be ignored.</p>
                
                <p>Suicide is complex. Treatments and therapies for people with suicidal thoughts or actions will vary with age, gender, physical and mental well-being, and with individual experiences. NIMH has focused research on identifying people at risk for suicide and identifying effective interventions.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h4>Identifying People at Risk for Suicide</h4>
                <ul class="contentList">
                    <li><strong>Universal Screening:</strong>Research has shown that a three-question screening tool helps emergency room personnel identify adults at risk for suicide. Researchers found that screening all patients – regardless of the reason for their emergency room visit – doubled the number of patients identified as being at risk for suicide. </li>
                    <br><li><strong>Predicting Suicide Risk Using Electronic Health Records:</strong>Researchers from NIMH partnered with the VA and others to develop computer programs that could help predict suicide risk among veterans receiving VA health care. Other healthcare systems are beginning to use data from electronic health records to help identify people with suicide risk as well.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Treatments and Therapies</h3>
                <h4>Brief Interventions</h4>
                <ul class="contentList">
                    <li><strong>Safety Planning:</strong>Personalized safety planning has been shown to help reduce suicidal thoughts and actions. Patients work with a caregiver to develop a plan that describes ways to limit access to lethal means such as firearms, pills, or poisons. The plan also lists coping strategies and people and resources that can help in a crisis.</li>
                    <br><li><strong>Follow-up phone calls</strong> Research has shown that when at-risk patients receive further screening, a Safety Plan intervention, and a series of supportive phone calls, their risk of suicide goes down.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h4>Psychotherapies</h4>
                <p>Multiple types of psychosocial interventions have been found to help individuals who have attempted suicide (see below). These types of interventions may prevent someone from making another attempt.</p>
                <ul class="contentList">
                    <li><strong>Cognitive Behavioural Therapy (CBT)</strong>can help people learn new ways of dealing with stressful experiences through training. CBT helps individuals recognize their thought patterns and consider alternative actions when thoughts of suicide arise. </li>
                    <br><li><strong>Dialectical Behaviour Therapy (DBT)</strong>has been shown to reduce suicidal behaviour in adolescents. DBT has also been shown to reduce the rate of suicide in adults with borderline personality disorder, a mental illness characterized by an ongoing pattern of varying moods, self-image, and behaviour that often results in impulsive actions and problems in relationships. A therapist trained in DBT helps a person recognize when his or her feelings or actions are disruptive or unhealthy, and teaches the skills needed to deal better with upsetting situations.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection
