@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">
                        @if(data[0].wing === "Police Control Room")
                            Police Control Room
                        @elseif(data[0].wing === "DSB")
                            District Special Branch
                        @elseif(data[0].wing === "DSB-2")
                            District Special Branch-2
                        @elseif(data[0].wing === "Clues Team")
                            Clues Team
                        @elseif(data[0].wing === "Bharosa")
                            bharosa centre
                        @elseif(data[0].wing === "CCS")
                            CCS
                        @elseif(data[0].wing === "Cyber cell")
                            Cyber crimes
                        @elseif(data[0].wing === "She team")
                            she teams
                        @elseif(data[0].wing === "IT Cell")
                            Information Technology cell
                        @elseif(data[0].wing === "RI Admin")
                            RI Admin
                        @elseif(data[0].wing === "RI MTO")
                            RI MTO
                        @elseif(data[0].wing === "RI Welfare")
                            RI Welfare
                        @elseif(data[0].wing === "RI Operations")
                            RI Operations
                        @elseif(data[0].wing === "RI Home Guards")
                            RI Home Guards
                        @elseif(data[0].wing === "DCRB")
                            DCRB
                        @elseif(data[0].wing === "DSP DCRB")
                            DSP DCRB
                        @else
                            {{data[0].wing}} Wing
                        @endif
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv">
            @each(data in data)
                <div class="card mb-5 wingBody">                
                    <div class="card-body pb-0">
                        <div class="row">
                                <div class="col-3 mb-3 wingImg text-center">
                                    <img src="{{data.dp}}" alt="Card image cap">
                                </div>
                                <div class="col-9">
                                    <h5 class="card-title">{{data.role}}, {{data.wing}}</h5>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="card-title">Name</h5>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title normalField">
                                                @if(data.name === '')
                                                Vacancy
                                                @else
                                                {{data.name}}
                                                @endif
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="card-title">Rank</h5>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title normalField">{{data.role}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="card-title">Cell No.</h5>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title normalField">{{data.cellno}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="card-title">Office No.</h5>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title normalField">{{data.officeno}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="card-title">Email</h5>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title normalField">{{data.email}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="card-title">Location</h5>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title normalField">{{data.pslocation}}</h5>
                                        </div>
                                    </div>
                                </div>
                        </div>                  
                    </div>
                </div>
            @endeach
        </div>
    </div>
</section>
@endsection
