@layout('layouts.main')
@section('content')
<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Add Gallery</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-2">Add Gallery Form</h5>
                <form action="/storeGallery" method="post" enctype="multipart/form-data">
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label class="form-label">Event Title</label>
                            <input type="text" class="form-control" placeholder="Event Title" name="title">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Event Date</label>
                            <input type="date" class="form-control" placeholder="Event Date" name="eDate">                            
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Thumbnail</label>
                            <input type="file" class="form-control" name="thb" accept="image/*" onchange="loadImg(event)">
                            <img id="previewImage" class="mt-2">                           
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Pictures</label>
                            <input type="file" class="form-control" name="pics" id="files" accept="image/*" multiple onchange="imagesPreview(this, 'div.gallery')">
                            <div class="gallery"></div>
                        </div>                        
                    </div> 
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>

  </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    var loadImg = function(event) {
        var previewImg = document.getElementById('previewImage');
        previewImg.src = URL.createObjectURL(event.target.files[0]);
        previewImg.onload = function() {
        URL.revokeObjectURL(previewImg.src); // free memory
        previewImg.style.height = "100px";
        previewImg.style.width = "100px";
        };
    };
</script>
<script>                                                            
    var imagesPreview = function(input, placeToInsertImagePreview) {                                    
        if (input.files) {
            var filesAmount = input.files.length;   
            var newFileList = jQuery.makeArray(event.target.files);          
            $(placeToInsertImagePreview).empty();
            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();
                reader.onload = function(event) {  
                     
                    // $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview); 
                    var html = '<img class="imageThumb m-2" src="' +  event.target.result  + '" height="100px" width="100px">';                                         
                    // $(<span class="pip"> <img class="imageThumb" src=" +  event.target.result  + "\" height="100px\" width="100px"/>" + "<i class="align-middle me-2 remove"></i>" + "</span>).appendTo(placeToInsertImagePreview);
                    
                    $(html).appendTo(placeToInsertImagePreview);                                    
                };
                reader.readAsDataURL(input.files[i]);
            }
            
        }
    };
</script>
<script src="js/idleTimer.js"></script>
@endsection