@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Crime Alerts</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>CRIME ALERTS</h3>
                <p>Offences related to property</p>
                <ul class="contentList">
                    <li>Murder for gain</li>
                    <li>Dacoity</li>
                    <li>Robbery and Extortion</li>
                    <li>Housebreaking</li>
                    <li>House Theft and Theft</li>
                    <li>Snatching</li>
                    <li>Automobile theft</li>
                    <li>Cattle theft</li>
                    <li>Wire theft</li>
                    <li>Pick pocketing</li>
                </ul>
                <p>Calling attention of all citizens: Every citizen has to take care of their own properties and protect them in their own way. The offence may occur anywhere, any time to anyone, when the elements of opportunity, target and offender coincide.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>How it can happen:</h4>
                <p><strong>Murder for gain:</strong>Criminals resort to violence if there is resistance to their act. They go even to the extent of killing people in committing offencesoffence. Some criminal gangs like Gay – Pardhi's (from Maharashtra ), Sanchi Mochis (from North) Thelagapamulu and Erragolla (from AP) indulge in violence even without resistance to terrorize the victims and the neighbors to create panic. These offences generally occur in farmhouses, isolated localities, even highways and petrol bunks.</p>
                <p>Generally, these gangs after observing the area and the circumstances thoroughly commit the offence.</p>
                <p><strong>Dacoity:</strong>It may occur in the residential houses, fields, highways, farmhouses, public transport buses, trains, petrol bunks, banks, ATMs etc., Mostly these offences occur during nights and will be committed by the armed (with any weapon) gangs and not less than five members. Some of the Notorious gangs are: Stuartpuram, Bitragunta, Yerukulas, Erragolla, Thelagapamula, Vadderas, Lambada gangs etc., (From AP), Gay – Pardhi's (from Maharashtra ), Sanchi Mochis (from North), Brick Kiln labors (from all over India ). Robbery and Extortion: It is confined to one or more persons but less than five while committing the offence; they resort to violence, while committing theft and extortions.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>Housebreaking:</h4>
                <ul class="contentList">
                    <li>During day and night</li>
                    <li>Forcing open windows, grille gates or doors.</li>
                    <li>Cutting padlocks, iron grilles or wire mesh.</li>
                    <li>Gaining entry through false ceiling or ventilation openings, making holes in the roof or the walls</li>
                    <li>Gaining entry through unoccupied neighboring house/shop.</li>
                    <li>Breaking Lock or using false key</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>House Theft and Theft:</strong>May occur during day or night due to the negligence shown by the inmates. For Example: servant maid thefts, pretending to be gold polishing people, repairing people, sales representatives, survey conducting people, babas and sadhus etc.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>Snatching:</strong>May occur during day or night anywhere, any time. Approaching the victim on the pretext of striking up a conversation or seeking assistance. Snatching the handbags or Snatching jewellery from the neck from behind the victim.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>Diverting the attention:</strong>By throwing loose currency on the floor or spitting on the dress and offering food or drink.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>Automobile theft:</strong>Theft of any vehicle occurs from unmanned parking lots, from garages, apartments, temples, public congregations and commercial areas etc., when the car owners or the drivers are away from the vehicles. These criminals with the help of a false key steal even a locked vehicle.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>Cattle theft:</strong>Generally the theft occurs in the agricultural fields or while transporting from place to place. The lambada gangs and professional butchers are known for these offences.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>Wire theft:</strong>The wires used by the AP Transco and Telecom Departments are stolen; the organized criminal gangs generally steal service wires and the theft occurs away from residential localities.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>Dicky offences: </strong> The valuables, money etc., stolen from the dicky of the two wheelers or of any vehicle is known as dicky offences. The offenders keep watch at the banks, and business establishments, educational institutions, registration offices etc., on the persons drawing the amount and storing it in their dickeys. The criminals follow such vehicles, and, on getting an opportunity, they stealsteel valuables or cash from the vehicles parked.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <p><strong>Secrets of Pick pocketing gangs:</strong> Businesses, companies and organizations have secrets...Well, so do pickpockets! Read on to find out about their secrets. Secrets never remain secrets for long and, as always, the police have been able to gather intelligence on how pickpockets operate. Here are some of their secrets and the police advise on how not to get "hand-picked". Pickpockets target people in a crowd, who carry cash in public, especially those who make a display of their money.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
              <h4>Precautions:</h4>
              <p>So use Net banking & ATM cards for cashless transactions.Pickpockets deliberately bump or jostle into an unsuspecting person in a crowd.</p>
              <p>Check your wallet or handbag immediately, if this happens to you. They create a commotion in public to distract everybody's attention while picking pockets. Be wary of such situations. They look out for ladies with dangling handbags, especially handbags carried with clasps facing away from the body. Ladies, carry your bag tightly under your arm and always keep it properly fastened. They prefer men who keep wallets in the hip pocket of trousers or the breast pocket of shirts. So men, keep your wallet in your side trouser pocket.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h4>When you leave your home:</h4>
                <p><strong>Precautions:</strong></p>
                <ul class="contentList">
                    <li>Lock all doors and windows when leaving the home unattended, even for a short while.</li>
                    <li>Keep large sums of cash in banks and expensive jewellery in safe deposit lockers.</li>
                    <li>Do not hide the keys outside the premises.</li>
                    <li>Do not leave notes announcing absence from home.</li>
                    <li>Leave the radio on, and a light on, at night to give an "at home" appearance.</li>
                    <li>Cancel all deliveries (e.g. newspapers, magazines, etc.) when you are away from home for a few days.</li>
                    <li>Change all locks when keys are lost or stolen</li>
                    <li>Install security alarm system. Ensure that it is in a working condition.</li>
                    <li>The system must be switched on when the house is left unattended; before the occupant retires to bed; in unoccupied rooms of a huge house, even when the occupants are at home.</li>
                    <li>Ask your immediate neighbors to keep an eye on your house.</li>
                    <li>Keep your hand phone within easy reach.</li>
                    <li>Inform your Neighborhood Police Post (NPP) when you are away on vacation.</li>
                    <li>Keep the grille gates locked at all times.</li>
                    <li>Never open the doors to strangers. Identify visitors through the door viewer and keep the chain latch of the door fastened when talking to the visitor.</li>
                    <li>Inspect the stranger's appearance through the door opening with the chain latch fastened. If necessary, call the company or organization he claims to represent for verification. Obtain the telephone number from your phonebook and not from the stranger. Call the Police at "100" if in doubt.</li>
                    <li>Organize continued patrolling in the localities by the police and the community</li>
                    <li>Keep surveillance on the activities and the movements of known criminals, suspects, vagabonds, strangers, street children etc.</li>
                    <li>Be wary of strangers following you or loitering at the lift landing.</li>
                    <li>Avoid taking the lift with any suspicious stranger. Arrange for someone to escort you when returning home late.</li>
                    <li>Avoid wearing expensive jewellery or carrying large amounts of cash.                    </li>
                    <li>Plan your route and avoid dark and deserted short cuts. If confronted, surrender your valuables on demand one at a time and try to remember any distinct features of the culprit.</li>
                    <li>Avoid short cuts through dark or deserted areas.</li>
                    <li>Be wary of persons who follow or distract you.</li>
                    <li>Carry your handbag in front of you or clasp it firmly under your arm.</li>
                    <li>Never leave it unattended, especially in crowded places like shopping and hawker centers.</li>
                    <li>Always walk facing on-coming traffic if possible and hold the handbag on the side away from the motorists.</li>
                    <li>Park the vehicle in a well-lit area.</li>
                    <li>Remove the ignition key when the vehicle is left unattended even for a few minutes.</li>
                    <li>Do not leave valuables inside the vehicle.</li>
                    <li>Secure windows and doors of the vehicle at all times.</li>
                    <li>Engrave vehicle registration number on the windscreen.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection