@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Domestic Violence</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="contentSection">
        <div class="container">
            <div class="contentImg">
                <img src="images/womensCorner/domestic violence.jpg" alt="" class="" height="300px">
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>If you are facing Domestic Violence</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Within the four walls of home, the violence against women is quite high. Domestic violence against is widely prevalent, but has remained largely invisible. Women accept violence because social norms sanction them. At the same time, cultural conditioning and economic dependence prevent the vast majority of women leaving their marital homes. Though there is criminal law to prevent domestic violence, the recent civil law “Protection of Women from Domestic Violence” is aimed at providing relief, compensation and support to a woman.</p>
                    </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Now check yourself whether...</h3>
                </div>
                <div class="contentPara">
                    <strong><p> Your husband or partner commits any of the following acts of violence against you or your child.</p> </strong>             
                    <p><i class="fas fa-arrow-right mr-2"></i> Verbal and emotional violence.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Insult – not attractive, not smart, doesn’t respect him/his parents.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Accusing/Insulting your parents.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Accusations on your character or conduct etc.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Insult for not having a male child.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Insults for not bringing dowry etc.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Preventing you or a child in your custody from attending school, college or any other educational institutions.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Forcing you to leave your job.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Preventing you from taking up a job.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Preventing you or a child in your custody from leaving the house.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Preventing you from meeting any person in the normal course of events.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Threat to commit suicide.</p>
                    </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Economic Violence</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Not providing you money for maintaining you or your children.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Not providing food, clothes, medicines etc to you or your children.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Stopping you from carrying on your employment..</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Forcing you out of the house you live in.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Stopping you from accessing or using any part of the house.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Not allowing use of clothes, articles, or things of general household use.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Not paying rent if staying in a rented accommodation etc.</p>
                    </div>
                </div>
            <div class="contentSectionDiv" align="justify">
                    <div class="contentSectionHeading">
                        <h3>Physical violence</h3>
                    </div>
                    <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Slapping</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Beating</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Hitting</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Biting</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Kicking</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Punching</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Pushing</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Shoving or</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Causing bodily pain or injury in any other manner.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Forced sexual intercourse</p>
                    </div>
                </div>
                <div class="contentSectionDiv" align="justify">
                    <div class="contentSectionHeading">
                        <h3>Salient features of the DV Act are</h3>
                    </div>
                    <div class="contentPara">
                        <p><i class="fas fa-arrow-right mr-2"></i> PWDVA seeks to cover all those women who are or have been in a domestic relationship with a man including live-in relationships, bigamous marriage and fraudulent marriages.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> The Act gives the women right to reside in the shared household.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Protection orders can be given by the magistrate immediately to stop violence.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> It provides counselling for both parties singly or jointly.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> The act stipulates that within 3 days the case has to be registered and in 60 days all requisite relief measure to be given</p>
                    </div>
                </div>
                    

            </div>
    </section>
@endsection
                    