@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Eve Teasing</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="contentSection">
        <div class="container">
            <div class="contentImg">
                <img src="images/womensCorner/Eve-Teasing.jpg" alt="" class="img-fluid" height="300px" width="500px">
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Streets, Bus Stands, Railway Stations, Parks and other public places should be for everyone to access and enjoy. Still women face systematic assault on their fundamental right to free movement and personal dignity.</p>
                    </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>The problem</h3>
                </div>
                <div class="contentPara">
                <h3><strong>Example:-</strong></h3>
                    <em><p><i class="fas fa-star mr-2"></i> As Laxmi walks down the street, a group of men makes comments about her face and figure--"Hey, what a figure!" "Is it 32 or 36!" She walks on without comment annoyed at the intrusion.</p></em>
                    <em><p><i class="fas fa-star mr-2"></i> Sudha is standing in a queue for a bus. Suddenly she feels a hand grab at her breast. She looks around but isn't sure who did it. She feels violated and too stunned to say anything.</p></em>
                    <p><i class="fas fa-arrow-right mr-2"></i> Sexual harassment at public places is unwelcome, unsolicited behaviour of a sexual nature including staring, gesticulating, touching, passing comments, trailing. These may not seem to be a big problem, but they can be quite upsetting. It makes women feel ashamed, humiliated or frightened.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Myths associated with sexual harassment at public places.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Wearing certain kinds of clothes lead to sexual harassment. This is a myth.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Several studies done around the world show that women of all ages and wearing all kinds of clothes are vulnerable to harassment. A study done by NIPCCD for Delhi Police showed that 82% of the women who were part of the survey were wearing, non-provocative clothes when they were harassed (salwar kameez, trouser –top, saree)</p>
                    </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Is harassment only done by some kinds of people?</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> This is a commonly held perception. The issue is not of one’s class but of one’s mindset, which allows one to harass women believing that women are easy targets</p>
                       </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                     <h3>How to deal with sexual harassment?</h3>
                    <p><i class="fas fa-arrow-right mr-2"></i> It is not possible to have one single strategy to address this. It is important to make a judgment on the spot depending on the context</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Learn to say ‘NO’ loudly and clearly. Prepare a stock sentence (like “Stop staring at me”) and practice saying it to yourself until it becomes a reflex. If you are harassed, repeat it again and again till you feel confident to use in public place.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Learn to communicate and create confidence in yourself. Look straight at people who accost you and speak clearly and calmly in response. Show others that you are aware of your rights and space.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If you are in a bus the driver & conductor can be approached for complaints. As per law they should assist the victim by accompanying them to the nearest police station.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> You are being harassed regularly it is better if you inform the same to your parents/friends. It can be therapeutic and supportive. Many women face this problem so they understand what you are going through.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>What men can do to stop harassment </h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Don't do it yourself. Learn about the problem so that you become more sensitive, and think about others.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Don't cooperate with groups of men who harass. Oppose harassment. Don't cooperate with harassment. Refuse to join in.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> At a suitable occasion, raise issues about sexual harassment.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Show your opposition strongly.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If you notice a situation where a woman seems to be harassed, you be able to help her.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If someone is badgering her, you could go over and ask "Is someone bothering you?" If a woman in a crowd shouts out about being pawed, you might be able to voice a supportive comment to the crowd, such as "Whoever did that, it's not a good act."</p>
                </div>
            </div>

        </div>
    </section>
@endsection
                    