@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Tips for Healthy Marriage Life</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentImg">
            <img src="images/womensCorner/healty marriage.webp" alt="" class="img-fluid healthyMarriage" max-height="500px" width="500px">
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Wake up with Hope.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Wake up with a smile, looking at your wife!</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Wish her A Good Morning or Good Day!</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Begin the day with good greeting and full of smiles!</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Beautiful Reception</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> After returning from work, school, travel, or whatever has
                    separated you, begin with greeting.</p>
                
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Sweet Speech and Enchanting Invitations:</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Choose and speak words that are positive, avoiding negative ones.
                </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Give her your attention when you speak to her or when she speaks to
                    you.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Friendliness and Recreation Together:</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Spend time talking together.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Convey to her all good news known to you.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Avoid sarcasms and never scorn.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Games and Distractions</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Joke around & have a sense of humour.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Playing and competing with each other in sports or games etc.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Take her to watch permissible types of entertainment.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Assistance in the Household</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Do whatever you could as an individual to help her, especially if
                    she is sick or tired.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> The most important thing is making it obvious to her that you
                    appreciate her hard work.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Prepare a cup of tea or coffee or milk for her when she is sick
                    or tired.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Sit together while drinking the cup of tea, looking at her</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Even a small pice of bread that you feed her by your hand.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Consultation</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Specifically in family matters, do not neglect her.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Give her feeling that her opinions are important to you. </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Make her feel dignified and respect her.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don’t reject her opinion right away.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Be willing to change your opinion for hers if it is better.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Thank and encourage her for helping you with her opinions.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Visiting Others</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Choose good people to build relationship/friendship with them.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> There is a great reward in visiting relatives and pious people.
                </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Pay attention to own behaviour and manners during visits. </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not force her to visit whom she does not feel comfortable with.
                </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Allow her to visit her parents/siblings/relatives and also
                    friends.
                </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Allow her to attend marriage functions, wedding parties,
                    matrimonial
                    matters.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Conduct During Travel</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Offer a warm farewell and good advice.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Ask relatives and friends to take care of the family in your
                    absence.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Try to stay in touch with her by any means like calls/meets/gatherings.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Take her with you to any marriage function and/or wedding parties
                    you are
                    attending.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Returning as soon as possible</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Bring her a gift! At least some sweets and/or flowers.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Avoid returning at unexpected times or at nights.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Tell her that you were not happy to depart from her.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Financial Support</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> You need to be generous within your financial capabilities.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> You should not be a miser.</p>
                
                <p><i class="fas fa-arrow-right mr-2"></i> Feel her needs and make it a habit to give her before she asks
                    you for
                    anything.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Practice good Hygiene</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Practice hygiene removing always be clean and neat.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Dress yourself up with available fine cloths.</p>
            </div>
        </div>
        
        
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>Showing Respect for her Family and Friends:</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Take her to visit her family and relatives, especially her
                    parents whenever possile.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Invite them to visit her and welcome them.</p>
                
                <p><i class="fas fa-arrow-right mr-2"></i> Help them physically and also when in needs of money, efforts,
                    etc.</p>
                
                <p><i class="fas fa-arrow-right mr-2"></i> Keep giving what she used to give in her life to her friends and
                    family.
                </p>
            </div>
        </div>
        
    </div>
</section>
@endsection