@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Building Healthy Relationship</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="contentSection">
        <div class="container">
            <div class="contentImg">
                <img src="images/womensCorner/building healthy relationship.jpg" alt="" class="img-fluid healthyMarriage" height="400px">
            </div>
            <div class="contentSectionDiv align="justify"" align="justify">
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> When you try to make friendship, discreetly verify his or her background, else you might regret later.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Show respect to your friend.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Be honest and frank.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Always remember that growing friendship means not getting sexually involved.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Don't mistake in draging hormones for love. They are two entirely different things.</p>
                    
                    <p><i class="fas fa-arrow-right mr-2"></i> Out of respect for your parents and yourself, you should always let them know: where you are going, a phone number where you can be reached, who you are going out with and when you will return.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> If you run in any trouble and you are getting late, call and let your parents know.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Avoid risky situations like going to remote places, meeting strangers, getting intoxicated for a change or for ‘fun’ where some things might happen that you will regret for life later.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Make sure you have an emergency plan if in case your friend becomes forceful or violent. The wrong statement of "It won't happen to me," plan is not good enough is dangerous.</p>
                   </div>
            </div>
        </div>
    </section>
@endsection