@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Identity Theft</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/identityTheft.jpg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>What is Identity Theft? </h3>
                <p>Identity Theft is the act of wrongfully obtaining someone’s personal information (that defines one’s identity) without their permission. The personal information may include their name, phone number, address, bank account number, Aadhaar number or credit/debit card number etc.</p>
                <p>Identity Theft can have many adverse effects. The fraudster can use stolen personal information and identity proofs to:</p>
                <ul class="contentList">
                    <li>Gain access to your bank accounts.</li>
                    <li>Apply for loans and credit cards or open insurance accounts.</li>
                    <li>File a tax refund in your name and get your refund.</li>
                    <li>Obtain a driver’s license, passport or immigration papers.</li>
                    <li>Create new utility accounts. </li>
                    <li>Get medical treatment on your health insurance.</li>
                    <li>Assume your identity on social media.</li>
                   
                </ul>
                <p>Hence, everyone should be aware about identity theft and should know the mechanisms to prevent it.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Hacking or Gaining Access to Social Media Accounts </h4>
                <p>The attacker hacks or gains access to the social media account of the victim. The attacker can then harm the victim by misusing the personal information and photographs. The attacker can also post offensive content on the victim's profile or defame the victim. They can also create fake social media accounts and cheat the friends/contacts.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Misuse of photo copies of identity proofs</h4>
                <p>The attacker misuses the photo copies of identity proofs of the victim. These can be PAN Card, Aadhaar Card or any other identity proof of the victim. The attacker can use these photocopies to steal money or cause harm to the victim.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Credit/Debit Card Skimming</h4>
                <p>Credit/Debit card skimming is done using a small device called skimmer. The magnetic strip of the card stores details such as name, credit/debit card number and expiration date. First, the credit/ debit card is swiped through a skimmer. Then, the skimmer captures all these details. Thieves use this stolen data to make online transactions. They also use this data to create duplicate credit/debit cards and withdraw money from ATMs.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                    <li>Take a clearly visible screenshot of the evidence.</li>
                    <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                    <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                    <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection