@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Chairman Permanent Lok Adalat</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Chairman Lok Adalat & DLSA</h3>
            </div>
            <div class="row">
                <div class="col wow fadeInUp" data-wow-duration="1s">
                    <div class="aboutTable">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Designation</th>
                                  <th scope="col">Name of the Officer</th>
                                  <th scope="col">Phone Number</th>
                                  <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Chairman, Lok Adalat and DLSA Warangal</th>
                                    <td>Sri N. Narsing Rao, Prl District Judge, Warangal
                                    </td>
                                    <td>
                                        0870-2544392
                                    </td>
                                    <td>District Courts Complex, Adalath, Hanumakonda</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@endsection