@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Marital Problems - Stress</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="contentSection">
        <div class="container">
            <div class="contentImg">
                <img src="images/womensCorner/marital problems.jpg" alt="" class="" height="300px">
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Stress</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Are you suffering from stress? Is stress affecting your relationship? You might find it difficult to answer their questions because sometimes stress affects your relationship so bad that you don't even come to know of it until it gets late. Sometimes stress affects you so bad that though you feel that your actions (like snapping at your partner, shouting at your kid, not being able to take interest in household activity etc) are justified, you do not realize that these actions will harm your relationship. </p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Many people like solitude when they are feeling stressed. You might feel that you need this space but your partner could easily take this separation as a lack of desire to be around him. This can lead to problems in your relationship and if not handled this situation properly, it can lead to a much serious tragedy. Therefore you need to identify the problem affecting you and not let stress affect your relationship. Make sure you're keeping your emotions in check with these tips.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Control your temper</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> If you're feeling like you're being a little more negative than usual and you are snapping at people without genuine reason, then its stress that's making you do so. During such a time it’s better that you do not do or say anything harsh. The last thing you want to do is make your partner feel like you don't enjoy being around him or that your feelings are dwindling. It may be too late to take back something you've said, but you can at least stop to explain why it happened.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Learn to balance your loads</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Make sure you're spending appropriate time on each area of your life. Don't spend all your time at work, and don't load up all your free time with activities. You should learn to balance work and family. Both need your undivided attention. So do justice to both. If someone asks if you are available to do something, never plan something that will interfere with your previously scheduled dates.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Give time to your spouse and family</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Remember in order to have a healthy relationship it is very important to spend some time together with your partner privately. Go on a picnic or to a movie or a quite dinner together and this routine should never stop. If you have children, you should also add days for spending time just with your children. If you are a very busy person then take time with your partner so your schedule doesn't conflict. Make it a priority to spend at least two days a month with your partner outside, away from your daily routine life.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Don't worry, be happy</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> In the bigger scheme of things it doesn't matter the things you've accomplished, but rather how you felt while accomplishing them. It doesn’t matter if you don’t enjoy life, even if you’re made it to the top in your company. When you feel the ebbs of stress creeping up your neck, just take a deep breath and relax. Think of all the good things around you and all the love that your family has showered on you and this will help you overcome all the stress in your life.</p>
                </div>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading">
                    <h3>Following are a few tips to combat stress</h3>
                </div>
                <div class="contentPara">
                    <p><i class="fas fa-arrow-right mr-2"></i> Proper Nutrition-Eat healthy and your mind and spirits will remain healthy and stress-free</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Exercise is the best way to let out frustration and stress. Exercise regularly and you will live a stress-free life.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Sleep-A good night's sleep is essential to clear your head and combat stress.</p>
                    <p><i class="fas fa-arrow-right mr-2"></i> Personal Space-If you feel bitter and angry and you think that this will lead to spoiling your relationship, it’s better that you take some time out and analyze your problems. Go get a massage or meditate for some time and this way you can take control of the situation and improve your mood.</p>
                </div>
            </div>

        </div>
    </section>
@endsection
                   