@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Marrying NRI?</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentImg">
            <img src="images/womensCorner/marrying nri.jpg" alt="" class="img-fluid" height="400px" width="500px">
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>If you are marrying an NRI</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Before leaving the country be prepared with the following tips, get photo copies of important documents as verify the following.:</p>
                <p><i class="fas fa-arrow-right mr-2"></i> His Passport and Visa.</p> 
                <p><i class="fas fa-arrow-right mr-2"></i> Birth Certificate and Vaccination records.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Vaccination Records</p>
                <p><i class="fas fa-arrow-right mr-2"></i> His naturalization certificates.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Any official papers that he has sent you including visiting cards, letter from his employer.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Get copies of personal documents.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Photographs of any engagement ceremony.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Photographs of both of you together and his photographs.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Correspondence between you both.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Telephone bills showing your calls to him.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Get copies of all financial transactions.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Receipts of materials spent on the alliance.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Receipts of Visa fee.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Receipts of phone calls.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Receipt of purchase of air tickets.</p>
            </div>
        </div>
    </div>
</section>
@endsection