@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Choosing Partner from Matrimonial Sites</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentImg">
            <img src="images/womensCorner/matrimonial sites.jpg" alt="" class="img-fluid" height="300px" width="500px">
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Nowadays, to have easier methods of getting married, the younger generation register themselves on various matrimonial sites. These sites enable you to find matches for the needy. It also saves time from going from one place to another. But before registering onto these matrimonial sites always check credentials of the site. We tell you how?</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  Don’t be in a hurry to get married to the subject person you meet online. It is important to wait because time will tell the truth.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> For choosing partner from the matrimonial site, firstly it is important to find out that whether that site is registered or not.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  How many people are aware of that site? That can be done through by asking people or friends.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If there is any perfect match then find out whether the registration is done by the right person or not.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Then look for the place of living, religion and education qualification.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  To find out the qualification, it is important to check the certificates. Sometimes wrong qualifications or job descriptions are given. It is done to attract the person.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  For job description, find out the place and period of working. It can be done by giving a call or visiting the office by surprise. If it is nearby then spend some time to find out whether that person is working or not. If all things match then call the person over the phone. Talking to the person also gives the idea.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  It is a must to visit the subject person at his/her home in the company of his/her parents/ relatives not once but at least a number of times. Invite the subject person over to your family home as well</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>If the person is NRI</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>In such cases it is difficult to find out the actual person. For that proper research should be done. If it is inter religion, find out the type of culture and living standard. Friends and relatives can be good options for enquiring.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  It is also important to check criminal records and health conditions. Otherwise later it can affect adversely.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  Number of family members and whether the person is staying at their own house or a rented one.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If they say that they are going to build a own house then find out the area of plot. Locality in which they are living is good or not.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Snares & Dangers (Based on experience of some ill-fated victims)</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> A matrimonial introduction site capable of authenticating the claims of its members does not exist. (Irrespective of its repute, huge membership or international status)</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Beware of some members who lie about their past life, marital status, age, height, personality, health, social and economic status. Members could be criminals, HIV infected, bankrupt etc.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  A very large number of well-educated 40+ women, from good family background, who have been mercilessly dumped by their former spouses with young kids in dire and desperate need of economical and emotional support are in internet matrimonial introduction sites. Unfortunately, most of these women fall victim to a very high percentage of male members lurking in these matrimonial sites merely for sexual gratification, sexual affair or a one night stand. This is because a person over 40, envisaging a second marriage, makes all the moves and takes decisions in privacy without any interruption of elders. It is therefore imperative to follow the same rules and every advice given for first marriages. Even so, more caution is required for older people entering into second marriage.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>  In the cyber world, the subject person will always be in courtship/dating several prospective matches at any given point of time, not only in India but with members overseas as well. Courtship may involve sexual communication by typing online, webcam and telephone. There is a real danger for these secret courtships to continue and develop even after the subject matter makes a commitment to marry you and such courtships can continue well after your marriage. It is not easy for anyone to know what is going on in the dark portals of the cyber world.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> There are gangs operating by putting up the profile of a woman gang member to lure a well-to-do man into marriage merely to gain the legal status of ‘wife’ then use the legal status as modus operandi to gain criminal access to property and wealth. Alternatively file a false case to extort a huge out-of-court settlement.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>All these factors determine the marriage or choosing from a matrimonial site. But what counts the most is the understanding and respect between the two. If this is good and honest then it can make marriage blissful.</p>
            </div>
        </div>
    </div>
</section>
@endsection