@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Notifications</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="aboutLinks">
    <div class="container">
        <div class="aboutLinksDiv">
            <a href="pdfs/Notification1_23.05.2022.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Restrictions on Public Meetings and Processions, Dated:23.05.2022.</a></p>
             <a href="pdfs/Notification2_23.05.2022.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Restrictions on High volume sound systems including DJs in Residential Areas, Dated:23.05.2022.</a></p>
            <a href="Provisional Seniority List of Civil PCs of Zone IV from 2000 Batch Onwards.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Provisional Seniority List of Civil PCs of Zone IV from 2000 Batch Onwards<img src="images/icons/new.gif"></a></p>
            <a href="pdfs/Provisional Seniority List of ARPCs of Zone IV.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Provisional Seniority List of ARPCs of Zone IV<img src="images/icons/new.gif"></a></p>
            <a href="pdfs/SIcivil.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Notification for the Recruitment of SCT SI Civil and other posts, Dtd:25.04.2022. <img src="images/icons/new.gif"></a></p>
            <a href="pdfs/pcnoti.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Notification for the Recruitment of SCT PC Civil and other posts, Dtd:25.04.2022. <img src="images/icons/new.gif"></a></p>
            <a href="pdfs/PC IT.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Notification for the Recruitment of SCT PC IT & CO / Mechanic / Driver, Dtd:25.04.2022. <img src="images/icons/new.gif"></a></p>
            <a href="pdfs/SI IT.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Notification for the Recruitment of SCT SI IT & CO / PTO / ASI FPB, Dtd:25.04.2022. <img src="images/icons/new.gif"></a></p>         
            <a href="pdfs/pres.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>Presidential Order 2018 vide G.O. Ms.No.124 Dtd: 30.08.2018.</a></p>
            <a href="pdfs/Uniform.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>GO Regarding 3 years age relaxation for uniformed services, Dated:13.04.2022.</a></p>
            <a href="pdfs/Commissionerate GO 64.pdf" target="_blank"><i class="fas fa-arrow-right mr-2"></i>G.O. Regarding Jurisdiction of Warangal Police Commissionerate, Please Click here.</a>        </div>
    </div>
</div>
@endsection