@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Online Banking Fraud</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/onlineFraud1.jpg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>Online Banking Fraud</h3>
                <p>Online Banking Fraud or internet fraud refers to schemes in which fraud is committed with the help of online transactions. Prime reason - majority of people who use online banking are unaware of safe practices to be followed during online transactions. Bank fraud is a criminal offence and sometimes referred to as white-collar crime.</p>
                <p><font size="5"><strong>Types of Online Banking Frauds: </strong></font></p>
                <ul class="contentList">
                    <li>Lottery/Gift Fraud</li>
                    <li>Phishing/Vishing/Smishing</li>
                    <li>Card Skimming</li>
                    <li>Loan Fraud</li>
                    <li>Money Transfer Fraud</li>
                    <li>Malware and Viruses</li>
                    <li>Identity Theft</li>
                </ul>
            </div>
            <div class="contentSectionHeading">
                <h4> Lottery/Gift Fraud</h4>
                <p>An advance-fee fraud occurs when the victim pays money to someone in expectation of receiving a loan, contract, investment, lottery or gift and then ends up receiving a little or nothing in return.</p>
                <p><strong>Example</strong> – Fraudster impersonating as Custom Duty Officer makes calls to random people to pay a certain amount as processing fee via bank to get clearance for their gift/order. Sometimes, people get trapped by thinking that they really got a gift/lottery. But in the end, they end up losing money and get nothing.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Phishing/Vishing/Smishing</h4>
                <p>Phishing is one of the means by which cyber criminals try to get access to the data by sending an email, which looks to have been sent by a legitimate party like a bank or organization. These emails usually contain an action link, clicking which will land in their webpage to access your information. Vishing is similar technique via phone and Smishing is via SMS/text message. <br>In case of suspicious emails, contact the sender to check whether they have sent any email and do not respond to unknown emails. Never click on links in mails from unknown senders.</p>
                <p><strong>Example</strong> Fraudsters often call people to renew their bank account or credit card, to get bank account details and OTP from the victims so that they can commit fraud.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Card Skimming</h4>
                <p>Card skimming is a method used by fraudsters to record information of people’s payment cards like debit and credit cards to conduct fraudulent transactions.</p>
                <p><strong>Example</strong> Fraudsters do this type of fraud by capturing your payment card information by using a device called skimmer. The captured information will be stored and transferred to an appointed computer to use it for fraudulent activities later on.</p>
            </div>
            <div class="contentSectionHeading">
                <h4> Fake Loan fraud</h4>
                <p>Scammers randomly call numbers from the data of prospective persons who are looking for loans obtained from dark web and then use the Phishing Techniques later to collect money.</p>
            </div>
            
            <div class="contentSectionHeading">
                <h4>Money Transfer Fraud</h4>
                <p>Scammers use a lot of schemes to get money by using money transfers through companies like Western Union and Money-Gram. Scammers create pressure on people to use money transfers as quickly, so fraudsters can get the money before the victims realize they’ve been cheated. Money transfers are online transfers same as sending cash and there is no protection.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Malware Viruses</h4>
                <p>Very common method of Banking fraud comes in the form of Malicious software which infiltrates the Computer systems and stays undetected by firewalls. Some viruses can detect keystrokes, redirect to specific websites and some can spam the inbox. Increase security by constantly updating the antivirus software, use dedicated computer for personal banking and online transactions. Enable pop-up blocker in your browser.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>Identity Theft</h4>
                <p>Happens when personal information is stolen and used by fraudster to commit fraud or other crimes. Common methods of stealing identity include social engineering (tricking you to give up personal information), hacking, spoof emails etc. Safeguarding Practices include reporting to the Bank immediately when debit card/cheque is lost or stolen, changing online passwords frequently and reviewing card statements periodically to ensure that there are no unknown transactions.</p>
            </div>
            <div class="contentSectionHeading">
                <h4>OTP fraudster</h4>
                <p>One-time password (OTP) also known as one-time pin is a password that is valid for only one login session or transaction on a computer system or any other digital device. OTPs avoid a number of shortcomings that are associated with traditional (static) password-based authentication.</p>
                <p>One-time password (OTP), a commonly used two-factor authentication is considered an effective deterrent against criminals trying to steal money from the bank account through online transactions.</p>
                <p>There have been a large number of cases in which criminals have duped bank customers into revealing OTP or accessed it by hacking the Smartphone. But now they have found another way to bypass the OTP deterrent - by requesting the bank to change the phone number linked to the bank account. A criminal can just walk into a bank, impersonate you, request a change in the registered mobile number and use the new connection to receive OTPs for transactions.</p>
                <p>Another way criminals can dupe a bank customer is to contact a mobile operator with fake identity proof and get a duplicate SIM card. The operator deactivates the original SIM and the criminals generate OTP on the new number and conduct online transactions.</p>
                
            </div>
            <div class="contentSectionHeading">
                <h4>PRECAUTIONS</h4>
                <ul class="contentList">
                    <li>Never disclose your OTP and PIN number to any person.</li>
                    <li>No Bank or other institution will ask for credentials like OTP, PIN, CVV number or other credentials.</li>
                    <li>Do not attend any call or disconnect the call if the other person asks your OTP, PIN, CVV number or other credentials.</li>
                    <li>If you have installed a True caller and the name displays as a bank manager or the name of your bank, don’t believe that caller immediately without probing him.</li>
                </ul>
                <p>Ask him to talk to you in your mother tongue or tell him that you will visit the branch or ask him multiple questions until you are satisfied that it is your real bank manager who is calling you.</p>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting:</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                <li>Take a clearly visible screenshot of the evidence.</li>
                <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number  
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@endsection