@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Previous Commissioners</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv">
            <div class="contentPara">
                <div class="card mb-5 prevCommiss mx-auto">                
                    <div class="card-body pb-0">
                            <div class=" mb-3 wingImg text-center">
                                <img src="../images/prevCommissioner1.png" alt="Card image cap"> 
                            </div>                               
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h5 class="card-title">G.Sudheer Babu, IPS</h5>
                                        <h5 class="card-title">12.06.2015 TO 18.03.2018</h5>
                                    </div>
                                </div>                                                                                            
                    </div>
                </div>
                <div class="card mb-5 prevCommiss mx-auto">                
                    <div class="card-body pb-0">
                            <div class=" mb-3 wingImg text-center">
                                <img src="../images/prevCommissioner2.jpeg" alt="Card image cap"> 
                            </div>                               
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h5 class="card-title">DR.V.Ravinder, IPS</h5>
                                        <h5 class="card-title">19.03.2018 TO 30.06.2020</h5>
                                    </div>
                                </div>                                                                                            
                    </div>
                </div>
                <div class="card mb-5 prevCommiss mx-auto">                
                    <div class="card-body pb-0">
                            <div class=" mb-3 wingImg text-center">
                                <img src="../images/prevCommissioner3.jpg" alt="Card image cap" > 
                            </div>                               
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h5 class="card-title">P.Pramod Kumar, IPS</h5>
                                        <h5 class="card-title">30.06.2020 TO 07.04.2021</h5>
                                    </div>
                                </div>                                                                                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@endsection