@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Citizen Services</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>How Do I Report A Crime?</h3>
            
                <p>You can call <strong>100</strong> or <strong>0870-2455021</strong> or <strong>7382296863</strong> and be automatically connected to the Control Room</p>
                <p><strong>You can lodge a complaint In person either orally or in writing </strong>
                    at your jurisdictional Police Station. 
                </p>
                <br>
                <h4>Where can you get the jurisdictional Police Station Details?</h4>
                <p>Know your police station link in home page of Warangal Police website.</p>
                <br>
                <h4>How can I inform about a crime to police?</h4>
                <p>People can report a criminal case through phone either to the concerned local police station or to the control call center. They can report to Patrol Mobile Officers who will be available throughout the day and night for the community.</p>
                <p>Personally, they can report at the reception counter of the nearest police station.</p>
                <p>In case of an accident report, the individual can communicate through phone. Individuals need not visit either police stations or courts for giving evidence, if they choose to not to.</p>
                <p>Till today, as and when any citizen wanted to report an accident case or any information related to that, they were in fear of trouble because they had to visit both the police station and the court for giving evidence. This may cause inconvenience to the individual and due to this many of them avoided coming forward to report. Now, the Warangal Police have come up with a novel idea to facilitate the citizens.</p>
                <br>
                <p>
                    <strong>In case of accident report, the individual can communicate through phone either to Call Center (at Dial 100) or to the nearest police station.<br>
                    The individual need not to be cited as a witness if he is not willing.
                    </strong>
                </p>
                <p>Any crime reported by the citizens will get an acknowledgement from the respective police stations. From there, the concerned officers will take up the issue and solve it as early as possible. These police stations are transparent enough to communicate the progress of investigation to the complainants / victims from time to time.</p>
                <p>In case of vulnerable issues related to women and children, the police themselves will visit the place and find out the reasons and take up the issues and resolve, instead of calling them to the police stations.</p>
            </div>
        </div>
    </div>
</section>
@endsection