@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Rights</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentImg">
            <img src="images/womensCorner/women rights.jpg" alt="" class="img-fluid" height="300px" width="500px">
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>You have the following rights</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Assistance in registering your compliant by Woman Police Officer and filing an application for relief.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Protection for you and your children from the act of domestic violence. </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Right to measures and orders protecting you against the particular danger or insecurities you or your child are facing.Right to measures and orders protecting you against the particular danger or insecurities, you or your child are facing.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> To stay in the house and to seek restrain another person residing in the same house, from interfering with or disturbing peaceful enjoyment of the house and the amenities, and the facilities therein by you or your children.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> To regain possession of your Stridhan, jewellery, clothes, daily use product or other household goods.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>To get medical assistance, shelter, counseling by any legal aid.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> To restrain the person committing domestic violence against you from contacting you or communicating with you in any manner.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> To get compensation for any physical or mental injury or any other monetary loss due to domestic violence by the honorable court.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>To get the copies of any statements recorded by any authority in connection with domestic violence.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> The assistance of protection officer or the police to rescue you from any danger.</p>
               
            </div>
        </div>
    </div>
</section>
@endsection