@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Other Safety Tips</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Other Safety Tips</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-check mr-2"></i><a href="#home">Safety at Home</a></p>                
                <p><i class="fas fa-check mr-2"></i><a href="#street">Security in the Street</a></p>
                <p><i class="fas fa-check mr-2"></i><a href="#transport">Security in Public Transport</a></p>
                <p><i class="fas fa-check mr-2"></i><a href="#car">Security in your Car</a></p>
                <p><i class="fas fa-check mr-2"></i><a href="#shopping">Security while Shopping</a></p>
                <p><i class="fas fa-check mr-2"></i><a href="#cyber">Cyber Security Tips</a></p>
                
                
                <p><i class="fas fa-check mr-2"></i><a href="#road">Road Safety Tips</a></p>
                <p><i class="fas fa-check mr-2"></i><a href="#railways">Tips While Travelling in Railways</a></p>
                
                <p><i class="fas fa-check mr-2"></i><a href="#atm">Safety Tips in ATM Counter</a></p>
                <p><i class="fas fa-check mr-2"></i><a href="#flood">Safety Tips in Flood</a></p>
                
                <p><i class="fas fa-check mr-2"></i><a href="#firearms">Firearms Safety Tips</a></p>
                <p><i class="fas fa-check mr-2"></i><a href="#tourist">Tourist Safety Tips</a></p>
                
                
            </div>
        </div>
        <div class="contentSectionDiv" id="home">
            <div class="contentSectionHeading" align="justify">
                <h3>Safety at Home</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Never leave your doors open or unlocked.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Fit your front and back doors with security gates (metal grills) for added protection.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't work in your backyard with your front door unlocked.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never open the door to strangers, no matter what excuse they have for calling on you.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> A peep-hole and safety chain will allow you to identify strangers without endangering yourself.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If you are in doubt, play it safe, never allow the strangers in.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> A bright outside light is a good deterrent to potential burglars.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never hide your keys under pot-plants, mats or in your post box. If you live alone, ask your friends, or family to phone you regularly.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If possible fix CCTV camera for safety.</p>
            </div>
        </div>
        <div class="contentSectionDiv" id="street">
            <div class="contentSectionHeading" align="justify">
                <h3>Security in the Street</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> When going out leave your valuables at home.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never carry more cash than you need.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't walk in deserted or dark areas alone.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Carry your bag close to your body.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Keep your change in your purse or wallet and credit cards and notes in an inside pocket, never in the back pocket of your trousers.</p>
            </div>
        </div>
        <div class="contentSectionDiv" id="transport">
            <div class="contentSectionHeading" align="justify">
                <h3>Security in Public Transport</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Avoid waiting at deserted terminals, wait in well-lit areas.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Stand close to others who are waiting for the transport.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> In a bus or train, be aware of people who look or act suspiciously, raise alarm if needed.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> When you reach the destination, take note of who leaves with you.</p>
            </div>
        </div>
        <div class="contentSectionDiv" id="car">
            <div class="contentSectionHeading" align="justify">
                <h3>Security in your Car</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Make sure your car is in good condition so that you are not stranded in empty streets.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't leave package or personal item in full view on car seats, lock them in the boot.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Keep your doors locked and windows closed while driving.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Park your car in a well-lit area at night.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never pick up hitch-hikers.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Beware of strangers who approach you at traffic lights.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> If you are being followed, drive to the nearest police station.</p>
            </div>
        </div>
        <div class="contentSectionDiv" id="shopping">
            <div class="contentSectionHeading" align="justify">
                <h3>Security while Shopping</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Never leave your handbag or purse in your trolley, even if it is obscured by goods.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never place your wallet or handbag on the counter and then move away even for a few seconds.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Beware of pickpocketers, bag snatchers in shopping malls.</p>
            </div>
        </div>
        <div class="contentSectionDiv" id="cyber">
            <div class="contentSectionHeading" align="justify">
                <h3>Cyber Security Tips</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Use an antivirus software and keep it up-to-date.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't open e-mails or attachments from unknown sources. Be suspicious of any unexpected e-mail attachment, even if it appears to be from someone you know.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Protect your computer from Internet intruders. Use firewalls.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Regularly download security updates and patches for operating systems and other software.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Use hard-to-guess passwords. Mix upper and lower-case letters, numbers and other characters, and make sure they are at least eight characters long.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Back up your computer data on disks or CDs regularly.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't share access to your computer with strangers. Learn about file-sharing risks.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Disconnect from the Internet when not in use.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Check your security on a regular basis. When you change your clocks for daylight-savings time, revaluate your computer security.</p>
                
            </div>
        </div>
        
       
        <div class="contentSectionDiv" id="road">
            <div class="contentSectionHeading" align="justify">
                <h3>Road Safety Tips</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Don't use your mobile phone while driving.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Belt up in the back.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't drink and drive.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Avoid speed driving and maintain safe distance with other vehicles.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Use helmet while driving.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Walk safely when crossing the road.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Observe and anticipate other road users and use your mirrors regularly.</p>
                
            </div>
        </div>
        <div class="contentSectionDiv" id="railways">
            <div class="contentSectionHeading" align="justify">
                <h3>Safety Tips While Travelling in Railways</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Always use foot over bride (FOB) while changing platforms.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Always take tickets / reservations from railway counters and do not fall in pray of hackers.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not travel on the foot board or roof of the train or lean out of the compartment.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Keep the door of the compartment closed during night.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not try to entrain or detrain when the train is in motion.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not carry any inflammable article or crackers in compartment nor try to light them up in compartment.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not accept any food or beverages offered by strangers or co- passengers unless you are familiar with them.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Any unclaimed luggage or suit case if found in the compartment or railway premises, no effort shall be made to open them or handle them but inform RPF/TTE/GRP or any other railway official.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Suspicious movements or action by anybody if noticed shall be brought to the notice of the RPF/GRP or any other railway official.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not encourage unauthorized passengers and beggars in reserved compartment.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Secure your luggage in the compartment by chaining the same to the hooks provided.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Make it convenient to do advanced reservation when your journey is of longer duration. </p>
                <p><i class="fas fa-arrow-right mr-2"></i> Travel always with less luggage to be more comfortable. Any excess luggage can be booked in the luggage van.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Carry one pen torch during night journey which may prove helpful in emergencies.</p>
            </div>
        </div>
        <div class="contentSectionDiv" id="atm">
            <div class="contentSectionHeading" align="justify">
                <h3>Safety Tips in ATM Counter</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i>Always pay close attention to the ATM and your surroundings. Don't select an ATM at the corner of a building. Use an ATM located near the centre of a building. Do your automated banking in a public, well-lighted location that is free of shrubbery and decorative partitions or dividers.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Maintain an awareness of your surroundings throughout the entire transaction. Be wary of people trying to help you with ATM transactions. Be aware of anyone sitting in a parked car nearby. When leaving an ATM make sure you are not being followed. If you are, drive immediately to a police station, or to a crowded, well-lighted location or business.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not use an ATM that appears unusual looking or offers options with which you are not familiar or comfortable.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not allow people to look over your shoulder as you enter your PIN. Memorize your PIN; never write it on the back of your card. </p>
                <p><i class="fas fa-arrow-right mr-2"></i>Do not wear expensive jewellery or take other valuables to the ATM. This is an added incentive to the assailant.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never count cash at the machine or in public. Wait until you are in your car or another secure place.</p>
                <p><i class="fas fa-arrow-right mr-2"></i>When using a drive-up ATM, keep your engine running, your doors locked and leave enough room to manoeuvre between your car and the one ahead of you in the drive-up line.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Closely monitor your bank statements, as well as your balances, and immediately report any problems to your bank.</p>
                
            </div>
        </div>
        
        <div class="contentSectionDiv" id="flood">
            <div class="contentSectionHeading" align="justify">
                <h3>Safety Measures in Flood</h3>
            </div>
            <div class="contentPara">
                
                <p class=""><b>Safety Measures during Flood</b>
                    <div class="ml-5">
                        <p><i class="fas fa-arrow-right mr-2"></i> Do not panic.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Keep your essential stores, safe and dry.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Keep in touch with local media, listen to radio and follow instructions strictly.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Don't consume eatables contaminated by flood water.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Don't consume rotten food either kept in house or received from other sources.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Drink only directly collected rain water after boiling till portable water is supplied / available.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Don't use water from wells or ponds till cleared safe.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Keep children safe and don't allow them to swim or play in food water.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Be alert / vigilant against snakes / scorpions and other poisonous insects.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Don't take vehicle or water-flooded road without collecting proper information about its depth /current.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Leave vehicle and take shelter at high-raised ground once trapped in flood water.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Ensure boats are not over loaded and unattended.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Avoid un-necessary movement in flood water and in case unavoidable, try to move only on dry and stable land to avoid danger from damaged / naked wire buried underneath water by taking protection from poisonous insects.</p>
                    </div>
                </p><br>
                
                
                <p class=""><b>Help to Drowning Person</b>
                    <div class="ml-5">
                        <p><i class="fas fa-arrow-right mr-2"></i> Throw rope or stick near him / her and gradually pull once has been held tightly.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Use trained man for rescue.</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Clear his / her mouth and respiratory system for smooth breathing once rescued</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Provide mouth–to-mount resuscitation</p>
                        <p><i class="fas fa-arrow-right mr-2"></i> Open his wet clothes and keep him warm. Shift him / her to nearby hospital</p>
                    </div>
                </p>
            </div>
        </div>
        
        <div class="contentSectionDiv" id="firearms">
            <div class="contentSectionHeading" align="justify">
                <h3>Firearms Safety Tips</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> Treat every firearm as loaded.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Check every firearm yourself.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Pass or accept only an open or unloaded firearm</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Always point firearms in a safe direction</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Loaded or unloaded, always point the muzzle in a safe direction.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Load a firearm only when ready to fire.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Load the magazine only when you reach your shooting area.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Load the chamber only when ready to shoot.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Completely unload before leaving the shooting area.</p>
               
                </p>
            </div>
        </div>
        <div class="contentSectionDiv" id="tourist">
            <div class="contentSectionHeading" align="justify">
                <h3>Tourist Safety Tips</h3>
            </div>
            <div class="contentPara">
                <p><i class="fas fa-arrow-right mr-2"></i> While travelling in/to various tourist places in local buses, trains etc. be aware of pick pocketers and snatchers.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never leave your luggage, briefcase or other items unattended.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't keep your wallet in the rear pocket. Keep it in an inside jacket pocket or side pocket of your trousers.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> All valuables and important papers (jewelry, passports, return tickets, etc) should be kept in your hotel's safe deposit box. Never leave them unattended in your room.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Don't take the advice of taxi drivers for the purpose of accommodation.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Never ever purchase air/ rail/ bus tickets through strangers or unauthorized travel agents/ tour operators, also known as touts. They are not at all reliable. Buy tickets from the authorized centers only.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Before arrival please pre-book Hotel, lodge, guest house etc. during festive occasion to avoid disappointment / difficulties.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Do not go to any lonely place as it may cause harm.</p>
                <p><i class="fas fa-arrow-right mr-2"></i> Always respect religious shrines and places of worship</p>
                <p><i class="fas fa-arrow-right mr-2"></i>Never leave firearms in a vehicle that is unattended.</p>
                
            </div>
        </div>
        
        
    </div>
</section>
@endsection