@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">SHE Teams</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection removePforSmall">
    <div class="container">
        <div class="contentSectionDiv" align= "justify">
            <div class="contentSectionHeading">
                <h3>{{title}}</h3>                                
            </div>
            <p>The SHE Teams, launched on the 24th of October 2014 has quickly brought about a paradigm change in the role of the Police. It was initially started in Hyderabad City and was replicated in Cyberabad and thereafter in the entire State of Telangana from April 1, 2015.</p>
            <br>
            <p>Thanks to the continuous innovations and ongoing study of desired outcomes and measurable results, the Police have been remarkably successful in curbing sexual harassment of women, while providing complete safety and security to women. At multiple levels, the accent has always been on improving the delivery of public services and simplifying the process of accessing them.</p>
            <br>
            <p>Each of the SHE Teams is headed by a Sub-Inspector of Police and consists of an ASI/HC, a lady constable and 2-3 male constables. ‘SHE’ Team is headed and supervised by an officer of Inspector of Police rank. The SHE Teams work in two ways to nab culprits: (1) red-handed, with its personnel recording the offence; and (2) acting on complaints received through WhatsApp and certain social media platforms like Facebook, Twitter, mobile app Hawk Eye, email, India Posts and direct walk-ins into the SHE Teams office.</p>
            <br>
            <p>To ensure a citizen and community-friendly interaction, the SHE team personnel do not wear Police Uniform. Also, to ensure that the team is constantly infused with new energy, a section of team members are replaced periodically. Only police personnel with spotlessly clean record and good antecedents are selected to be a part of these teams.</p>
        </div>
        <div class="contentSectionDiv" align= "justify">
            <div class="contentSectionHeading">
                <h3>TAKING GENDER SENSITIVITY TO THE NEXT LEVEL</h3>
            </div>
            <p>SHE Teams have helped the police department maintain a high conviction rate mainly due to the unremitting focus on collecting solid evidence before making any move. Cases are registered Suo-moto when victimized women don’t come forward to register a case. In many cases, the offender’s family members are called and counselled at the police station. This is because it has been observed that taking the offender to task before his near and dear ones usually has a positive impact.</p>
            <br>
            <p>If the offender is a minor; he will be counselled individually in front of his family members (usually parents) by designated officers, panel of psychologists to mend his ways and the details of these conversations are recorded. If the offender is a major, a case is booked. Cases are registered only after a thorough enquiry. Ample care is taken to ensure that the victims are treated properly. None of them is subject to ill-treatment or indignities, either wittingly or unwittingly, during the process of extracting full information about the offence. This has become possible because every member of the SHE Teams is trained in gender-sensitive policing, approved methods and techniques of operations, and the use of appropriate technology. Besides, they have essential knowledge of the legal provisions regarding crimes against women.</p>
        </div>
        <div class="contentSectionDiv" align= "justify">
            <div class="contentSectionHeading">
                <h3>NABBING COOLLY AT ‘HOT SPOTS’</h3>
            </div>
            <p>SHE Teams either nab offenders red-handed or act swiftly on complaints. In either case, the studied emphasis is on gathering solid evidence so that offenders are brought to book without fail.</p>
            <br>
            <p>With a view to nabbing offenders red-handed, ‘hotspots’ are identified. These are public as well as private spaces where harassment of women is known to take place. Sometimes, the areas are identified on the basis of complaints or indications from the available CCTV footage. Thus, hot spots include bus stands, railway stations, vicinity of colleges/schools, ladies’ hostels, parks, hospitals etc.</p>
            <br>
            <p>Before reaching the identified hot spot, members of the SHE Teams leave their vehicles at a strategic distance and go ahead with their task unobtrusively. At the hot spot, the SHE Team members typically maintain a distance of 50 mts. They initially just maintain eye contact and closely observe the goings-on. Once eve-teasing becomes obvious, the offender’s actions are recorded through a discreet camera. After that, the eve-teaser is caught by the team. He is then brought to the police station and his antecedents checked.</p>
            <br>
            <p>First-time offenders are booked under petty cases, usually under Section 290 of IPC or Sec 70 (c) of City Police Act (where the woman is unwilling to give a written complaint). If he is a repeat offender or if there is a specific complaint by a woman, a case under cognizable Sections of IPC, including The Criminal Law Amendment Act 2013 (Nirbhaya Act), is booked against him.</p>
            <br>
            <p>Juveniles are professionally counselled by psychologists. This is so because SHE Teams believe that their challenge lies in transforming such juveniles and making them willing participants in anti-harassment campaigns that are conducted with support from partner NGOs. Professional counselling is organized for most of the offenders to bring about a lasting change in their behavior and to help them develop a positive mindset.</p>            
        </div>
        <div class="contentSectionDiv" align= "justify">
            <div class="contentSectionHeading">
                <h3>MULTI-PRONGED AWARENESS DRIVE</h3>
            </div>
            <p>On a regular basis, awareness is created at bus stands, colleges, hostels, shopping malls and other hotspots regarding SHE Teams. Posters, pamphlets, stickers etc. are distributed. Digital displays are also used at traffic junctions. Short films, SHE Teams theme songs, slides for display in cinema theatres and various forms of multi-media campaigns are taken up. Runs and Bikeathon rallies, legal awareness camps and programs to teach women self-defence techniques are organized. The upshot is that women are encouraged to come out and boldly complain regarding any kind of harassment that they face.</p>
            <br>
            <p>Over the years, the Department has built substantial database relating to the offenders, along with the details of the cases and categories of offences. This is helping the department in monitoring the activities of eve-teasers and in planning additional measures in vulnerable and sensitive areas.</p>
            <br>
            <p>While acting on complaints, SHE Teams use latest technology to the hilt to detect cases. Various systems are in place to nab offenders harassing women through phone calls, messages, emails and social media platforms. SHE Teams, working in coordination with other wings, have developed robust systems. These systems have unified communications for strategic purposes, while seamlessly integrating telecommunications, computers, enterprise software, storage and audio-visual systems. All this has enabled the department to access, store, share, transmit, and process vital bits of information that can help in the prevention and detection of crimes against women. The entire exercise has contributed to a healthy convergence of audio-visual and telephone networks with computer networks, apart from resulting in substantial savings.</p>
            <br>
            <p>SHE Teams produce digital evidence to prove the offence in the court beyond any reasonable doubt and thus secure cent percent convictions. This tends to have a great impact on wrongdoers and helps prevent recurrence of the offences. By maintaining confidentiality of the victims, SHE Teams provide a sense of security to victims. This is one of the major reasons for a number of victims are approaching the authorities directly without hesitation.</p>
            <br>
            <p>Only Police Personnel with clean record and good antecedents are selected to be a part of these teams.</p>
            <p><b>Address:</b> Opp: Old Central Prison, Rangampet, Warangal, Telangana 506001.<a href="https://www.google.com/maps/place/Sub+Divisional+Police+Office/@17.9953375,79.589461,20z/data=!4m5!3m4!1s0x3a33450e8b7bd7e9:0x9339bbb4760c3fc5!8m2!3d17.9953056!4d79.5897283.html" target= "_blank">click here for location</a></p>            
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading">
                <h3>CONTACT: SHE TEAMS INCHARGE</h3>
            </div>
            <div class="card sheTeamCard">
                <div class="card-body">                    
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-tile">Name:</h5>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">M. Sairamana</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-tile">Role:</h5>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">Inspector of Police</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-tile">Cell No:</h5>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">7901137146</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-tile">WhatsApp:</h5>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">9491089257</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@endsection