@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Social Media Frauds</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/socialmediaFrauds.png" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>What are Social Media Frauds?</h3>
                <p>Social Media has become an integral part of our lives. It is the new way of communicating, sharing and informing people about the events in our lives. We share our day-to-day activities on social media in the form of self and family photographs, updates on our locations/whereabouts, our views/thoughts on prevalent topics etc. One can understand the entire history of an individual through their social media profile and can even predict future events based on patterns in the past.</p>
                <p>This poses a threat to an individual as unwanted access to social media profile can cause loss of information, defamation, identity theft or even worse consequences such as physical/sexual assault, robbery etc. Hence, protection and appropriate use of social media profiles is very important.</p>
                <p> Examples of social media frauds:</p>
            </div>
            <div class="contentSectionHeading" align="justify">
                <h4>1) Sympathy Fraud</h4>
                <p>
                    The attacker becomes friends with the victim on social media. The attacker gains trust by frequent interactions. The attacker later extracts money/harms the victim.</p>
            </div>
            <div class="contentSectionHeading" align="justify">
                <h4>2) Romance Fraud </h4>
                <p>The attacker becomes friend with the victim on social media. Over a period, the attacker gains the victim's affection. The attacker later exploits the victim physically, financially and/or emotionally.</p>
            </div>
            <div class="contentSectionHeading" align="justify">
                <h4>3) Cyber Stalking</h4>
                <p>Cyber Stalking is a crime in which the attacker harasses a victim using electronic communication, such as e-mail, instant messaging (IM), messages posted on a website or a discussion group. A cyber stalker relies upon the fact that his/her true identity is not known in the digital world. A cyber stalker targets the victims with threatening/abusive messages and follows them/their activities in the real world.</p>
            </div>
            <div class="contentSectionHeading" align="justify">
                <h4>4) Cyber Bullying</h4>
                <p>Cyber Bullying is bullying that takes place over digital devices. Cyber Bullying can occur through SMS, social media, forums or gaming apps where people can view, participate or share content. Cyber Bullying includes sending, posting or sharing negative, harmful, false content about someone else. The intention is to cause embarrassment or humiliation. At times, it can also cross the line into unlawful criminal behaviour.</p>
            </div>
        </div>
        <div class="contentSectionDiv">
            <div class="contentSectionHeading" align="justify">
                <h3>Be careful:</h3>
                <ul class="contentList">
                    <li>If your child’s behaviour is changing and he/she is more aggressive than before, and suddenly stops talking with you or his/her friends.</li>
                    <li>If he/she stops using digital devices or is scared.</li>
                    <li>Make your children aware that Cyber Bullying is a punishable crime so that they do not indulge themselves in Cyber Bullying or do not let anyone bully them.</li>
                    <li>Discuss safe internet practices with your friends and family regularly.</li>
                    <li>Monitor your kid’s activity on the internet/social media. Enable parental controls on computer/mobile devices.</li>
                    <li>Even if the children or students know about any friend who is a victim of Cyber Bullying, they should help the victim. Report the matter to parents or teachers immediately.</li>
                    <li>Do not delete offensive messages as it will help the police in investigation. li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv"align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                    <li>Take a clearly visible screenshot of the evidence.</li>
                    <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                    <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                    <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
        </div>
    </div>
    </div>
</section>
@endsection