@layout('layouts.app')
@section('content')
<section class="headingSection">
    <div class="headingDiv d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="wow fadeInDown" data-wow-duration="2s">Cyber Awareness</h2>
                    <h4 class="wow fadeInUp" data-wow-duration="2s">Tips to Keep Tou Safe</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentSection">
    <div class="container">
        <div class="contentSectionDiv" align="justify">
            <div class="contentImg">
                <img src="images/cyberAwareness/tipsToKeepYouSafe.jpg" alt="" class="img-fluid">
            </div>
            <div class="contentSectionHeading">
                <h3>GENERAL TIPS TO KEEP YOU SAFE</h3>
                <ul class="contentList">
                    <li>Always keep your systems/devices (desktop, laptop, mobile) updated with the latest patches.</li>
                    <li>Protect systems/devices through security software such as anti-virus with the latest version.</li>
                    <li>Always download software or applications from known and trusted sources only. Never use pirated software on your systems/devices.</li>
                    <li>Ensure all devices/accounts are protected by a strong PIN or passcode. Never share your PIN or password with anyone.</li>
                    <li>Do not share your net-banking password, One Time Password (OTP), ATM or phone banking PIN, CVV number etc. with any person even if he/she claims to be an employee or a representative of the bank and report such instances to your bank immediately.</li>
                    <li>Always change the default admin password on your Wi-Fi router to a strong password known only to you. In addition, always configure your wireless network to use the latest encryption (contact your network service provider, in case of any doubt).</li>
                    <li>Be cautious while browsing through a public Wi-Fi and avoid logging in to personal & professional accounts such as e-mail or banking on these networks.</li>
                    <li>Always use a virtual keyboard to access net-banking facility from public computers; and logout from banking portal/website after completion of online transaction. Also ensure to delete browsing history from web browsers (Internet Explorer, Chrome, Firefox etc.) after completion of online banking activity.</li>
                    <li>Do scan all e-mail attachments for viruses before opening them. Avoid downloading email attachments received in e-mails from unknown or un-trusted sources.</li>
                    <li>Be careful while sharing identity proof documents especially if you cannot verify the authenticity of the company/person with whom you are sharing the information.</li>
                    <li>Note the IMEI code of your cell phone and keep it in a safe place. The operator can blacklist/ block/trace a phone using the IMEI code, in case the cell phone is stolen.</li>
                    <li>Observe your surroundings for skimmers or people observing your PIN before using an ATM.</li>
                    <li>Discuss safe internet practices and netiquettes with your friends and family regularly. Motivate them to learn more about cybercrimes and safe cyber practices.</li>
                    <li>Do not save your card or bank account details in your e-wallet as it increases the risk of theft or fraudulent transactions in case of a security breach.</li>
                    <li>If you think you are compromised, inform authorities immediately.</li>
                </ul>
            </div>
        </div>
        <div class="contentSectionDiv" align="justify">
            <div class="contentSectionHeading">
                <h3>Incident Reporting</h3>
                <h4>How & Where to Report a Cyber Fraud?</h4>
                <ul class="contentList">
                    <li>Take a clearly visible screenshot of the evidence.</li>
                    <li>Brief facts of the complaint explaining how you have come in contact with the alleged person/website and subsequent fraud.</li>
                    <li>Visit the nearest Police Station/Cyber Cell immediately.</li>
                    <li align="justify">To report cybercrime complaints online, visit the National Cyber Crime Reporting Portal. This portal can be accessed at <a href="https://cybercrime.gov.in" target="_blank">https://cybercrime.gov.in</a>. In this portal, there are two sections. One section is to report crimes related to Women and Children (where reports can be filed anonymously as well). Another section is to report other types of cybercrimes. Complaint can also be filed via offline by dialing the helpline number 
                    <strong>1930</strong> which connects to the T4C i.e., Telangana Cyber Crimes Co-ordination Centre from which authorized personnel will  guide the victim in freezing/ withholding the victim's amount in the bank account.</li>
                </ul>
        </div>
    </div>

    </div>
</section>
@endsection