@layout('layouts.app')
@section('content')
    <section class="headingSection">
        <div class="headingDiv d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="wow fadeInDown" data-wow-duration="2s">Vision and Mission</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section class="contentSection">
        <div class="container">
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading p-0">
                    <h3 class="m-0"><img src="images/visionmission/focus.png" alt="" class="mr-2">Vision</h3>
                </div>
                <ul class="contentList1">
                <li> <h5>“To provide safe and secure environment to the citizens of our Heritage City by adopting best practices for crime prevention, create a value-based ecosystem for transformational leadership and strategic policing, so that our Citizens can dream, progress, innovate and pursue happiness in their lives.”</h5></li>
                </ul>
            </div>
            <div class="contentSectionDiv" align="justify">
                <div class="contentSectionHeading p-0">
                    <h3 class="m-0"><img src="images/visionmission/target.png" alt="" class="mr-2">Mission</h3>
                </div>
                <ul class="contentList1"> 
                   <h5> <li><h5>Positive relationships with the Society and encouraging the Youth for vibrant Nation-building by making positive impacts on their lives.</h5>
                    </li>
                    <li><h5>Protecting the basic rights of the Citizens, particularly the vulnerable sections such as the Elderly and the Children.</h5>
                    </li>
                    <li><h5>Fostering strong bonding with the Citizens through effective Community Policing activities.</h5>
                    </li>
                    <li><h5>Bringing effective processes and efficient services through the modern tools and technology by partnering with the Industry.</h5>
                    </li>
                    <li><h5>Educating and empowering the Commissionerate personnel for handling modern day crime such as Cyber Offences, Economic Fraud and Narcotics.</h5></li>
                    <li><h5>Design ‘Standard Operating Procedures’ and integrate best practices into the Department to give World-class services to our Citizens.</h5></li>
                </ul>
            </div>
        </div>
    </section>
    
@endsection